.wf_cobros_live.json
{"updatedAt":"2026-03-31T04:53:40.302Z","createdAt":"2026-03-30T23:22:58.866Z","id":"HW1MLmCmpwP6BmYl","name":"Kommo Cobranzas - Reporte Excel Diario","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":8}]}},"id":"cron-cobros-01","name":"Cron Diario Cobros 08:00","type":"n8n-nodes-base.cron","typeVersion":1,"position":[240,304]},{"parameters":{"jsCode":"\nconst CFG = {\"baseUrl\":\"https://agroriegoscorp.kommo.com\",\"token\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjEyNjBhODkxNjZlMWZiNTI1MGVkZTFlNzVhY2ZhYjY3NWUxMjIyYzBmNjhlZjk5YTkxODhlNzRlODJiODVjYmYxMTY1ZTcwMDBiYmQ3NzliIn0.eyJhdWQiOiJkNGZjYmE0MS03NTM1LTQzOWYtOTk5Yy00YjZlNzA3NGUzMzIiLCJqdGkiOiIxMjYwYTg5MTY2ZTFmYjUyNTBlZGUxZTc1YWNmYWI2NzVlMTIyMmMwZjY4ZWY5OWE5MTg4ZTc0ZTgyYjg1Y2JmMTE2NWU3MDAwYmJkNzc5YiIsImlhdCI6MTc3NDM5MDcwOSwibmJmIjoxNzc0MzkwNzA5LCJleHAiOjE5MDY0MTYwMDAsInN1YiI6IjE1MDA0MDE5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2MjQ4Nzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTkwNTZiMDUtMjUzNi00NWM4LTkyYjgtNmM1ZjhkNmZhODc0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.TRv4MRF9eVCbNJW-zjYzX4BTOUQ7p2AuM7DZx97UQyYdL81itbaILIro2nhS1rxqHXa-k3FUUtL48qK3FnZi3O9uz0jJuDeeqH2RdKNkCviTO7t5ggnVqePntPFxS5BXmlVxDpRTgHHvywJYgWBnxx92D7YJzVsubScTUbT5AY-6qPKr9hMfpQnaK6BeEZUQIFIW_vUeo5TSKN9Ngc9bpCXtWEiA9OjMVapLJXM0aw1IvyrIkr38fod26Ef9dxGrm9hyrVNS3amGNcpG9IrMEyo3d_ZcG5HQAnQ1bw2_avXhEFY0QcD0r5UmL_9uqx_pvHCCxLbVJxwDfnTO3IZDZA\",\"pipelineId\":13403731,\"tag\":\"cobranza_n8n_excel\",\"fieldIds\":{\"documento\":3272952,\"telefono\":3281414,\"fecha_venc_text\":3281430,\"saldo_pendiente\":3272956,\"pago_realizado\":3281416,\"razon_social\":3281418,\"fecha_abono\":3293960,\"status_pago\":3281432},\"statusPagoEnums\":{\"pagado\":8030168,\"abonado\":8030170,\"no_pagado\":8030172}};\n\nfunction fieldVal(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return '';\n  const v = hit.values[0].value;\n  return v === null || v === undefined ? '' : String(v);\n}\n\nfunction fieldEnumId(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return 0;\n  return Number(hit.values[0].enum_id || 0);\n}\n\nfunction readStatusPago(lead) {\n  const enumId = fieldEnumId(lead, CFG.fieldIds.status_pago);\n  if (enumId === CFG.statusPagoEnums.pagado) return 'Pagado';\n  if (enumId === CFG.statusPagoEnums.abonado) return 'Abonado';\n  if (enumId === CFG.statusPagoEnums.no_pagado) return 'No Pagado';\n  return '';\n}\n\nasync function req(method, path) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: { Authorization: 'Bearer ' + CFG.token },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nconst leads = [];\nfor (let page = 1; page <= 100; page++) {\n  const res = await req('GET', '/api/v4/leads?limit=250&page=' + page + '&with=custom_fields_values,tags');\n  if (res.statusCode >= 400) break;\n  const chunk = res.body?._embedded?.leads || [];\n  if (!chunk.length) break;\n  leads.push(...chunk);\n  if (!res.body?._links?.next?.href) break;\n}\n\nconst rows = [];\nfor (const lead of leads) {\n  const tags = (lead._embedded?.tags || []).map(t => String(t.name || '').toLowerCase().trim());\n  if (!tags.includes(CFG.tag.toLowerCase())) continue;\n  if (Number(lead.pipeline_id) !== Number(CFG.pipelineId)) continue;\n\n  const pagoAcumulado = Number(fieldVal(lead, CFG.fieldIds.pago_realizado) || 0);\n  if (!(pagoAcumulado > 0)) continue;\n\n  const saldoPendiente = Number(fieldVal(lead, CFG.fieldIds.saldo_pendiente) || 0);\n  const saldoOriginal = pagoAcumulado + saldoPendiente;\n\n  rows.push({\n    DOCUMENTO: fieldVal(lead, CFG.fieldIds.documento),\n    RAZON_SOCIAL: fieldVal(lead, CFG.fieldIds.razon_social),\n    TELEFONO: fieldVal(lead, CFG.fieldIds.telefono),\n    FECHA_VENCIMIENTO: fieldVal(lead, CFG.fieldIds.fecha_venc_text),\n    SALDO_ORIGINAL: saldoOriginal,\n    PAGO_ACUMULADO: pagoAcumulado,\n    SALDO_PENDIENTE: saldoPendiente,\n    FECHA_ULTIMO_ABONO: fieldVal(lead, CFG.fieldIds.fecha_abono),\n    STATUS_PAGO: readStatusPago(lead),\n  });\n}\n\nrows.sort((a, b) => String(a.DOCUMENTO).localeCompare(String(b.DOCUMENTO)));\n\nreturn rows.map(r => ({ json: r }));\n"},"id":"code-cobros-01","name":"Generar Filas Cobros (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,304]},{"parameters":{"jsCode":"\nconst rows = $input.all().map(i => i.json);\n\nif (!rows.length) {\n  return [{ json: { skipped: true } }];\n}\n\nconst headers = [\n  { key: 'DOCUMENTO',          label: 'Documento / Factura' },\n  { key: 'RAZON_SOCIAL',       label: 'Razon Social' },\n  { key: 'TELEFONO',           label: 'Telefono' },\n  { key: 'FECHA_VENCIMIENTO',  label: 'Fecha Vencimiento' },\n  { key: 'SALDO_ORIGINAL',     label: 'Saldo Original' },\n  { key: 'PAGO_ACUMULADO',     label: 'Pago Acumulado' },\n  { key: 'SALDO_PENDIENTE',    label: 'Saldo Pendiente' },\n  { key: 'FECHA_ULTIMO_ABONO', label: 'Fecha Ultimo Abono' },\n  { key: 'STATUS_PAGO',        label: 'Estatus Pago' },\n];\n\nconst moneyKeys = new Set(['SALDO_ORIGINAL','PAGO_ACUMULADO','SALDO_PENDIENTE']);\n\nfunction esc(v) {\n  return String(v === null || v === undefined ? '' : v)\n    .replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;')\n    .replace(/\"/g,'&quot;').replace(/'/g,'&apos;');\n}\n\nfunction colLetter(n) {\n  let s = '';\n  while (n > 0) { n--; s = String.fromCharCode(65 + n % 26) + s; n = Math.floor(n / 26); }\n  return s;\n}\n\nconst styleXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<styleSheet xmlns=\"http://schemas.openxmlformats.org/spreadsheetml/2006/main\">' +\n'<fonts count=\"4\">' +\n'<font><sz val=\"10\"/><color rgb=\"FF000000\"/><name val=\"Calibri\"/></font>' +\n'<font><b/><sz val=\"11\"/><color rgb=\"FFFFFFFF\"/><name val=\"Calibri\"/></font>' +\n'<font><sz val=\"10\"/><color rgb=\"FF1A6B1A\"/><name val=\"Calibri\"/></font>' +\n'<font><sz val=\"10\"/><color rgb=\"FF856404\"/><name val=\"Calibri\"/></font>' +\n'</fonts>' +\n'<fills count=\"5\">' +\n'<fill><patternFill patternType=\"none\"/></fill>' +\n'<fill><patternFill patternType=\"gray125\"/></fill>' +\n'<fill><patternFill patternType=\"solid\"><fgColor rgb=\"FF2E4057\"/></patternFill></fill>' +\n'<fill><patternFill patternType=\"solid\"><fgColor rgb=\"FFD6F5D6\"/></patternFill></fill>' +\n'<fill><patternFill patternType=\"solid\"><fgColor rgb=\"FFFFF3CD\"/></patternFill></fill>' +\n'</fills>' +\n'<borders count=\"1\"><border><left/><right/><top/><bottom/><diagonal/></border></borders>' +\n'<cellStyleXfs count=\"1\"><xf numFmtId=\"0\" fontId=\"0\" fillId=\"0\" borderId=\"0\"/></cellStyleXfs>' +\n'<cellXfs count=\"6\">' +\n'<xf numFmtId=\"0\" fontId=\"0\" fillId=\"0\" borderId=\"0\" xfId=\"0\"/>' +\n'<xf numFmtId=\"0\" fontId=\"1\" fillId=\"2\" borderId=\"0\" xfId=\"0\" applyFont=\"1\" applyFill=\"1\"><alignment horizontal=\"center\" vertical=\"center\" wrapText=\"1\"/></xf>' +\n'<xf numFmtId=\"4\" fontId=\"2\" fillId=\"3\" borderId=\"0\" xfId=\"0\" applyFont=\"1\" applyFill=\"1\" applyNumberFormat=\"1\"><alignment horizontal=\"right\" vertical=\"center\"/></xf>' +\n'<xf numFmtId=\"4\" fontId=\"3\" fillId=\"4\" borderId=\"0\" xfId=\"0\" applyFont=\"1\" applyFill=\"1\" applyNumberFormat=\"1\"><alignment horizontal=\"right\" vertical=\"center\"/></xf>' +\n'<xf numFmtId=\"0\" fontId=\"2\" fillId=\"3\" borderId=\"0\" xfId=\"0\" applyFont=\"1\" applyFill=\"1\"><alignment vertical=\"center\"/></xf>' +\n'<xf numFmtId=\"0\" fontId=\"3\" fillId=\"4\" borderId=\"0\" xfId=\"0\" applyFont=\"1\" applyFill=\"1\"><alignment vertical=\"center\"/></xf>' +\n'</cellXfs>' +\n'</styleSheet>';\n\nlet sheetRows = '';\nsheetRows += '<row r=\"1\" ht=\"28\" customHeight=\"1\">';\nheaders.forEach((h, i) => {\n  const col = colLetter(i + 1);\n  sheetRows += '<c r=\"' + col + '1\" t=\"inlineStr\" s=\"1\"><is><t>' + esc(h.label) + '</t></is></c>';\n});\nsheetRows += '</row>';\n\nrows.forEach((row, ri) => {\n  const r = ri + 2;\n  const isPagado = String(row.STATUS_PAGO || '') === 'Pagado';\n  sheetRows += '<row r=\"' + r + '\" ht=\"20\" customHeight=\"1\">';\n  headers.forEach((h, i) => {\n    const col = colLetter(i + 1);\n    const isMoney = moneyKeys.has(h.key);\n    const val = row[h.key];\n    if (isMoney) {\n      const num = Number(val) || 0;\n      const s = isPagado ? '2' : '3';\n      sheetRows += '<c r=\"' + col + r + '\" t=\"n\" s=\"' + s + '\"><v>' + num + '</v></c>';\n    } else {\n      const s = isPagado ? '4' : '5';\n      sheetRows += '<c r=\"' + col + r + '\" t=\"inlineStr\" s=\"' + s + '\"><is><t>' + esc(val) + '</t></is></c>';\n    }\n  });\n  sheetRows += '</row>';\n});\n\nconst lastCol = colLetter(headers.length);\n\nconst sheetXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<worksheet xmlns=\"http://schemas.openxmlformats.org/spreadsheetml/2006/main\" xmlns:r=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships\">' +\n'<sheetViews><sheetView workbookViewId=\"0\"><pane ySplit=\"1\" topLeftCell=\"A2\" activePane=\"bottomLeft\" state=\"frozen\"/></sheetView></sheetViews>' +\n'<sheetFormatPr defaultRowHeight=\"15\"/>' +\n'<cols>' +\n'<col min=\"1\" max=\"1\" width=\"22\" customWidth=\"1\"/>' +\n'<col min=\"2\" max=\"2\" width=\"36\" customWidth=\"1\"/>' +\n'<col min=\"3\" max=\"3\" width=\"18\" customWidth=\"1\"/>' +\n'<col min=\"4\" max=\"4\" width=\"18\" customWidth=\"1\"/>' +\n'<col min=\"5\" max=\"5\" width=\"16\" customWidth=\"1\"/>' +\n'<col min=\"6\" max=\"6\" width=\"16\" customWidth=\"1\"/>' +\n'<col min=\"7\" max=\"7\" width=\"16\" customWidth=\"1\"/>' +\n'<col min=\"8\" max=\"8\" width=\"20\" customWidth=\"1\"/>' +\n'<col min=\"9\" max=\"9\" width=\"14\" customWidth=\"1\"/>' +\n'</cols>' +\n'<sheetData>' + sheetRows + '</sheetData>' +\n'<autoFilter ref=\"A1:' + lastCol + '1\"/>' +\n'</worksheet>';\n\nconst wbXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<workbook xmlns=\"http://schemas.openxmlformats.org/spreadsheetml/2006/main\" xmlns:r=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships\">' +\n'<sheets><sheet name=\"Cobros\" sheetId=\"1\" r:id=\"rId1\"/></sheets>' +\n'</workbook>';\n\nconst wbRelsXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<Relationships xmlns=\"http://schemas.openxmlformats.org/package/2006/relationships\">' +\n'<Relationship Id=\"rId1\" Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/worksheet\" Target=\"worksheets/sheet1.xml\"/>' +\n'<Relationship Id=\"rId2\" Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/styles\" Target=\"styles.xml\"/>' +\n'</Relationships>';\n\nconst relsXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<Relationships xmlns=\"http://schemas.openxmlformats.org/package/2006/relationships\">' +\n'<Relationship Id=\"rId1\" Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/officeDocument\" Target=\"xl/workbook.xml\"/>' +\n'</Relationships>';\n\nconst contentTypesXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<Types xmlns=\"http://schemas.openxmlformats.org/package/2006/content-types\">' +\n'<Default Extension=\"rels\" ContentType=\"application/vnd.openxmlformats-package.relationships+xml\"/>' +\n'<Default Extension=\"xml\" ContentType=\"application/xml\"/>' +\n'<Override PartName=\"/xl/workbook.xml\" ContentType=\"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet.main+xml\"/>' +\n'<Override PartName=\"/xl/worksheets/sheet1.xml\" ContentType=\"application/vnd.openxmlformats-officedocument.spreadsheetml.worksheet+xml\"/>' +\n'<Override PartName=\"/xl/styles.xml\" ContentType=\"application/vnd.openxmlformats-officedocument.spreadsheetml.styles+xml\"/>' +\n'</Types>';\n\nconst JSZip = require('jszip');\nconst zip = new JSZip();\nzip.file('[Content_Types].xml', contentTypesXml);\nzip.file('_rels/.rels', relsXml);\nzip.file('xl/workbook.xml', wbXml);\nzip.file('xl/_rels/workbook.xml.rels', wbRelsXml);\nzip.file('xl/worksheets/sheet1.xml', sheetXml);\nzip.file('xl/styles.xml', styleXml);\n\nconst buffer = await zip.generateAsync({ type: 'nodebuffer', compression: 'DEFLATE' });\nconst base64 = buffer.toString('base64');\nconst today = new Date().toISOString().slice(0, 10);\nconst fileName = 'cobros_' + today + '.xlsx';\n\nreturn [{\n  json: { fileName, rows: rows.length },\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName,\n    }\n  }\n}];\n"},"id":"spreadsheet-cobros-01","name":"Formatear Excel (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[704,304]},{"parameters":{"name":"=cobros_{{ new Date().toISOString().slice(0,10) }}.xlsx","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1QFbTelTwH9M9_Sl-1F17KkiTgv9CqGl2","mode":"id"},"options":{}},"id":"drive-cobros-01","name":"Subir a Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,304],"credentials":{"googleDriveOAuth2Api":{"id":"p9Jf1xjKDCPCYy1s","name":"Google Drive account 2"}}},{"parameters":{"path":"cobros-reporte-test","options":{}},"id":"webhook-cobros-01","name":"Webhook Test Cobros","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,464],"webhookId":"fd130f1b-ef4b-4dc6-b38e-945b1f2d4f46"},{"parameters":{"operation":"search"},"id":"drive-search-01","name":"Buscar Archivo Existente","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[912,304],"credentials":{"googleDriveOAuth2Api":{"id":"p9Jf1xjKDCPCYy1s","name":"Google Drive account 2"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ .id }}","mode":"id"},"options":{}},"id":"drive-delete-01","name":"Borrar Archivo Anterior","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,304],"credentials":{"googleDriveOAuth2Api":{"id":"p9Jf1xjKDCPCYy1s","name":"Google Drive account 2"}}}],"connections":{"Cron Diario Cobros 08:00":{"main":[[{"node":"Generar Filas Cobros (Code)","type":"main","index":0}]]},"Generar Filas Cobros (Code)":{"main":[[{"node":"Formatear Excel (Code)","type":"main","index":0}]]},"Webhook Test Cobros":{"main":[[{"node":"Generar Filas Cobros (Code)","type":"main","index":0}]]},"Formatear Excel (Code)":{"main":[[{"node":"Buscar Archivo Existente","type":"main","index":0}]]},"Buscar Archivo Existente":{"main":[[{"node":"Borrar Archivo Anterior","type":"main","index":0}]]},"Borrar Archivo Anterior":{"main":[[{"node":"Subir a Drive","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"ffc5bf08-a086-4f2c-acd6-06a5da9675b2","activeVersionId":"ffc5bf08-a086-4f2c-acd6-06a5da9675b2","versionCounter":52,"triggerCount":2,"shared":[{"updatedAt":"2026-03-30T23:22:58.868Z","createdAt":"2026-03-30T23:22:58.868Z","role":"workflow:owner","workflowId":"HW1MLmCmpwP6BmYl","projectId":"r4oqB6LLZI9aqq9A","project":{"updatedAt":"2026-02-17T01:18:53.980Z","createdAt":"2026-02-17T01:16:43.638Z","id":"r4oqB6LLZI9aqq9A","name":"Luis Puente <luisfrpuente@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"97ea2654-fe8a-429f-8016-bc837138bdd0","projectRelations":[{"updatedAt":"2026-02-17T01:16:43.639Z","createdAt":"2026-02-17T01:16:43.639Z","userId":"97ea2654-fe8a-429f-8016-bc837138bdd0","projectId":"r4oqB6LLZI9aqq9A","user":{"updatedAt":"2026-03-31T04:25:04.000Z","createdAt":"2026-02-17T01:16:43.320Z","id":"97ea2654-fe8a-429f-8016-bc837138bdd0","email":"luisfrpuente@gmail.com","firstName":"Luis","lastName":"Puente","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-02-17T01:19:05.438Z","personalization_survey_n8n_version":"2.6.3"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"TDiINdgzi1YIiIZlwX0zG","userActivatedAt":1771294642757,"easyAIWorkflowOnboarded":true,"npsSurvey":{"responded":true,"lastShownAt":1774916246766}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-30","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-31T04:53:40.303Z","createdAt":"2026-03-31T04:53:40.303Z","versionId":"ffc5bf08-a086-4f2c-acd6-06a5da9675b2","workflowId":"HW1MLmCmpwP6BmYl","nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":8}]}},"id":"cron-cobros-01","name":"Cron Diario Cobros 08:00","type":"n8n-nodes-base.cron","typeVersion":1,"position":[240,304]},{"parameters":{"jsCode":"\nconst CFG = {\"baseUrl\":\"https://agroriegoscorp.kommo.com\",\"token\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjEyNjBhODkxNjZlMWZiNTI1MGVkZTFlNzVhY2ZhYjY3NWUxMjIyYzBmNjhlZjk5YTkxODhlNzRlODJiODVjYmYxMTY1ZTcwMDBiYmQ3NzliIn0.eyJhdWQiOiJkNGZjYmE0MS03NTM1LTQzOWYtOTk5Yy00YjZlNzA3NGUzMzIiLCJqdGkiOiIxMjYwYTg5MTY2ZTFmYjUyNTBlZGUxZTc1YWNmYWI2NzVlMTIyMmMwZjY4ZWY5OWE5MTg4ZTc0ZTgyYjg1Y2JmMTE2NWU3MDAwYmJkNzc5YiIsImlhdCI6MTc3NDM5MDcwOSwibmJmIjoxNzc0MzkwNzA5LCJleHAiOjE5MDY0MTYwMDAsInN1YiI6IjE1MDA0MDE5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2MjQ4Nzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTkwNTZiMDUtMjUzNi00NWM4LTkyYjgtNmM1ZjhkNmZhODc0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.TRv4MRF9eVCbNJW-zjYzX4BTOUQ7p2AuM7DZx97UQyYdL81itbaILIro2nhS1rxqHXa-k3FUUtL48qK3FnZi3O9uz0jJuDeeqH2RdKNkCviTO7t5ggnVqePntPFxS5BXmlVxDpRTgHHvywJYgWBnxx92D7YJzVsubScTUbT5AY-6qPKr9hMfpQnaK6BeEZUQIFIW_vUeo5TSKN9Ngc9bpCXtWEiA9OjMVapLJXM0aw1IvyrIkr38fod26Ef9dxGrm9hyrVNS3amGNcpG9IrMEyo3d_ZcG5HQAnQ1bw2_avXhEFY0QcD0r5UmL_9uqx_pvHCCxLbVJxwDfnTO3IZDZA\",\"pipelineId\":13403731,\"tag\":\"cobranza_n8n_excel\",\"fieldIds\":{\"documento\":3272952,\"telefono\":3281414,\"fecha_venc_text\":3281430,\"saldo_pendiente\":3272956,\"pago_realizado\":3281416,\"razon_social\":3281418,\"fecha_abono\":3293960,\"status_pago\":3281432},\"statusPagoEnums\":{\"pagado\":8030168,\"abonado\":8030170,\"no_pagado\":8030172}};\n\nfunction fieldVal(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return '';\n  const v = hit.values[0].value;\n  return v === null || v === undefined ? '' : String(v);\n}\n\nfunction fieldEnumId(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return 0;\n  return Number(hit.values[0].enum_id || 0);\n}\n\nfunction readStatusPago(lead) {\n  const enumId = fieldEnumId(lead, CFG.fieldIds.status_pago);\n  if (enumId === CFG.statusPagoEnums.pagado) return 'Pagado';\n  if (enumId === CFG.statusPagoEnums.abonado) return 'Abonado';\n  if (enumId === CFG.statusPagoEnums.no_pagado) return 'No Pagado';\n  return '';\n}\n\nasync function req(method, path) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: { Authorization: 'Bearer ' + CFG.token },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nconst leads = [];\nfor (let page = 1; page <= 100; page++) {\n  const res = await req('GET', '/api/v4/leads?limit=250&page=' + page + '&with=custom_fields_values,tags');\n  if (res.statusCode >= 400) break;\n  const chunk = res.body?._embedded?.leads || [];\n  if (!chunk.length) break;\n  leads.push(...chunk);\n  if (!res.body?._links?.next?.href) break;\n}\n\nconst rows = [];\nfor (const lead of leads) {\n  const tags = (lead._embedded?.tags || []).map(t => String(t.name || '').toLowerCase().trim());\n  if (!tags.includes(CFG.tag.toLowerCase())) continue;\n  if (Number(lead.pipeline_id) !== Number(CFG.pipelineId)) continue;\n\n  const pagoAcumulado = Number(fieldVal(lead, CFG.fieldIds.pago_realizado) || 0);\n  if (!(pagoAcumulado > 0)) continue;\n\n  const saldoPendiente = Number(fieldVal(lead, CFG.fieldIds.saldo_pendiente) || 0);\n  const saldoOriginal = pagoAcumulado + saldoPendiente;\n\n  rows.push({\n    DOCUMENTO: fieldVal(lead, CFG.fieldIds.documento),\n    RAZON_SOCIAL: fieldVal(lead, CFG.fieldIds.razon_social),\n    TELEFONO: fieldVal(lead, CFG.fieldIds.telefono),\n    FECHA_VENCIMIENTO: fieldVal(lead, CFG.fieldIds.fecha_venc_text),\n    SALDO_ORIGINAL: saldoOriginal,\n    PAGO_ACUMULADO: pagoAcumulado,\n    SALDO_PENDIENTE: saldoPendiente,\n    FECHA_ULTIMO_ABONO: fieldVal(lead, CFG.fieldIds.fecha_abono),\n    STATUS_PAGO: readStatusPago(lead),\n  });\n}\n\nrows.sort((a, b) => String(a.DOCUMENTO).localeCompare(String(b.DOCUMENTO)));\n\nreturn rows.map(r => ({ json: r }));\n"},"id":"code-cobros-01","name":"Generar Filas Cobros (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,304]},{"parameters":{"jsCode":"\nconst rows = $input.all().map(i => i.json);\n\nif (!rows.length) {\n  return [{ json: { skipped: true } }];\n}\n\nconst headers = [\n  { key: 'DOCUMENTO',          label: 'Documento / Factura' },\n  { key: 'RAZON_SOCIAL',       label: 'Razon Social' },\n  { key: 'TELEFONO',           label: 'Telefono' },\n  { key: 'FECHA_VENCIMIENTO',  label: 'Fecha Vencimiento' },\n  { key: 'SALDO_ORIGINAL',     label: 'Saldo Original' },\n  { key: 'PAGO_ACUMULADO',     label: 'Pago Acumulado' },\n  { key: 'SALDO_PENDIENTE',    label: 'Saldo Pendiente' },\n  { key: 'FECHA_ULTIMO_ABONO', label: 'Fecha Ultimo Abono' },\n  { key: 'STATUS_PAGO',        label: 'Estatus Pago' },\n];\n\nconst moneyKeys = new Set(['SALDO_ORIGINAL','PAGO_ACUMULADO','SALDO_PENDIENTE']);\n\nfunction esc(v) {\n  return String(v === null || v === undefined ? '' : v)\n    .replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;')\n    .replace(/\"/g,'&quot;').replace(/'/g,'&apos;');\n}\n\nfunction colLetter(n) {\n  let s = '';\n  while (n > 0) { n--; s = String.fromCharCode(65 + n % 26) + s; n = Math.floor(n / 26); }\n  return s;\n}\n\nconst styleXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<styleSheet xmlns=\"http://schemas.openxmlformats.org/spreadsheetml/2006/main\">' +\n'<fonts count=\"4\">' +\n'<font><sz val=\"10\"/><color rgb=\"FF000000\"/><name val=\"Calibri\"/></font>' +\n'<font><b/><sz val=\"11\"/><color rgb=\"FFFFFFFF\"/><name val=\"Calibri\"/></font>' +\n'<font><sz val=\"10\"/><color rgb=\"FF1A6B1A\"/><name val=\"Calibri\"/></font>' +\n'<font><sz val=\"10\"/><color rgb=\"FF856404\"/><name val=\"Calibri\"/></font>' +\n'</fonts>' +\n'<fills count=\"5\">' +\n'<fill><patternFill patternType=\"none\"/></fill>' +\n'<fill><patternFill patternType=\"gray125\"/></fill>' +\n'<fill><patternFill patternType=\"solid\"><fgColor rgb=\"FF2E4057\"/></patternFill></fill>' +\n'<fill><patternFill patternType=\"solid\"><fgColor rgb=\"FFD6F5D6\"/></patternFill></fill>' +\n'<fill><patternFill patternType=\"solid\"><fgColor rgb=\"FFFFF3CD\"/></patternFill></fill>' +\n'</fills>' +\n'<borders count=\"1\"><border><left/><right/><top/><bottom/><diagonal/></border></borders>' +\n'<cellStyleXfs count=\"1\"><xf numFmtId=\"0\" fontId=\"0\" fillId=\"0\" borderId=\"0\"/></cellStyleXfs>' +\n'<cellXfs count=\"6\">' +\n'<xf numFmtId=\"0\" fontId=\"0\" fillId=\"0\" borderId=\"0\" xfId=\"0\"/>' +\n'<xf numFmtId=\"0\" fontId=\"1\" fillId=\"2\" borderId=\"0\" xfId=\"0\" applyFont=\"1\" applyFill=\"1\"><alignment horizontal=\"center\" vertical=\"center\" wrapText=\"1\"/></xf>' +\n'<xf numFmtId=\"4\" fontId=\"2\" fillId=\"3\" borderId=\"0\" xfId=\"0\" applyFont=\"1\" applyFill=\"1\" applyNumberFormat=\"1\"><alignment horizontal=\"right\" vertical=\"center\"/></xf>' +\n'<xf numFmtId=\"4\" fontId=\"3\" fillId=\"4\" borderId=\"0\" xfId=\"0\" applyFont=\"1\" applyFill=\"1\" applyNumberFormat=\"1\"><alignment horizontal=\"right\" vertical=\"center\"/></xf>' +\n'<xf numFmtId=\"0\" fontId=\"2\" fillId=\"3\" borderId=\"0\" xfId=\"0\" applyFont=\"1\" applyFill=\"1\"><alignment vertical=\"center\"/></xf>' +\n'<xf numFmtId=\"0\" fontId=\"3\" fillId=\"4\" borderId=\"0\" xfId=\"0\" applyFont=\"1\" applyFill=\"1\"><alignment vertical=\"center\"/></xf>' +\n'</cellXfs>' +\n'</styleSheet>';\n\nlet sheetRows = '';\nsheetRows += '<row r=\"1\" ht=\"28\" customHeight=\"1\">';\nheaders.forEach((h, i) => {\n  const col = colLetter(i + 1);\n  sheetRows += '<c r=\"' + col + '1\" t=\"inlineStr\" s=\"1\"><is><t>' + esc(h.label) + '</t></is></c>';\n});\nsheetRows += '</row>';\n\nrows.forEach((row, ri) => {\n  const r = ri + 2;\n  const isPagado = String(row.STATUS_PAGO || '') === 'Pagado';\n  sheetRows += '<row r=\"' + r + '\" ht=\"20\" customHeight=\"1\">';\n  headers.forEach((h, i) => {\n    const col = colLetter(i + 1);\n    const isMoney = moneyKeys.has(h.key);\n    const val = row[h.key];\n    if (isMoney) {\n      const num = Number(val) || 0;\n      const s = isPagado ? '2' : '3';\n      sheetRows += '<c r=\"' + col + r + '\" t=\"n\" s=\"' + s + '\"><v>' + num + '</v></c>';\n    } else {\n      const s = isPagado ? '4' : '5';\n      sheetRows += '<c r=\"' + col + r + '\" t=\"inlineStr\" s=\"' + s + '\"><is><t>' + esc(val) + '</t></is></c>';\n    }\n  });\n  sheetRows += '</row>';\n});\n\nconst lastCol = colLetter(headers.length);\n\nconst sheetXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<worksheet xmlns=\"http://schemas.openxmlformats.org/spreadsheetml/2006/main\" xmlns:r=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships\">' +\n'<sheetViews><sheetView workbookViewId=\"0\"><pane ySplit=\"1\" topLeftCell=\"A2\" activePane=\"bottomLeft\" state=\"frozen\"/></sheetView></sheetViews>' +\n'<sheetFormatPr defaultRowHeight=\"15\"/>' +\n'<cols>' +\n'<col min=\"1\" max=\"1\" width=\"22\" customWidth=\"1\"/>' +\n'<col min=\"2\" max=\"2\" width=\"36\" customWidth=\"1\"/>' +\n'<col min=\"3\" max=\"3\" width=\"18\" customWidth=\"1\"/>' +\n'<col min=\"4\" max=\"4\" width=\"18\" customWidth=\"1\"/>' +\n'<col min=\"5\" max=\"5\" width=\"16\" customWidth=\"1\"/>' +\n'<col min=\"6\" max=\"6\" width=\"16\" customWidth=\"1\"/>' +\n'<col min=\"7\" max=\"7\" width=\"16\" customWidth=\"1\"/>' +\n'<col min=\"8\" max=\"8\" width=\"20\" customWidth=\"1\"/>' +\n'<col min=\"9\" max=\"9\" width=\"14\" customWidth=\"1\"/>' +\n'</cols>' +\n'<sheetData>' + sheetRows + '</sheetData>' +\n'<autoFilter ref=\"A1:' + lastCol + '1\"/>' +\n'</worksheet>';\n\nconst wbXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<workbook xmlns=\"http://schemas.openxmlformats.org/spreadsheetml/2006/main\" xmlns:r=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships\">' +\n'<sheets><sheet name=\"Cobros\" sheetId=\"1\" r:id=\"rId1\"/></sheets>' +\n'</workbook>';\n\nconst wbRelsXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<Relationships xmlns=\"http://schemas.openxmlformats.org/package/2006/relationships\">' +\n'<Relationship Id=\"rId1\" Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/worksheet\" Target=\"worksheets/sheet1.xml\"/>' +\n'<Relationship Id=\"rId2\" Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/styles\" Target=\"styles.xml\"/>' +\n'</Relationships>';\n\nconst relsXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<Relationships xmlns=\"http://schemas.openxmlformats.org/package/2006/relationships\">' +\n'<Relationship Id=\"rId1\" Type=\"http://schemas.openxmlformats.org/officeDocument/2006/relationships/officeDocument\" Target=\"xl/workbook.xml\"/>' +\n'</Relationships>';\n\nconst contentTypesXml = '<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>' +\n'<Types xmlns=\"http://schemas.openxmlformats.org/package/2006/content-types\">' +\n'<Default Extension=\"rels\" ContentType=\"application/vnd.openxmlformats-package.relationships+xml\"/>' +\n'<Default Extension=\"xml\" ContentType=\"application/xml\"/>' +\n'<Override PartName=\"/xl/workbook.xml\" ContentType=\"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet.main+xml\"/>' +\n'<Override PartName=\"/xl/worksheets/sheet1.xml\" ContentType=\"application/vnd.openxmlformats-officedocument.spreadsheetml.worksheet+xml\"/>' +\n'<Override PartName=\"/xl/styles.xml\" ContentType=\"application/vnd.openxmlformats-officedocument.spreadsheetml.styles+xml\"/>' +\n'</Types>';\n\nconst JSZip = require('jszip');\nconst zip = new JSZip();\nzip.file('[Content_Types].xml', contentTypesXml);\nzip.file('_rels/.rels', relsXml);\nzip.file('xl/workbook.xml', wbXml);\nzip.file('xl/_rels/workbook.xml.rels', wbRelsXml);\nzip.file('xl/worksheets/sheet1.xml', sheetXml);\nzip.file('xl/styles.xml', styleXml);\n\nconst buffer = await zip.generateAsync({ type: 'nodebuffer', compression: 'DEFLATE' });\nconst base64 = buffer.toString('base64');\nconst today = new Date().toISOString().slice(0, 10);\nconst fileName = 'cobros_' + today + '.xlsx';\n\nreturn [{\n  json: { fileName, rows: rows.length },\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n      fileName,\n    }\n  }\n}];\n"},"id":"spreadsheet-cobros-01","name":"Formatear Excel (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[704,304]},{"parameters":{"name":"=cobros_{{ new Date().toISOString().slice(0,10) }}.xlsx","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1QFbTelTwH9M9_Sl-1F17KkiTgv9CqGl2","mode":"id"},"options":{}},"id":"drive-cobros-01","name":"Subir a Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,304],"credentials":{"googleDriveOAuth2Api":{"id":"p9Jf1xjKDCPCYy1s","name":"Google Drive account 2"}}},{"parameters":{"path":"cobros-reporte-test","options":{}},"id":"webhook-cobros-01","name":"Webhook Test Cobros","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,464],"webhookId":"fd130f1b-ef4b-4dc6-b38e-945b1f2d4f46"},{"parameters":{"operation":"search"},"id":"drive-search-01","name":"Buscar Archivo Existente","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[912,304],"credentials":{"googleDriveOAuth2Api":{"id":"p9Jf1xjKDCPCYy1s","name":"Google Drive account 2"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ .id }}","mode":"id"},"options":{}},"id":"drive-delete-01","name":"Borrar Archivo Anterior","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,304],"credentials":{"googleDriveOAuth2Api":{"id":"p9Jf1xjKDCPCYy1s","name":"Google Drive account 2"}}}],"connections":{"Cron Diario Cobros 08:00":{"main":[[{"node":"Generar Filas Cobros (Code)","type":"main","index":0}]]},"Generar Filas Cobros (Code)":{"main":[[{"node":"Formatear Excel (Code)","type":"main","index":0}]]},"Webhook Test Cobros":{"main":[[{"node":"Generar Filas Cobros (Code)","type":"main","index":0}]]},"Formatear Excel (Code)":{"main":[[{"node":"Buscar Archivo Existente","type":"main","index":0}]]},"Buscar Archivo Existente":{"main":[[{"node":"Borrar Archivo Anterior","type":"main","index":0}]]},"Borrar Archivo Anterior":{"main":[[{"node":"Subir a Drive","type":"main","index":0}]]}},"authors":"Luis Puente","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-31T04:53:41.226Z","id":360,"workflowId":"HW1MLmCmpwP6BmYl","versionId":"ffc5bf08-a086-4f2c-acd6-06a5da9675b2","event":"activated","userId":"97ea2654-fe8a-429f-8016-bc837138bdd0"}]}}