.wf_cobros_patch.json
{"name":"Kommo Cobranzas - Reporte Excel Diario","nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":8}]}},"id":"cron-cobros-01","name":"Cron Diario Cobros 08:00","type":"n8n-nodes-base.cron","typeVersion":1,"position":[240,304]},{"parameters":{"jsCode":"\nconst CFG = {\"baseUrl\":\"https://agroriegoscorp.kommo.com\",\"token\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjEyNjBhODkxNjZlMWZiNTI1MGVkZTFlNzVhY2ZhYjY3NWUxMjIyYzBmNjhlZjk5YTkxODhlNzRlODJiODVjYmYxMTY1ZTcwMDBiYmQ3NzliIn0.eyJhdWQiOiJkNGZjYmE0MS03NTM1LTQzOWYtOTk5Yy00YjZlNzA3NGUzMzIiLCJqdGkiOiIxMjYwYTg5MTY2ZTFmYjUyNTBlZGUxZTc1YWNmYWI2NzVlMTIyMmMwZjY4ZWY5OWE5MTg4ZTc0ZTgyYjg1Y2JmMTE2NWU3MDAwYmJkNzc5YiIsImlhdCI6MTc3NDM5MDcwOSwibmJmIjoxNzc0MzkwNzA5LCJleHAiOjE5MDY0MTYwMDAsInN1YiI6IjE1MDA0MDE5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2MjQ4Nzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTkwNTZiMDUtMjUzNi00NWM4LTkyYjgtNmM1ZjhkNmZhODc0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.TRv4MRF9eVCbNJW-zjYzX4BTOUQ7p2AuM7DZx97UQyYdL81itbaILIro2nhS1rxqHXa-k3FUUtL48qK3FnZi3O9uz0jJuDeeqH2RdKNkCviTO7t5ggnVqePntPFxS5BXmlVxDpRTgHHvywJYgWBnxx92D7YJzVsubScTUbT5AY-6qPKr9hMfpQnaK6BeEZUQIFIW_vUeo5TSKN9Ngc9bpCXtWEiA9OjMVapLJXM0aw1IvyrIkr38fod26Ef9dxGrm9hyrVNS3amGNcpG9IrMEyo3d_ZcG5HQAnQ1bw2_avXhEFY0QcD0r5UmL_9uqx_pvHCCxLbVJxwDfnTO3IZDZA\",\"pipelineId\":13403731,\"tag\":\"cobranza_n8n_excel\",\"fieldIds\":{\"documento\":3272952,\"telefono\":3281414,\"fecha_venc_text\":3281430,\"saldo_pendiente\":3272956,\"pago_realizado\":3281416,\"razon_social\":3281418,\"fecha_abono\":3293960,\"status_pago\":3281432},\"statusPagoEnums\":{\"pagado\":8030168,\"abonado\":8030170,\"no_pagado\":8030172}};\n\nfunction fieldVal(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return '';\n  const v = hit.values[0].value;\n  return v === null || v === undefined ? '' : String(v);\n}\n\nfunction fieldEnumId(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return 0;\n  return Number(hit.values[0].enum_id || 0);\n}\n\nfunction readStatusPago(lead) {\n  const enumId = fieldEnumId(lead, CFG.fieldIds.status_pago);\n  if (enumId === CFG.statusPagoEnums.pagado) return 'Pagado';\n  if (enumId === CFG.statusPagoEnums.abonado) return 'Abonado';\n  if (enumId === CFG.statusPagoEnums.no_pagado) return 'No Pagado';\n  return '';\n}\n\nasync function req(method, path) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: { Authorization: 'Bearer ' + CFG.token },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nconst leads = [];\nfor (let page = 1; page <= 100; page++) {\n  const res = await req('GET', '/api/v4/leads?limit=250&page=' + page + '&with=custom_fields_values,tags');\n  if (res.statusCode >= 400) break;\n  const chunk = res.body?._embedded?.leads || [];\n  if (!chunk.length) break;\n  leads.push(...chunk);\n  if (!res.body?._links?.next?.href) break;\n}\n\nconst rows = [];\nfor (const lead of leads) {\n  const tags = (lead._embedded?.tags || []).map(t => String(t.name || '').toLowerCase().trim());\n  if (!tags.includes(CFG.tag.toLowerCase())) continue;\n  if (Number(lead.pipeline_id) !== Number(CFG.pipelineId)) continue;\n\n  const pagoAcumulado = Number(fieldVal(lead, CFG.fieldIds.pago_realizado) || 0);\n  if (!(pagoAcumulado > 0)) continue;\n\n  const saldoPendiente = Number(fieldVal(lead, CFG.fieldIds.saldo_pendiente) || 0);\n  const saldoOriginal = pagoAcumulado + saldoPendiente;\n\n  rows.push({\n    DOCUMENTO: fieldVal(lead, CFG.fieldIds.documento),\n    RAZON_SOCIAL: fieldVal(lead, CFG.fieldIds.razon_social),\n    TELEFONO: fieldVal(lead, CFG.fieldIds.telefono),\n    FECHA_VENCIMIENTO: fieldVal(lead, CFG.fieldIds.fecha_venc_text),\n    SALDO_ORIGINAL: saldoOriginal,\n    PAGO_ACUMULADO: pagoAcumulado,\n    SALDO_PENDIENTE: saldoPendiente,\n    FECHA_ULTIMO_ABONO: fieldVal(lead, CFG.fieldIds.fecha_abono),\n    STATUS_PAGO: readStatusPago(lead),\n  });\n}\n\nrows.sort((a, b) => String(a.DOCUMENTO).localeCompare(String(b.DOCUMENTO)));\n\nreturn rows.map(r => ({ json: r }));\n"},"id":"code-cobros-01","name":"Generar Filas Cobros (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,304]},{"parameters":{"path":"cobros-reporte-test","options":{}},"id":"webhook-cobros-01","name":"Webhook Test Cobros","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,464],"webhookId":"fd130f1b-ef4b-4dc6-b38e-945b1f2d4f46"},{"id":"code-build-01","name":"Construir Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,300],"parameters":{"jsCode":"\nconst rows = $input.all().map(i => i.json);\n\nconst headers = [\n  'Documento / Factura','Razon Social','Telefono','Fecha Vencimiento',\n  'Saldo Original','Pago Acumulado','Saldo Pendiente','Fecha Ultimo Abono','Estatus Pago'\n];\nconst keys = [\n  'DOCUMENTO','RAZON_SOCIAL','TELEFONO','FECHA_VENCIMIENTO',\n  'SALDO_ORIGINAL','PAGO_ACUMULADO','SALDO_PENDIENTE','FECHA_ULTIMO_ABONO','STATUS_PAGO'\n];\n\nconst values = [headers];\nfor (const row of rows) {\n  values.push(keys.map(k => row[k] === null || row[k] === undefined ? '' : row[k]));\n}\n\nconst dataRowCount = rows.length;\n\nreturn [{ json: { values, dataRowCount } }];\n"}},{"id":"http-clear-01","name":"Limpiar Hoja","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[960,300],"credentials":{"googleDriveOAuth2Api":{"id":"p9Jf1xjKDCPCYy1s","name":"Google Drive account 2"}},"parameters":{"method":"POST","url":"https://sheets.googleapis.com/v4/spreadsheets/1bmC31r3ooeWpw7aHfE9lEy6fpT3c1w49KCyaprviDrw/values/A:Z:clear","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}}},{"id":"http-write-01","name":"Escribir Datos","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1200,300],"credentials":{"googleDriveOAuth2Api":{"id":"p9Jf1xjKDCPCYy1s","name":"Google Drive account 2"}},"parameters":{"method":"PUT","url":"https://sheets.googleapis.com/v4/spreadsheets/1bmC31r3ooeWpw7aHfE9lEy6fpT3c1w49KCyaprviDrw/values/A1?valueInputOption=USER_ENTERED","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"contentType":"json","body":"={{ JSON.stringify({ range: \"A1\", majorDimension: \"ROWS\", values: $(\"Construir Payload\").first().json.values }) }}","options":{}}},{"id":"code-condformat-01","name":"Preparar Formato Condicional","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,300],"parameters":{"jsCode":"\nconst dataRowCount = $('Construir Payload').first().json.dataRowCount;\nconst SHEET_ID = '1bmC31r3ooeWpw7aHfE9lEy6fpT3c1w49KCyaprviDrw';\n\nconst requests = [\n  {\n    addConditionalFormatRule: {\n      rule: {\n        ranges: [{ sheetId: 0, startRowIndex: 1, endRowIndex: dataRowCount + 1, startColumnIndex: 0, endColumnIndex: 9 }],\n        booleanRule: {\n          condition: { type: 'TEXT_EQ', values: [{ userEnteredValue: 'Pagado' }] },\n          format: { backgroundColor: { red: 0.84, green: 0.96, blue: 0.84 }, textFormat: { foregroundColor: { red: 0.10, green: 0.42, blue: 0.10 } } }\n        }\n      },\n      index: 0\n    }\n  },\n  {\n    addConditionalFormatRule: {\n      rule: {\n        ranges: [{ sheetId: 0, startRowIndex: 1, endRowIndex: dataRowCount + 1, startColumnIndex: 0, endColumnIndex: 9 }],\n        booleanRule: {\n          condition: { type: 'TEXT_EQ', values: [{ userEnteredValue: 'Abonado' }] },\n          format: { backgroundColor: { red: 1, green: 0.95, blue: 0.80 }, textFormat: { foregroundColor: { red: 0.52, green: 0.39, blue: 0.02 } } }\n        }\n      },\n      index: 1\n    }\n  },\n];\n\nreturn [{ json: { requests } }];\n"}},{"id":"http-format-01","name":"Aplicar Formato Encabezado","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1440,140],"credentials":{"googleDriveOAuth2Api":{"id":"p9Jf1xjKDCPCYy1s","name":"Google Drive account 2"}},"parameters":{"method":"POST","url":"https://sheets.googleapis.com/v4/spreadsheets/1bmC31r3ooeWpw7aHfE9lEy6fpT3c1w49KCyaprviDrw:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"contentType":"json","body":"{\"requests\":[{\"repeatCell\":{\"range\":{\"sheetId\":0,\"startRowIndex\":0,\"endRowIndex\":1},\"cell\":{\"userEnteredFormat\":{\"backgroundColor\":{\"red\":0.18,\"green\":0.25,\"blue\":0.34},\"textFormat\":{\"bold\":true,\"foregroundColor\":{\"red\":1,\"green\":1,\"blue\":1},\"fontSize\":11},\"horizontalAlignment\":\"CENTER\",\"verticalAlignment\":\"MIDDLE\"}},\"fields\":\"userEnteredFormat(backgroundColor,textFormat,horizontalAlignment,verticalAlignment)\"}},{\"updateSheetProperties\":{\"properties\":{\"sheetId\":0,\"gridProperties\":{\"frozenRowCount\":1}},\"fields\":\"gridProperties.frozenRowCount\"}},{\"updateDimensionProperties\":{\"range\":{\"sheetId\":0,\"dimension\":\"COLUMNS\",\"startIndex\":0,\"endIndex\":1},\"properties\":{\"pixelSize\":140},\"fields\":\"pixelSize\"}},{\"updateDimensionProperties\":{\"range\":{\"sheetId\":0,\"dimension\":\"COLUMNS\",\"startIndex\":1,\"endIndex\":2},\"properties\":{\"pixelSize\":260},\"fields\":\"pixelSize\"}},{\"updateDimensionProperties\":{\"range\":{\"sheetId\":0,\"dimension\":\"COLUMNS\",\"startIndex\":2,\"endIndex\":4},\"properties\":{\"pixelSize\":140},\"fields\":\"pixelSize\"}},{\"updateDimensionProperties\":{\"range\":{\"sheetId\":0,\"dimension\":\"COLUMNS\",\"startIndex\":4,\"endIndex\":7},\"properties\":{\"pixelSize\":130},\"fields\":\"pixelSize\"}},{\"updateDimensionProperties\":{\"range\":{\"sheetId\":0,\"dimension\":\"COLUMNS\",\"startIndex\":7,\"endIndex\":8},\"properties\":{\"pixelSize\":150},\"fields\":\"pixelSize\"}},{\"updateDimensionProperties\":{\"range\":{\"sheetId\":0,\"dimension\":\"COLUMNS\",\"startIndex\":8,\"endIndex\":9},\"properties\":{\"pixelSize\":110},\"fields\":\"pixelSize\"}}]}","options":{}}},{"id":"http-condformat-01","name":"Aplicar Formato Condicional","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1680,300],"credentials":{"googleDriveOAuth2Api":{"id":"p9Jf1xjKDCPCYy1s","name":"Google Drive account 2"}},"parameters":{"method":"POST","url":"https://sheets.googleapis.com/v4/spreadsheets/1bmC31r3ooeWpw7aHfE9lEy6fpT3c1w49KCyaprviDrw:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"contentType":"json","body":"={{ JSON.stringify({ requests: $json.requests }) }}","options":{}}}],"connections":{"Cron Diario Cobros 08:00":{"main":[[{"node":"Generar Filas Cobros (Code)","type":"main","index":0}]]},"Webhook Test Cobros":{"main":[[{"node":"Generar Filas Cobros (Code)","type":"main","index":0}]]},"Generar Filas Cobros (Code)":{"main":[[{"node":"Construir Payload","type":"main","index":0}]]},"Construir Payload":{"main":[[{"node":"Limpiar Hoja","type":"main","index":0}]]},"Limpiar Hoja":{"main":[[{"node":"Escribir Datos","type":"main","index":0}]]},"Escribir Datos":{"main":[[{"node":"Aplicar Formato Encabezado","type":"main","index":0}]]},"Aplicar Formato Encabezado":{"main":[[{"node":"Preparar Formato Condicional","type":"main","index":0}]]},"Preparar Formato Condicional":{"main":[[{"node":"Aplicar Formato Condicional","type":"main","index":0}]]}},"settings":{}}