hw1_after_mapping_fix.json
{
  "updatedAt": "2026-04-08T19:45:46.257Z",
  "createdAt": "2026-03-30T23:22:58.866Z",
  "id": "HW1MLmCmpwP6BmYl",
  "name": "Kommo Cobranzas - Reporte Excel Diario",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8
            }
          ]
        }
      },
      "id": "cron-cobros-01",
      "name": "Cron Diario Cobros 08:00",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst CFG = {\"baseUrl\":\"https://agroriegoscorp.kommo.com\",\"token\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjEyNjBhODkxNjZlMWZiNTI1MGVkZTFlNzVhY2ZhYjY3NWUxMjIyYzBmNjhlZjk5YTkxODhlNzRlODJiODVjYmYxMTY1ZTcwMDBiYmQ3NzliIn0.eyJhdWQiOiJkNGZjYmE0MS03NTM1LTQzOWYtOTk5Yy00YjZlNzA3NGUzMzIiLCJqdGkiOiIxMjYwYTg5MTY2ZTFmYjUyNTBlZGUxZTc1YWNmYWI2NzVlMTIyMmMwZjY4ZWY5OWE5MTg4ZTc0ZTgyYjg1Y2JmMTE2NWU3MDAwYmJkNzc5YiIsImlhdCI6MTc3NDM5MDcwOSwibmJmIjoxNzc0MzkwNzA5LCJleHAiOjE5MDY0MTYwMDAsInN1YiI6IjE1MDA0MDE5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2MjQ4Nzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTkwNTZiMDUtMjUzNi00NWM4LTkyYjgtNmM1ZjhkNmZhODc0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.TRv4MRF9eVCbNJW-zjYzX4BTOUQ7p2AuM7DZx97UQyYdL81itbaILIro2nhS1rxqHXa-k3FUUtL48qK3FnZi3O9uz0jJuDeeqH2RdKNkCviTO7t5ggnVqePntPFxS5BXmlVxDpRTgHHvywJYgWBnxx92D7YJzVsubScTUbT5AY-6qPKr9hMfpQnaK6BeEZUQIFIW_vUeo5TSKN9Ngc9bpCXtWEiA9OjMVapLJXM0aw1IvyrIkr38fod26Ef9dxGrm9hyrVNS3amGNcpG9IrMEyo3d_ZcG5HQAnQ1bw2_avXhEFY0QcD0r5UmL_9uqx_pvHCCxLbVJxwDfnTO3IZDZA\",\"pipelineId\":13403731,\"tag\":\"cobranza_n8n_excel\",\"fieldIds\":{\"documento\":3272952,\"telefono\":3281414,\"fecha_venc_text\":3281430,\"saldo_pendiente\":3272956,\"pago_realizado\":3281416,\"razon_social\":3281418,\"fecha_abono\":3293960,\"status_pago\":3281432},\"statusPagoEnums\":{\"pagado\":8030168,\"abonado\":8030170,\"no_pagado\":8030172}};\n\nfunction fieldVal(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return '';\n  const v = hit.values[0].value;\n  return v === null || v === undefined ? '' : String(v);\n}\n\nfunction fieldEnumId(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return 0;\n  return Number(hit.values[0].enum_id || 0);\n}\n\nfunction readStatusPago(lead) {\n  const enumId = fieldEnumId(lead, CFG.fieldIds.status_pago);\n  if (enumId === CFG.statusPagoEnums.pagado) return 'Pagado';\n  if (enumId === CFG.statusPagoEnums.abonado) return 'Abonado';\n  if (enumId === CFG.statusPagoEnums.no_pagado) return 'No Pagado';\n  return '';\n}\n\nasync function req(method, path) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: { Authorization: 'Bearer ' + CFG.token },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nconst leads = [];\nfor (let page = 1; page <= 100; page++) {\n  const res = await req('GET', '/api/v4/leads?limit=250&page=' + page + '&with=custom_fields_values,tags');\n  if (res.statusCode >= 400) break;\n  const chunk = res.body?._embedded?.leads || [];\n  if (!chunk.length) break;\n  leads.push(...chunk);\n  if (!res.body?._links?.next?.href) break;\n}\n\nconst rows = [];\nfor (const lead of leads) {\n  const tags = (lead._embedded?.tags || []).map(t => String(t.name || '').toLowerCase().trim());\n  if (!tags.includes(CFG.tag.toLowerCase())) continue;\n  if (Number(lead.pipeline_id) !== Number(CFG.pipelineId)) continue;\n\n  const pagoAcumulado = Number(fieldVal(lead, CFG.fieldIds.pago_realizado) || 0);\n  if (!(pagoAcumulado > 0)) continue;\n\n  const saldoPendiente = Number(fieldVal(lead, CFG.fieldIds.saldo_pendiente) || 0);\n  const saldoOriginal = pagoAcumulado + saldoPendiente;\n\n  rows.push({\n    DOCUMENTO: fieldVal(lead, CFG.fieldIds.documento),\n    RAZON_SOCIAL: fieldVal(lead, CFG.fieldIds.razon_social),\n    TELEFONO: fieldVal(lead, CFG.fieldIds.telefono),\n    FECHA_VENCIMIENTO: fieldVal(lead, CFG.fieldIds.fecha_venc_text),\n    SALDO_ORIGINAL: saldoOriginal,\n    PAGO_ACUMULADO: pagoAcumulado,\n    SALDO_PENDIENTE: saldoPendiente,\n    FECHA_ULTIMO_ABONO: (() => { const ts = fieldVal(lead, CFG.fieldIds.fecha_abono); if (!ts) return ''; const n = Number(ts); if (!n) return ts; const d = new Date(n * 1000); return d.toLocaleDateString('es-MX', { day: '2-digit', month: '2-digit', year: 'numeric' }); })(),\n    STATUS_PAGO: readStatusPago(lead),\n  });\n}\n\nrows.sort((a, b) => String(a.DOCUMENTO).localeCompare(String(b.DOCUMENTO)));\n\nreturn rows.map(r => ({ json: r }));\n"
      },
      "id": "code-cobros-01",
      "name": "Generar Filas Cobros (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "headerRow": true,
          "sheetName": "Cobros"
        }
      },
      "id": "spreadsheet-cobros-01",
      "name": "Convertir a Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        848,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "1yJsnkm7MzcikPKHgPq-Jo9Aj6u15NTYl",
          "mode": "id"
        },
        "changeFileContent": true,
        "options": {}
      },
      "id": "drive-cobros-01",
      "name": "Subir a Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1088,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p9Jf1xjKDCPCYy1s",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn rows.map(r => ({ json: {\n  'Documento / Factura': r.DOCUMENTO,\n  'Razon Social':        r.RAZON_SOCIAL,\n  'Telefono':            r.TELEFONO,\n  'Fecha Vencimiento':   r.FECHA_VENCIMIENTO,\n  'Saldo Original':      r.SALDO_ORIGINAL,\n  'Pago Acumulado':      r.PAGO_ACUMULADO,\n  'Saldo Pendiente':     r.SALDO_PENDIENTE,\n  'Fecha Ultimo Abono':  r.FECHA_ULTIMO_ABONO,\n  'Estatus Pago':        r.STATUS_PAGO,\n}}));"
      },
      "id": "code-rename-01",
      "name": "Renombrar Columnas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        304
      ]
    },
    {
      "id": "sheet-prep-report-001",
      "name": "Preparar Sheets Estado+Historico (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        520
      ],
      "parameters": {
        "jsCode": "\nconst inputRows = $input.all().map(i => i.json || {});\nconst staticData = (typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : {});\nif (!staticData.histSignatures || typeof staticData.histSignatures !== 'object') {\n  staticData.histSignatures = {};\n}\n\nfunction toNum(v){ const n = Number(v); return Number.isFinite(n) ? n : 0; }\nfunction to2(v){ return Number(toNum(v).toFixed(2)); }\nfunction nowIso(){ return new Date().toISOString(); }\nfunction pick(r, keys){ for (const k of keys){ if (r[k] !== undefined && r[k] !== null) return r[k]; } return ''; }\n\nconst headerEstado = ['DOCUMENTO','RAZON_SOCIAL','TELEFONO','FECHA_VENCIMIENTO','SALDO_ORIGINAL','PAGO_ACUMULADO','SALDO_PENDIENTE','FECHA_ULTIMO_ABONO','STATUS_PAGO','FUENTE','LEAD_ID'];\nconst estadoRows = [];\nconst historicoRows = [];\n\nfor (const r of inputRows) {\n  const documento = String(pick(r, ['DOCUMENTO', 'Documento / Factura'])).trim();\n  if (!documento) continue;\n\n  const razon = String(pick(r, ['RAZON_SOCIAL', 'Razon Social'])).trim();\n  const telefono = String(pick(r, ['TELEFONO', 'Telefono'])).trim();\n  const fechaV = String(pick(r, ['FECHA_VENCIMIENTO', 'Fecha Vencimiento'])).trim();\n  const saldoOriginal = to2(pick(r, ['SALDO_ORIGINAL', 'Saldo Original']));\n  const pagoAc = to2(pick(r, ['PAGO_ACUMULADO', 'Pago Acumulado']));\n  const saldoPend = to2(pick(r, ['SALDO_PENDIENTE', 'Saldo Pendiente']));\n  const fechaAb = String(pick(r, ['FECHA_ULTIMO_ABONO', 'Fecha Ultimo Abono'])).trim();\n  const statusPago = String(pick(r, ['STATUS_PAGO', 'Estatus Pago']) || (saldoPend <= 0 ? 'Pagado' : (pagoAc > 0 ? 'Abonado' : 'No Pagado'))).trim();\n  const fuente = 'reporte_cobros';\n  const leadId = String(pick(r, ['LEAD_ID', 'Lead ID'])).trim();\n\n  estadoRows.push([documento, razon, telefono, fechaV, saldoOriginal, pagoAc, saldoPend, fechaAb, statusPago, fuente, leadId]);\n\n  const sig = [pagoAc, saldoPend, fechaAb, statusPago].join('|');\n  const prev = String(staticData.histSignatures[documento] || '');\n  if (sig !== prev) {\n    historicoRows.push([nowIso(), documento, razon, telefono, saldoOriginal, pagoAc, saldoPend, fechaAb, statusPago, fuente, leadId]);\n    staticData.histSignatures[documento] = sig;\n  }\n}\n\nestadoRows.sort((a,b) => String(a[0]).localeCompare(String(b[0])));\nconst estadoValues = [headerEstado, ...estadoRows];\n\nreturn [{ json: {\n  estadoValues,\n  estadoCount: estadoRows.length,\n  historicoValues: historicoRows,\n  historicoCount: historicoRows.length,\n} }];\n"
      }
    },
    {
      "id": "sheet-clear-estado-001",
      "name": "Sheets Limpiar EstadoActual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        480
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p9Jf1xjKDCPCYy1s",
          "name": "Google Drive account 2"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1bmC31r3ooeWpw7aHfE9lEy6fpT3c1w49KCyaprviDrw/values/EstadoActual!A:K:clear",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      }
    },
    {
      "id": "sheet-write-estado-001",
      "name": "Sheets Escribir EstadoActual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1380,
        480
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p9Jf1xjKDCPCYy1s",
          "name": "Google Drive account 2"
        }
      },
      "parameters": {
        "method": "PUT",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1bmC31r3ooeWpw7aHfE9lEy6fpT3c1w49KCyaprviDrw/values/EstadoActual!A1?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ { range: \"EstadoActual!A1\", majorDimension: \"ROWS\", values: $json.estadoValues } }}"
      }
    },
    {
      "id": "sheet-if-hist-report-001",
      "name": "Historico Tiene Cambios?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        620
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "hist-count-gt-0",
              "leftValue": "={{ $json.historicoCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "sheet-append-hist-report-001",
      "name": "Sheets Append HistoricoMovimientos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1380,
        620
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p9Jf1xjKDCPCYy1s",
          "name": "Google Drive account 2"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1bmC31r3ooeWpw7aHfE9lEy6fpT3c1w49KCyaprviDrw/values/HistoricoMovimientos!A:K:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "options": {},
        "specifyBody": "json",
        "jsonBody": "={{ { majorDimension: \"ROWS\", values: $json.historicoValues } }}"
      }
    }
  ],
  "connections": {
    "Cron Diario Cobros 08:00": {
      "main": [
        [
          {
            "node": "Generar Filas Cobros (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Filas Cobros (Code)": {
      "main": [
        [
          {
            "node": "Renombrar Columnas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renombrar Columnas": {
      "main": [
        [
          {
            "node": "Convertir a Excel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Sheets Estado+Historico (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir a Excel": {
      "main": [
        [
          {
            "node": "Subir a Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a Drive": {
      "main": [
        []
      ]
    },
    "Preparar Sheets Estado+Historico (Code)": {
      "main": [
        [
          {
            "node": "Sheets Limpiar EstadoActual",
            "type": "main",
            "index": 0
          },
          {
            "node": "Historico Tiene Cambios?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Limpiar EstadoActual": {
      "main": [
        [
          {
            "node": "Sheets Escribir EstadoActual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historico Tiene Cambios?": {
      "main": [
        [
          {
            "node": "Sheets Append HistoricoMovimientos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "49e4cfa8-0aa8-44c2-af0e-0512d3da077a",
  "activeVersionId": "49e4cfa8-0aa8-44c2-af0e-0512d3da077a",
  "versionCounter": 112,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-30T23:22:58.868Z",
      "createdAt": "2026-03-30T23:22:58.868Z",
      "role": "workflow:owner",
      "workflowId": "HW1MLmCmpwP6BmYl",
      "projectId": "r4oqB6LLZI9aqq9A",
      "project": {
        "updatedAt": "2026-02-17T01:18:53.980Z",
        "createdAt": "2026-02-17T01:16:43.638Z",
        "id": "r4oqB6LLZI9aqq9A",
        "name": "Luis Puente <luisfrpuente@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "97ea2654-fe8a-429f-8016-bc837138bdd0",
        "projectRelations": [
          {
            "updatedAt": "2026-02-17T01:16:43.639Z",
            "createdAt": "2026-02-17T01:16:43.639Z",
            "userId": "97ea2654-fe8a-429f-8016-bc837138bdd0",
            "projectId": "r4oqB6LLZI9aqq9A",
            "user": {
              "updatedAt": "2026-04-08T17:27:34.000Z",
              "createdAt": "2026-02-17T01:16:43.320Z",
              "id": "97ea2654-fe8a-429f-8016-bc837138bdd0",
              "email": "luisfrpuente@gmail.com",
              "firstName": "Luis",
              "lastName": "Puente",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-17T01:19:05.438Z",
                "personalization_survey_n8n_version": "2.6.3"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "TDiINdgzi1YIiIZlwX0zG",
                "userActivatedAt": 1771294642757,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1774916246766
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-08T19:45:46.260Z",
    "createdAt": "2026-04-08T19:45:46.260Z",
    "versionId": "49e4cfa8-0aa8-44c2-af0e-0512d3da077a",
    "workflowId": "HW1MLmCmpwP6BmYl",
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 8
              }
            ]
          }
        },
        "id": "cron-cobros-01",
        "name": "Cron Diario Cobros 08:00",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "\nconst CFG = {\"baseUrl\":\"https://agroriegoscorp.kommo.com\",\"token\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjEyNjBhODkxNjZlMWZiNTI1MGVkZTFlNzVhY2ZhYjY3NWUxMjIyYzBmNjhlZjk5YTkxODhlNzRlODJiODVjYmYxMTY1ZTcwMDBiYmQ3NzliIn0.eyJhdWQiOiJkNGZjYmE0MS03NTM1LTQzOWYtOTk5Yy00YjZlNzA3NGUzMzIiLCJqdGkiOiIxMjYwYTg5MTY2ZTFmYjUyNTBlZGUxZTc1YWNmYWI2NzVlMTIyMmMwZjY4ZWY5OWE5MTg4ZTc0ZTgyYjg1Y2JmMTE2NWU3MDAwYmJkNzc5YiIsImlhdCI6MTc3NDM5MDcwOSwibmJmIjoxNzc0MzkwNzA5LCJleHAiOjE5MDY0MTYwMDAsInN1YiI6IjE1MDA0MDE5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2MjQ4Nzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTkwNTZiMDUtMjUzNi00NWM4LTkyYjgtNmM1ZjhkNmZhODc0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.TRv4MRF9eVCbNJW-zjYzX4BTOUQ7p2AuM7DZx97UQyYdL81itbaILIro2nhS1rxqHXa-k3FUUtL48qK3FnZi3O9uz0jJuDeeqH2RdKNkCviTO7t5ggnVqePntPFxS5BXmlVxDpRTgHHvywJYgWBnxx92D7YJzVsubScTUbT5AY-6qPKr9hMfpQnaK6BeEZUQIFIW_vUeo5TSKN9Ngc9bpCXtWEiA9OjMVapLJXM0aw1IvyrIkr38fod26Ef9dxGrm9hyrVNS3amGNcpG9IrMEyo3d_ZcG5HQAnQ1bw2_avXhEFY0QcD0r5UmL_9uqx_pvHCCxLbVJxwDfnTO3IZDZA\",\"pipelineId\":13403731,\"tag\":\"cobranza_n8n_excel\",\"fieldIds\":{\"documento\":3272952,\"telefono\":3281414,\"fecha_venc_text\":3281430,\"saldo_pendiente\":3272956,\"pago_realizado\":3281416,\"razon_social\":3281418,\"fecha_abono\":3293960,\"status_pago\":3281432},\"statusPagoEnums\":{\"pagado\":8030168,\"abonado\":8030170,\"no_pagado\":8030172}};\n\nfunction fieldVal(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return '';\n  const v = hit.values[0].value;\n  return v === null || v === undefined ? '' : String(v);\n}\n\nfunction fieldEnumId(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return 0;\n  return Number(hit.values[0].enum_id || 0);\n}\n\nfunction readStatusPago(lead) {\n  const enumId = fieldEnumId(lead, CFG.fieldIds.status_pago);\n  if (enumId === CFG.statusPagoEnums.pagado) return 'Pagado';\n  if (enumId === CFG.statusPagoEnums.abonado) return 'Abonado';\n  if (enumId === CFG.statusPagoEnums.no_pagado) return 'No Pagado';\n  return '';\n}\n\nasync function req(method, path) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: { Authorization: 'Bearer ' + CFG.token },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nconst leads = [];\nfor (let page = 1; page <= 100; page++) {\n  const res = await req('GET', '/api/v4/leads?limit=250&page=' + page + '&with=custom_fields_values,tags');\n  if (res.statusCode >= 400) break;\n  const chunk = res.body?._embedded?.leads || [];\n  if (!chunk.length) break;\n  leads.push(...chunk);\n  if (!res.body?._links?.next?.href) break;\n}\n\nconst rows = [];\nfor (const lead of leads) {\n  const tags = (lead._embedded?.tags || []).map(t => String(t.name || '').toLowerCase().trim());\n  if (!tags.includes(CFG.tag.toLowerCase())) continue;\n  if (Number(lead.pipeline_id) !== Number(CFG.pipelineId)) continue;\n\n  const pagoAcumulado = Number(fieldVal(lead, CFG.fieldIds.pago_realizado) || 0);\n  if (!(pagoAcumulado > 0)) continue;\n\n  const saldoPendiente = Number(fieldVal(lead, CFG.fieldIds.saldo_pendiente) || 0);\n  const saldoOriginal = pagoAcumulado + saldoPendiente;\n\n  rows.push({\n    DOCUMENTO: fieldVal(lead, CFG.fieldIds.documento),\n    RAZON_SOCIAL: fieldVal(lead, CFG.fieldIds.razon_social),\n    TELEFONO: fieldVal(lead, CFG.fieldIds.telefono),\n    FECHA_VENCIMIENTO: fieldVal(lead, CFG.fieldIds.fecha_venc_text),\n    SALDO_ORIGINAL: saldoOriginal,\n    PAGO_ACUMULADO: pagoAcumulado,\n    SALDO_PENDIENTE: saldoPendiente,\n    FECHA_ULTIMO_ABONO: (() => { const ts = fieldVal(lead, CFG.fieldIds.fecha_abono); if (!ts) return ''; const n = Number(ts); if (!n) return ts; const d = new Date(n * 1000); return d.toLocaleDateString('es-MX', { day: '2-digit', month: '2-digit', year: 'numeric' }); })(),\n    STATUS_PAGO: readStatusPago(lead),\n  });\n}\n\nrows.sort((a, b) => String(a.DOCUMENTO).localeCompare(String(b.DOCUMENTO)));\n\nreturn rows.map(r => ({ json: r }));\n"
        },
        "id": "code-cobros-01",
        "name": "Generar Filas Cobros (Code)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          304
        ]
      },
      {
        "parameters": {
          "operation": "toFile",
          "fileFormat": "xlsx",
          "options": {
            "headerRow": true,
            "sheetName": "Cobros"
          }
        },
        "id": "spreadsheet-cobros-01",
        "name": "Convertir a Excel",
        "type": "n8n-nodes-base.spreadsheetFile",
        "typeVersion": 2,
        "position": [
          848,
          304
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "fileId": {
            "__rl": true,
            "value": "1yJsnkm7MzcikPKHgPq-Jo9Aj6u15NTYl",
            "mode": "id"
          },
          "changeFileContent": true,
          "options": {}
        },
        "id": "drive-cobros-01",
        "name": "Subir a Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1088,
          304
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "p9Jf1xjKDCPCYy1s",
            "name": "Google Drive account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map(i => i.json);\nreturn rows.map(r => ({ json: {\n  'Documento / Factura': r.DOCUMENTO,\n  'Razon Social':        r.RAZON_SOCIAL,\n  'Telefono':            r.TELEFONO,\n  'Fecha Vencimiento':   r.FECHA_VENCIMIENTO,\n  'Saldo Original':      r.SALDO_ORIGINAL,\n  'Pago Acumulado':      r.PAGO_ACUMULADO,\n  'Saldo Pendiente':     r.SALDO_PENDIENTE,\n  'Fecha Ultimo Abono':  r.FECHA_ULTIMO_ABONO,\n  'Estatus Pago':        r.STATUS_PAGO,\n}}));"
        },
        "id": "code-rename-01",
        "name": "Renombrar Columnas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          640,
          304
        ]
      },
      {
        "id": "sheet-prep-report-001",
        "name": "Preparar Sheets Estado+Historico (Code)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          860,
          520
        ],
        "parameters": {
          "jsCode": "\nconst inputRows = $input.all().map(i => i.json || {});\nconst staticData = (typeof $getWorkflowStaticData === 'function' ? $getWorkflowStaticData('global') : {});\nif (!staticData.histSignatures || typeof staticData.histSignatures !== 'object') {\n  staticData.histSignatures = {};\n}\n\nfunction toNum(v){ const n = Number(v); return Number.isFinite(n) ? n : 0; }\nfunction to2(v){ return Number(toNum(v).toFixed(2)); }\nfunction nowIso(){ return new Date().toISOString(); }\n\nconst headerEstado = ['DOCUMENTO','RAZON_SOCIAL','TELEFONO','FECHA_VENCIMIENTO','SALDO_ORIGINAL','PAGO_ACUMULADO','SALDO_PENDIENTE','FECHA_ULTIMO_ABONO','STATUS_PAGO','FUENTE','LEAD_ID'];\nconst estadoRows = [];\nconst historicoRows = [];\n\nfor (const r of inputRows) {\n  const documento = String(r.DOCUMENTO || '').trim();\n  if (!documento) continue;\n  const razon = String(r.RAZON_SOCIAL || '').trim();\n  const telefono = String(r.TELEFONO || '').trim();\n  const fechaV = String(r.FECHA_VENCIMIENTO || '').trim();\n  const saldoOriginal = to2(r.SALDO_ORIGINAL);\n  const pagoAc = to2(r.PAGO_ACUMULADO);\n  const saldoPend = to2(r.SALDO_PENDIENTE);\n  const fechaAb = String(r.FECHA_ULTIMO_ABONO || '').trim();\n  const statusPago = String(r.STATUS_PAGO || (saldoPend <= 0 ? 'Pagado' : (pagoAc > 0 ? 'Abonado' : 'No Pagado'))).trim();\n  const fuente = 'reporte_cobros';\n  const leadId = String(r.LEAD_ID || '').trim();\n\n  estadoRows.push([documento, razon, telefono, fechaV, saldoOriginal, pagoAc, saldoPend, fechaAb, statusPago, fuente, leadId]);\n\n  const sig = [pagoAc, saldoPend, fechaAb, statusPago].join('|');\n  const prev = String(staticData.histSignatures[documento] || '');\n  if (sig !== prev) {\n    historicoRows.push([nowIso(), documento, razon, telefono, saldoOriginal, pagoAc, saldoPend, fechaAb, statusPago, fuente, leadId]);\n    staticData.histSignatures[documento] = sig;\n  }\n}\n\nestadoRows.sort((a,b) => String(a[0]).localeCompare(String(b[0])));\nconst estadoValues = [headerEstado, ...estadoRows];\n\nreturn [{ json: {\n  estadoValues,\n  estadoCount: estadoRows.length,\n  historicoValues: historicoRows,\n  historicoCount: historicoRows.length,\n} }];\n"
        }
      },
      {
        "id": "sheet-clear-estado-001",
        "name": "Sheets Limpiar EstadoActual",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1120,
          480
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "p9Jf1xjKDCPCYy1s",
            "name": "Google Drive account 2"
          }
        },
        "parameters": {
          "method": "POST",
          "url": "https://sheets.googleapis.com/v4/spreadsheets/1bmC31r3ooeWpw7aHfE9lEy6fpT3c1w49KCyaprviDrw/values/EstadoActual!A:K:clear",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "options": {}
        }
      },
      {
        "id": "sheet-write-estado-001",
        "name": "Sheets Escribir EstadoActual",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1380,
          480
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "p9Jf1xjKDCPCYy1s",
            "name": "Google Drive account 2"
          }
        },
        "parameters": {
          "method": "PUT",
          "url": "https://sheets.googleapis.com/v4/spreadsheets/1bmC31r3ooeWpw7aHfE9lEy6fpT3c1w49KCyaprviDrw/values/EstadoActual!A1?valueInputOption=USER_ENTERED",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "sendBody": true,
          "contentType": "json",
          "options": {},
          "specifyBody": "json",
          "jsonBody": "={{ { range: \"EstadoActual!A1\", majorDimension: \"ROWS\", values: $json.estadoValues } }}"
        }
      },
      {
        "id": "sheet-if-hist-report-001",
        "name": "Historico Tiene Cambios?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1120,
          620
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "hist-count-gt-0",
                "leftValue": "={{ $json.historicoCount }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "sheet-append-hist-report-001",
        "name": "Sheets Append HistoricoMovimientos",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1380,
          620
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "p9Jf1xjKDCPCYy1s",
            "name": "Google Drive account 2"
          }
        },
        "parameters": {
          "method": "POST",
          "url": "https://sheets.googleapis.com/v4/spreadsheets/1bmC31r3ooeWpw7aHfE9lEy6fpT3c1w49KCyaprviDrw/values/HistoricoMovimientos!A:K:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "sendBody": true,
          "contentType": "json",
          "options": {},
          "specifyBody": "json",
          "jsonBody": "={{ { majorDimension: \"ROWS\", values: $json.historicoValues } }}"
        }
      }
    ],
    "connections": {
      "Cron Diario Cobros 08:00": {
        "main": [
          [
            {
              "node": "Generar Filas Cobros (Code)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generar Filas Cobros (Code)": {
        "main": [
          [
            {
              "node": "Renombrar Columnas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Renombrar Columnas": {
        "main": [
          [
            {
              "node": "Convertir a Excel",
              "type": "main",
              "index": 0
            },
            {
              "node": "Preparar Sheets Estado+Historico (Code)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convertir a Excel": {
        "main": [
          [
            {
              "node": "Subir a Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Subir a Drive": {
        "main": [
          []
        ]
      },
      "Preparar Sheets Estado+Historico (Code)": {
        "main": [
          [
            {
              "node": "Sheets Limpiar EstadoActual",
              "type": "main",
              "index": 0
            },
            {
              "node": "Historico Tiene Cambios?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets Limpiar EstadoActual": {
        "main": [
          [
            {
              "node": "Sheets Escribir EstadoActual",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Historico Tiene Cambios?": {
        "main": [
          [
            {
              "node": "Sheets Append HistoricoMovimientos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Luis Puente",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-08T19:45:46.310Z",
        "id": 393,
        "workflowId": "HW1MLmCmpwP6BmYl",
        "versionId": "49e4cfa8-0aa8-44c2-af0e-0512d3da077a",
        "event": "activated",
        "userId": "97ea2654-fe8a-429f-8016-bc837138bdd0"
      }
    ]
  }
}