wf_ingesta_restore.json
{"name":"Kommo Cuentas por Cobrar (Ingesta v?a HTTP)","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"serviceAccount","triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1VDqeluDYkR6PdJvH65j_DEHoK3bTlAXF","mode":"list","cachedResultName":"Kommo - AutomatikAI","cachedResultUrl":"https://drive.google.com/drive/folders/1VDqeluDYkR6PdJvH65j_DEHoK3bTlAXF"},"event":"fileCreated","options":{}},"name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[256,304],"id":"22df3df8-5615-449c-814c-9fd147ce102e","credentials":{"googleApi":{"id":"L6ly13wxjLb7k0cC","name":"Google Service Account account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{},"authentication":"serviceAccount"},"name":"Descargar Excel","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[480,304],"id":"e9bedc5e-50a0-4711-9b23-6caabe02d4e6","credentials":{"googleApi":{"id":"L6ly13wxjLb7k0cC","name":"Google Service Account account"}}},{"parameters":{"options":{}},"name":"Leer Excel","type":"n8n-nodes-base.spreadsheetFile","typeVersion":1,"position":[704,304],"id":"0eeef03c-bb63-47ac-801d-ac1ee59139e5"},{"parameters":{"jsCode":"const items = $input.all();\nconst output = [];\n\nfunction pad2(n) {\n  return String(n).padStart(2, \"0\");\n}\n\nfunction excelSerialToIso(serial) {\n  const num = Number(serial);\n  if (!Number.isFinite(num) || num < 1000) return \"\";\n  const utcDays = Math.floor(num - 25569);\n  const date = new Date(utcDays * 86400 * 1000);\n  const y = date.getUTCFullYear();\n  const m = pad2(date.getUTCMonth() + 1);\n  const d = pad2(date.getUTCDate());\n  return `${y}-${m}-${d}`;\n}\n\nfunction dateTextToIso(value) {\n  if (value === null || value === undefined) return \"\";\n  const str = String(value).trim();\n  if (!str) return \"\";\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(str)) return str;\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(str)) {\n    const [mm, dd, yyyy] = str.split(\"/\");\n    return `${yyyy}-${mm}-${dd}`;\n  }\n  const asNum = Number(str);\n  if (Number.isFinite(asNum)) return excelSerialToIso(asNum);\n  return \"\";\n}\n\nfunction dateTextToUS(value) {\n  if (value === null || value === undefined) return \"\";\n  const str = String(value).trim();\n  if (!str) return \"\";\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(str)) return str;\n  const iso = dateTextToIso(str);\n  if (!iso) return str;\n  const [y, m, d] = iso.split(\"-\");\n  return `${m}/${d}/${y}`;\n}\n\nfunction normalizeMxPhone(value) {\n  const digits = String(value || \"\").replace(/[^0-9]/g, \"\").trim();\n  if (!digits) return \"\";\n  if (digits.length === 10) return \"521\" + digits;\n  if (digits.length === 12 && digits.startsWith(\"52\")) return \"521\" + digits.slice(2);\n  if (digits.length === 13 && digits.startsWith(\"521\")) return digits;\n  return digits;\n}\n\nfunction pick(row, keys) {\n  for (const k of keys) {\n    if (row[k] !== undefined && row[k] !== null && String(row[k]).trim() !== \"\") return row[k];\n  }\n  return \"\";\n}\n\nfor (const item of items) {\n  const row = item.json;\n  const documento = pick(row, [\"DOCUMENTO\",\"Documento\",\"__EMPTY_5\"]);\n  if (!documento) continue;\n  if (String(documento).trim().toUpperCase() === \"DOCUMENTO\") continue;\n\n  const docNum = parseInt(documento, 10);\n  if (Number.isNaN(docNum)) continue;\n\n  const telefono = normalizeMxPhone(pick(row, [\"TELEFONO1\",\"TELEFONO\",\"Telefono\",\"__EMPTY_4\"]));\n  const razonSocial = String(pick(row, [\"RAZON SOCIAL\",\"RAZON_SOCIAL\",\"Razon Social\",\"__EMPTY_3\"]) || \"Desconocido\").trim();\n  const vendedor = String(pick(row, [\"VENDEDOR\",\"__EMPTY\"]) || \"\").trim();\n  const codVenRaw = String(pick(row, [\"COD VEN\",\"COD_VEN\",\"Cod Ven\",\"__EMPTY_1\"]) || \"\").trim();\n  const codVen = codVenRaw.replace(/[^0-9]/g, \"\");\n\n  const saldoDoc = parseFloat(String(pick(row, [\"SALDO DOC\",\"SALDO_DOC\",\"Saldo Doc\",\"__EMPTY_17\"]) || \"0\").replace(/,/g, \"\")) || 0;\n  const montoUsd = parseFloat(String(pick(row, [\"MONTO USD\",\"MONTO_USD\",\"Monto USD\",\"__EMPTY_16\"]) || \"0\").replace(/,/g, \"\")) || 0;\n  const pago = parseFloat(String(pick(row, [\"PAGO\",\"PAGO_1\",\"Pago\",\"__EMPTY_18\"]) || \"0\").replace(/,/g, \"\")) || 0;\n  const diasVenc = parseInt(String(pick(row, [\"DIAS VENCIDOS\",\"DIAS_VENCIDOS\",\"Dias Vencidos\",\"__EMPTY_13\"]) || \"0\"), 10) || 0;\n\n  const fechaVencUS = dateTextToUS(pick(row, [\"FECHA VENC\",\"FECHA_VENC\",\"Fecha Venc\",\"__EMPTY_12\"]));\n  const fechaVencISO = dateTextToIso(pick(row, [\"FECHA VENC\",\"FECHA_VENC\",\"Fecha Venc\",\"__EMPTY_12\"]));\n\n  output.push({\n    json: {\n      VENDEDOR: vendedor,\n      COD_VEN: codVen,\n      DOCUMENTO: String(docNum),\n      RAZON_SOCIAL: razonSocial,\n      TELEFONO: telefono,\n      SALDO_DOC: saldoDoc,\n      FECHA_VENC: fechaVencUS,\n      FECHA_VENC_ISO: fechaVencISO,\n      DIAS_VENCIDOS: diasVenc,\n      MONTO_USD: montoUsd,\n      PAGO: pago,\n      TITULO_TRATO: \"Factura \" + String(docNum) + \" - \" + razonSocial,\n    },\n  });\n}\n\nreturn output;\n"},"name":"Limpiar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[928,304],"id":"981059fe-ea42-4ae2-969b-df9802c36ed2"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const CFG = {\"baseUrl\": \"https://agroriegoscorp.kommo.com\", \"token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjEyNjBhODkxNjZlMWZiNTI1MGVkZTFlNzVhY2ZhYjY3NWUxMjIyYzBmNjhlZjk5YTkxODhlNzRlODJiODVjYmYxMTY1ZTcwMDBiYmQ3NzliIn0.eyJhdWQiOiJkNGZjYmE0MS03NTM1LTQzOWYtOTk5Yy00YjZlNzA3NGUzMzIiLCJqdGkiOiIxMjYwYTg5MTY2ZTFmYjUyNTBlZGUxZTc1YWNmYWI2NzVlMTIyMmMwZjY4ZWY5OWE5MTg4ZTc0ZTgyYjg1Y2JmMTE2NWU3MDAwYmJkNzc5YiIsImlhdCI6MTc3NDM5MDcwOSwibmJmIjoxNzc0MzkwNzA5LCJleHAiOjE5MDY0MTYwMDAsInN1YiI6IjE1MDA0MDE5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2MjQ4Nzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTkwNTZiMDUtMjUzNi00NWM4LTkyYjgtNmM1ZjhkNmZhODc0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.TRv4MRF9eVCbNJW-zjYzX4BTOUQ7p2AuM7DZx97UQyYdL81itbaILIro2nhS1rxqHXa-k3FUUtL48qK3FnZi3O9uz0jJuDeeqH2RdKNkCviTO7t5ggnVqePntPFxS5BXmlVxDpRTgHHvywJYgWBnxx92D7YJzVsubScTUbT5AY-6qPKr9hMfpQnaK6BeEZUQIFIW_vUeo5TSKN9Ngc9bpCXtWEiA9OjMVapLJXM0aw1IvyrIkr38fod26Ef9dxGrm9hyrVNS3amGNcpG9IrMEyo3d_ZcG5HQAnQ1bw2_avXhEFY0QcD0r5UmL_9uqx_pvHCCxLbVJxwDfnTO3IZDZA\", \"pipelineId\": 13403731, \"initialStatusId\": 103388967, \"tag\": \"cobranza_n8n_excel\", \"fieldIds\": {\"documento\": 3272952, \"telefono\": 3281414, \"fecha_venc_text\": 3281430, \"saldo_pendiente\": 3272956, \"pago_realizado\": 3281416, \"razon_social\": 3281418, \"fecha_venc_date\": 3272954, \"aviso_3d\": 3282254, \"aviso_2d\": 3282256, \"aviso_1d\": 3282258, \"ultimo_hash\": 3281420, \"ultimo_abono\": 3281422}};\n\nfunction normalizePhone(v) {\n  const digits = String(v || \"\").replace(/[^0-9]/g, \"\");\n  if (!digits) return \"\";\n  if (digits.length === 10) return \"521\" + digits;\n  if (digits.length === 12 && digits.startsWith(\"52\")) return \"521\" + digits.slice(2);\n  if (digits.length === 13 && digits.startsWith(\"521\")) return digits;\n  return digits;\n}\n\nfunction toNumber(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction getFieldValue(entity, fieldId) {\n  const arr = Array.isArray(entity.custom_fields_values) ? entity.custom_fields_values : [];\n  const hit = arr.find((f) => Number(f.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return \"\";\n  const val = hit.values[0].value;\n  return val === null || val === undefined ? \"\" : String(val);\n}\n\nasync function req(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nfunction toKommoDateTime(value) {\n  const raw = String(value || \"\").trim();\n  if (!raw) return \"\";\n  if (/^\\d{4}-\\d{2}-\\d{2}T/.test(raw)) return raw;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(raw)) return raw + \"T06:00:00+00:00\";\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return d.toISOString();\n  return \"\";\n}\n\nfunction cfPayload(row) {\n  const fields = [];\n  const saldoPendiente = Math.max(0, toNumber(row.SALDO_DOC) - toNumber(row.PAGO));\n  fields.push({ field_id: CFG.fieldIds.documento, values: [{ value: String(row.DOCUMENTO || \"\") }] });\n  fields.push({ field_id: CFG.fieldIds.telefono, values: [{ value: String(row.TELEFONO || \"\") }] });\n  fields.push({ field_id: CFG.fieldIds.fecha_venc_text, values: [{ value: String(row.FECHA_VENC || \"\") }] });\n  fields.push({ field_id: CFG.fieldIds.saldo_pendiente, values: [{ value: String(saldoPendiente) }] });\n  fields.push({ field_id: CFG.fieldIds.pago_realizado, values: [{ value: String(Number(row.PAGO || 0)) }] });\n  fields.push({ field_id: CFG.fieldIds.razon_social, values: [{ value: String(row.RAZON_SOCIAL || \"\") }] });\n  const dueDateTime = toKommoDateTime(row.FECHA_VENC_ISO || row.FECHA_VENC);\n  if (dueDateTime) {\n    fields.push({ field_id: CFG.fieldIds.fecha_venc_date, values: [{ value: dueDateTime }] });\n  }\n  return fields;\n}\n\nfunction leadMatchScore(lead) {\n  return Number(lead.updated_at || lead.created_at || lead.id || 0);\n}\n\nfunction exactLeadMatch(lead, documento, telefono) {\n  const doc = getFieldValue(lead, CFG.fieldIds.documento);\n  const ph = normalizePhone(getFieldValue(lead, CFG.fieldIds.telefono));\n  return String(doc).trim() === documento && ph === telefono;\n}\n\nasync function findExistingLead(documento, telefono) {\n  const found = new Map();\n\n  async function collect(path) {\n    const res = await req(\"GET\", path);\n    if (res.statusCode >= 400) {\n      throw new Error(\"Lead search failed: \" + res.statusCode + \" \" + JSON.stringify(res.body || {}));\n    }\n    const chunk = ((((res.body || {})._embedded || {}).leads) || []);\n    for (const lead of chunk) {\n      if (!lead || !lead.id || lead.is_deleted) continue;\n      found.set(String(lead.id), lead);\n    }\n    return { chunk, hasNext: Boolean((((res.body || {})._links || {}).next || {}).href) };\n  }\n\n  await collect(\"/api/v4/leads?query=\" + encodeURIComponent(documento) + \"&limit=250&with=custom_fields_values,tags\");\n  await collect(\"/api/v4/leads?query=\" + encodeURIComponent(telefono) + \"&limit=250&with=custom_fields_values,tags\");\n\n  let matches = Array.from(found.values()).filter((lead) => exactLeadMatch(lead, documento, telefono));\n  if (!matches.length) {\n    for (let page = 1; page <= 100; page += 1) {\n      const { chunk, hasNext } = await collect(\"/api/v4/leads?limit=250&page=\" + page + \"&with=custom_fields_values,tags\");\n      matches = chunk.filter((lead) => exactLeadMatch(lead, documento, telefono));\n      if (matches.length) break;\n      if (!hasNext || !chunk.length) break;\n    }\n    matches = Array.from(found.values()).filter((lead) => exactLeadMatch(lead, documento, telefono));\n  }\n\n  if (!matches.length) {\n    return { existing: null, duplicates: [] };\n  }\n\n  matches.sort((a, b) => leadMatchScore(b) - leadMatchScore(a));\n  return { existing: matches[0], duplicates: matches.slice(1) };\n}\n\nconst row = $json;\nconst documento = String(row.DOCUMENTO || \"\").trim();\nconst telefono = normalizePhone(row.TELEFONO);\nif (!documento || !telefono) {\n  return {\n    json: {\n      ...row,\n      upsert_status: \"skipped\",\n      upsert_reason: \"missing_documento_o_telefono\",\n    },\n  };\n}\n\nconst codVen = String(row.COD_VEN || \"\").trim();\nconst rutaTag = codVen ? (\"Ruta \" + codVen) : \"\";\nconst tagsPayload = rutaTag ? [{ name: CFG.tag }, { name: rutaTag }] : [{ name: CFG.tag }];\n\nconst leadBody = {\n  name: row.TITULO_TRATO || (\"Factura \" + documento + \" - \" + (row.RAZON_SOCIAL || \"Cliente\")),\n  price: Math.round(toNumber(row.SALDO_DOC)),\n  custom_fields_values: cfPayload(row),\n  _embedded: {\n    tags: tagsPayload,\n  },\n};\n\nconst existingSearch = await findExistingLead(documento, telefono);\nconst existing = existingSearch.existing;\nconst duplicateMatches = existingSearch.duplicates || [];\n\nlet leadId;\nlet action;\nif (existing) {\n  leadId = Number(existing.id);\n  action = \"updated\";\n  const patchLead = {\n    id: leadId,\n    ...leadBody,\n  };\n  if (Number(existing.pipeline_id) !== Number(CFG.pipelineId)) {\n    patchLead.pipeline_id = CFG.pipelineId;\n    if (Number(CFG.initialStatusId) > 0) {\n      patchLead.status_id = Number(CFG.initialStatusId);\n    }\n  }\n  const patchBody = [patchLead];\n  const patchRes = await req(\"PATCH\", \"/api/v4/leads\", patchBody);\n  if (patchRes.statusCode >= 400) {\n    throw new Error(\"Lead patch failed: \" + patchRes.statusCode + \" \" + JSON.stringify(patchRes.body || {}));\n  }\n} else {\n  action = \"created\";\n  const createLead = {\n    ...leadBody,\n    pipeline_id: CFG.pipelineId,\n  };\n  if (Number(CFG.initialStatusId) > 0) {\n    createLead.status_id = Number(CFG.initialStatusId);\n  }\n  let createRes = await req(\"POST\", \"/api/v4/leads\", [createLead]);\n  if (createRes.statusCode >= 400) {\n    const payload = JSON.stringify(createRes.body || {});\n    const statusChoiceErr = payload.includes(\"NotSupportedChoice\") && payload.includes(\"status_id\");\n    if (statusChoiceErr && Object.prototype.hasOwnProperty.call(createLead, \"status_id\")) {\n      delete createLead.status_id;\n      createRes = await req(\"POST\", \"/api/v4/leads\", [createLead]);\n    }\n  }\n  if (createRes.statusCode >= 400) {\n    throw new Error(\"Lead create failed: \" + createRes.statusCode + \" \" + JSON.stringify(createRes.body || {}));\n  }\n  const created = ((((createRes.body || {})._embedded || {}).leads || [])[0] || {});\n  leadId = Number(created.id);\n}\n\nif (!leadId) {\n  throw new Error(\"Lead ID not resolved for documento \" + documento);\n}\n\nconst contactSearch = await req(\"GET\", \"/api/v4/contacts?query=\" + encodeURIComponent(telefono) + \"&limit=250&with=custom_fields_values\");\nif (contactSearch.statusCode >= 400) {\n  throw new Error(\"Contact search failed: \" + contactSearch.statusCode + \" \" + JSON.stringify(contactSearch.body || {}));\n}\n\nconst contactCandidates = (((contactSearch.body || {})._embedded || {}).contacts || []);\nlet contact = contactCandidates.find((c) => {\n  const phoneField = (Array.isArray(c.custom_fields_values) ? c.custom_fields_values : []).find((f) => String(f.field_name || \"\").toLowerCase() === \"phone\" || Number(f.field_id) === 3270024);\n  if (!phoneField || !Array.isArray(phoneField.values)) return false;\n  const all = phoneField.values.map((x) => normalizePhone(x.value));\n  return all.includes(telefono);\n});\n\nif (!contact) {\n  const contactBody = [{\n    name: String(row.RAZON_SOCIAL || (\"Cliente \" + telefono)),\n    custom_fields_values: [\n      { field_id: 3270024, values: [{ value: \"+\" + telefono }] },\n    ],\n    _embedded: {\n      tags: [{ name: CFG.tag }],\n    },\n  }];\n  const cRes = await req(\"POST\", \"/api/v4/contacts\", contactBody);\n  if (cRes.statusCode >= 400) {\n    throw new Error(\"Contact create failed: \" + cRes.statusCode + \" \" + JSON.stringify(cRes.body || {}));\n  }\n  contact = ((((cRes.body || {})._embedded || {}).contacts || [])[0] || {});\n}\n\nlet linkStatus = \"linked_or_already\";\nif (contact && contact.id) {\n  const linkRes = await req(\"POST\", \"/api/v4/leads/\" + leadId + \"/link\", [\n    { to_entity_id: Number(contact.id), to_entity_type: \"contacts\" },\n  ]);\n  if (linkRes.statusCode >= 400) {\n    linkStatus = \"link_failed\";\n  }\n}\n\nreturn {\n  json: {\n    ...row,\n    lead_id: leadId,\n    contact_id: contact ? Number(contact.id) : null,\n    upsert_status: action,\n    link_status: linkStatus,\n    tag_applied: CFG.tag,\n    ruta_tag_applied: rutaTag,\n    duplicate_match_count: Number(duplicateMatches.length || 0),\n    duplicate_match_ids: duplicateMatches.map((lead) => Number(lead.id || 0)).filter((v) => v > 0),\n  },\n};\n"},"id":"59319b11-ccb2-4120-8917-f6d2e9a38380","name":"Upsert Lead+Contacto (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,304]},{"parameters":{"triggerTimes":{"item":[{"hour":9}]}},"id":"9a28d0f2-0adf-45e3-bf35-eb647482d423","name":"Cron Cobranza 09:00","type":"n8n-nodes-base.cron","typeVersion":1,"position":[1152,496]},{"parameters":{"jsCode":"const CFG = {\"baseUrl\": \"https://agroriegoscorp.kommo.com\", \"token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjEyNjBhODkxNjZlMWZiNTI1MGVkZTFlNzVhY2ZhYjY3NWUxMjIyYzBmNjhlZjk5YTkxODhlNzRlODJiODVjYmYxMTY1ZTcwMDBiYmQ3NzliIn0.eyJhdWQiOiJkNGZjYmE0MS03NTM1LTQzOWYtOTk5Yy00YjZlNzA3NGUzMzIiLCJqdGkiOiIxMjYwYTg5MTY2ZTFmYjUyNTBlZGUxZTc1YWNmYWI2NzVlMTIyMmMwZjY4ZWY5OWE5MTg4ZTc0ZTgyYjg1Y2JmMTE2NWU3MDAwYmJkNzc5YiIsImlhdCI6MTc3NDM5MDcwOSwibmJmIjoxNzc0MzkwNzA5LCJleHAiOjE5MDY0MTYwMDAsInN1YiI6IjE1MDA0MDE5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2MjQ4Nzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTkwNTZiMDUtMjUzNi00NWM4LTkyYjgtNmM1ZjhkNmZhODc0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.TRv4MRF9eVCbNJW-zjYzX4BTOUQ7p2AuM7DZx97UQyYdL81itbaILIro2nhS1rxqHXa-k3FUUtL48qK3FnZi3O9uz0jJuDeeqH2RdKNkCviTO7t5ggnVqePntPFxS5BXmlVxDpRTgHHvywJYgWBnxx92D7YJzVsubScTUbT5AY-6qPKr9hMfpQnaK6BeEZUQIFIW_vUeo5TSKN9Ngc9bpCXtWEiA9OjMVapLJXM0aw1IvyrIkr38fod26Ef9dxGrm9hyrVNS3amGNcpG9IrMEyo3d_ZcG5HQAnQ1bw2_avXhEFY0QcD0r5UmL_9uqx_pvHCCxLbVJxwDfnTO3IZDZA\", \"pipelineId\": 13403731, \"paidStatusId\": 103429439, \"statusIds\": {\"leads_entrantes\": 103388963, \"leads_importados\": 103388967, \"entrada_inicial\": 103388967, \"recordatorio_enviado\": 103388971, \"pagado\": 103429439, \"abono\": 103610175, \"no_pagado\": 103611443, \"fecha_limite\": 103388975, \"deadline_abono\": 103610171, \"atrasado\": 103388979, \"atrasado_10\": 104161951, \"atrasado_15\": 104161955, \"revisar_pago\": 103429435, \"revision_urgente\": 103429431}, \"tag\": \"cobranza_n8n_excel\", \"timezone\": \"America/Mexico_City\", \"fieldIds\": {\"documento\": 3272952, \"telefono\": 3281414, \"fecha_venc_text\": 3281430, \"saldo_pendiente\": 3272956, \"pago_realizado\": 3281416, \"razon_social\": 3281418, \"fecha_venc_date\": 3272954, \"aviso_3d\": 3282254, \"aviso_2d\": 3282256, \"aviso_1d\": 3282258, \"ultimo_hash\": 3281420, \"ultimo_abono\": 3281422, \"status_pago\": 3281432}, \"statusPagoEnums\": {\"pagado\": 8030168, \"abonado\": 8030170, \"no_pagado\": 8030172}};\n\nfunction fieldVal(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return \"\";\n  const v = hit.values[0].value;\n  return v === null || v === undefined ? \"\" : String(v);\n}\n\nfunction fieldEnumId(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return 0;\n  return Number(hit.values[0].enum_id || 0);\n}\n\nfunction normalizePhone(v) {\n  const digits = String(v || \"\").replace(/[^0-9]/g, \"\");\n  if (!digits) return \"\";\n  if (digits.length === 10) return \"521\" + digits;\n  if (digits.length === 12 && digits.startsWith(\"52\")) return \"521\" + digits.slice(2);\n  if (digits.length === 13 && digits.startsWith(\"521\")) return digits;\n  return digits;\n}\n\nfunction normalizeText(v) {\n  return String(v || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, \" \")\n    .trim();\n}\n\nfunction parseDateAny(v) {\n  const s = String(v || \"\").trim();\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(s)) {\n    const [mm, dd, yyyy] = s.split(\"/\");\n    return `${yyyy}-${mm}-${dd}`;\n  }\n  if (/^\\d+$/.test(s)) {\n    const n = Number(s);\n    if (Number.isFinite(n)) {\n      const ms = n < 100000000000 ? n * 1000 : n;\n      const dNum = new Date(ms);\n      if (!Number.isNaN(dNum.getTime())) return dNum.toISOString().slice(0, 10);\n    }\n  }\n  const d = new Date(s);\n  if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  return null;\n}\n\nfunction todayIso(tz) {\n  const parts = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: tz,\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n  }).formatToParts(new Date());\n  const y = parts.find((p) => p.type === \"year\")?.value;\n  const m = parts.find((p) => p.type === \"month\")?.value;\n  const d = parts.find((p) => p.type === \"day\")?.value;\n  return `${y}-${m}-${d}`;\n}\n\nfunction kommoNowIso() {\n  const d = new Date();\n  const y = d.getUTCFullYear();\n  const m = String(d.getUTCMonth() + 1).padStart(2, \"0\");\n  const day = String(d.getUTCDate()).padStart(2, \"0\");\n  const h = String(d.getUTCHours()).padStart(2, \"0\");\n  const min = String(d.getUTCMinutes()).padStart(2, \"0\");\n  const s = String(d.getUTCSeconds()).padStart(2, \"0\");\n  return `${y}-${m}-${day}T${h}:${min}:${s}+00:00`;\n}\n\nfunction daysBetween(aIso, bIso) {\n  const a = new Date(aIso + \"T00:00:00Z\");\n  const b = new Date(bIso + \"T00:00:00Z\");\n  return Math.round((b.getTime() - a.getTime()) / 86400000);\n}\n\nasync function req(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nasync function note(leadId, text) {\n  await req(\"POST\", \"/api/v4/leads/\" + leadId + \"/notes\", [{ note_type: \"common\", params: { text } }]);\n}\n\nasync function task(leadId, responsibleId, text) {\n  const complete = Math.floor(Date.now() / 1000) + 86400;\n  await req(\"POST\", \"/api/v4/tasks\", [{\n    text,\n    complete_till: complete,\n    entity_id: Number(leadId),\n    entity_type: \"leads\",\n    responsible_user_id: Number(responsibleId || 14811623),\n  }]);\n}\n\nconst logs = [];\nconst today = todayIso(CFG.timezone);\nconst deadlineStatusId = Number((CFG.statusIds || {}).fecha_limite || 0);\nconst deadlineAbonoStatusId = Number((CFG.statusIds || {}).deadline_abono || 0);\nconst overdueStatusId = Number((CFG.statusIds || {}).atrasado || 0);\nconst late10StatusId = Number((CFG.statusIds || {}).atrasado_10 || 0);\nconst late15StatusId = Number((CFG.statusIds || {}).atrasado_15 || 0);\nconst urgentStatusId = Number((CFG.statusIds || {}).revision_urgente || 0);\nconst reminderSentStatusId = Number((CFG.statusIds || {}).recordatorio_enviado || 0);\nconst reviewStatusId = Number((CFG.statusIds || {}).revisar_pago || 0);\nconst abonoStatusId = Number((CFG.statusIds || {}).abono || 0);\nconst noPagadoStatusId = Number((CFG.statusIds || {}).no_pagado || 0);\nconst leadsImportadosStatusId = Number((CFG.statusIds || {}).leads_importados || 0);\nconst baseStatusId = Number((CFG.statusIds || {}).entrada_inicial || leadsImportadosStatusId || 0);\nconst statusPagoFieldId = Number((CFG.fieldIds || {}).status_pago || 0);\nconst inputRows = $input.all().map((x) => x.json || {});\nconst uploadDocs = new Set(\n  inputRows\n    .map((r) => String(r.DOCUMENTO || \"\").trim())\n    .filter((v) => v.length > 0)\n);\nconst uploadMode = uploadDocs.size > 0;\n\nasync function moveStatus(leadId, statusId) {\n  if (!(Number(statusId) > 0)) return { ok: true, skipped: true, statusCode: 0 };\n  const mv = await req(\"PATCH\", \"/api/v4/leads\", [{ id: Number(leadId), status_id: Number(statusId) }]);\n  return { ok: mv.statusCode < 400, skipped: false, statusCode: Number(mv.statusCode || 0), body: mv.body || {} };\n}\n\nasync function markReminder(leadId, fieldId) {\n  const nowIso = kommoNowIso();\n  const res = await req(\"PATCH\", \"/api/v4/leads\", [{\n    id: Number(leadId),\n    custom_fields_values: [{ field_id: fieldId, values: [{ value: nowIso }] }],\n  }]);\n  return { ok: res.statusCode < 400, statusCode: Number(res.statusCode || 0), body: res.body || {} };\n}\n\n\nfunction resolveLateStage(daysToDue, currentStatusId) {\n  if (daysToDue <= -15 && late15StatusId > 0) return { stage: late15StatusId, label: \"15D\" };\n  if (daysToDue <= -10 && late10StatusId > 0) return { stage: late10StatusId, label: \"10D\" };\n  if (daysToDue <= -5 && overdueStatusId > 0) return { stage: overdueStatusId, label: \"5D\" };\n  if (daysToDue <= -6 && urgentStatusId > 0) return { stage: urgentStatusId, label: \"URGENT\" };\n  return { stage: currentStatusId, label: \"\" };\n}\n\nconst leads = [];\nfor (let page = 1; page <= 100; page += 1) {\n  const listRes = await req(\"GET\", \"/api/v4/leads?limit=250&page=\" + page + \"&with=custom_fields_values,tags\");\n  if (listRes.statusCode >= 400) {\n    throw new Error(\"Lead list failed: \" + listRes.statusCode + \" \" + JSON.stringify(listRes.body || {}));\n  }\n  const chunk = ((((listRes.body || {})._embedded || {}).leads) || []);\n  if (!chunk.length) break;\n  leads.push(...chunk);\n  const hasNext = Boolean((((listRes.body || {})._links || {}).next || {}).href);\n  if (!hasNext) break;\n}\n\nfunction readStatusPago(lead) {\n  if (!(statusPagoFieldId > 0)) return \"\";\n  const enumId = fieldEnumId(lead, statusPagoFieldId);\n  if (enumId && enumId === Number((CFG.statusPagoEnums || {}).pagado || 0)) return \"pagado\";\n  if (enumId && enumId === Number((CFG.statusPagoEnums || {}).abonado || 0)) return \"abonado\";\n  if (enumId && enumId === Number((CFG.statusPagoEnums || {}).no_pagado || 0)) return \"no_pagado\";\n  const raw = normalizeText(fieldVal(lead, statusPagoFieldId));\n  if (!raw) return \"\";\n  if (raw.includes(\"no pagado\")) return \"no_pagado\";\n  if (raw.includes(\"abonado\")) return \"abonado\";\n  if (raw.includes(\"pagado\")) return \"pagado\";\n  return \"\";\n}\n\nconst canonicalLeads = new Map();\nfor (const lead of leads) {\n  const tags = ((((lead._embedded || {}).tags) || [])).map((t) => String(t.name || \"\").toLowerCase().trim());\n  if (!tags.includes(String(CFG.tag).toLowerCase())) continue;\n  if (Number(lead.pipeline_id) !== Number(CFG.pipelineId)) continue;\n  if (Number(lead.status_id) === Number(CFG.paidStatusId)) continue;\n\n  const keyDocumento = String(fieldVal(lead, CFG.fieldIds.documento) || \"\").trim();\n  const keyTelefono = normalizePhone(fieldVal(lead, CFG.fieldIds.telefono));\n  const dedupeKey = keyDocumento && keyTelefono ? keyDocumento + \"|\" + keyTelefono : \"lead:\" + String(lead.id || \"\");\n  const prev = canonicalLeads.get(dedupeKey);\n  const rank = Number(lead.updated_at || lead.created_at || lead.id || 0);\n  const prevRank = prev ? Number(prev.updated_at || prev.created_at || prev.id || 0) : -1;\n  if (!prev || rank >= prevRank) {\n    canonicalLeads.set(dedupeKey, lead);\n  }\n}\n\nfor (const lead of canonicalLeads.values()) {\n  const documento = fieldVal(lead, CFG.fieldIds.documento);\n  if (uploadMode && !uploadDocs.has(String(documento || \"\").trim())) continue;\n  const saldo = Number(fieldVal(lead, CFG.fieldIds.saldo_pendiente) || 0);\n  if (!(saldo > 0)) continue;\n\n  const dueIso = parseDateAny(fieldVal(lead, CFG.fieldIds.fecha_venc_date) || fieldVal(lead, CFG.fieldIds.fecha_venc_text));\n  if (!dueIso) continue;\n  const d = daysBetween(today, dueIso);\n\n  const firstSent = fieldVal(lead, CFG.fieldIds.aviso_3d);\n  const dueSent = fieldVal(lead, CFG.fieldIds.aviso_2d);\n  const finalSent = fieldVal(lead, CFG.fieldIds.aviso_1d);\n  const currentStatusId = Number(lead.status_id || 0);\n  const isInBaseStage = Number(baseStatusId) > 0 && currentStatusId === Number(baseStatusId);\n  const isInReviewStatus = Number(reviewStatusId) > 0 && currentStatusId === Number(reviewStatusId);\n  const isInAbonoStage = abonoStatusId > 0 && currentStatusId === abonoStatusId;\n  const isInNoPagadoStage = noPagadoStatusId > 0 && currentStatusId === noPagadoStatusId;\n  const statusPagoDecision = isInReviewStatus ? readStatusPago(lead) : \"\";\n\n  let reminderType = \"\";\n  let stageTarget = currentStatusId;\n  let reminderFieldId = 0;\n\n  if (statusPagoDecision === \"pagado\") {\n    reminderType = \"REVIEW_PAID\";\n    stageTarget = Number(CFG.paidStatusId || currentStatusId);\n  } else if (statusPagoDecision === \"abonado\") {\n    // Lead en revisar_pago con estatus abonado ? mover a etapa abono\n    reminderType = \"REVIEW_TO_ABONO\";\n    stageTarget = abonoStatusId > 0 ? abonoStatusId : currentStatusId;\n  } else if (statusPagoDecision === \"no_pagado\") {\n    // Lead en revisar_pago con estatus no pagado ? mover a etapa no pagado\n    reminderType = \"REVIEW_TO_NOPAGADO\";\n    stageTarget = noPagadoStatusId > 0 ? noPagadoStatusId : currentStatusId;\n  } else if (isInReviewStatus) {\n    // En revisar_pago pero sin decision ? esperar\n    continue;\n  } else if (isInAbonoStage) {\n    // Lead en ABONO ? mover a deadline-abono o 5 dias atrasado segun fecha\n    if (d <= 0 && d > -5) {\n      reminderType = \"ABONO_DEADLINE\";\n      stageTarget = deadlineAbonoStatusId > 0 ? deadlineAbonoStatusId : currentStatusId;\n      reminderFieldId = !dueSent ? Number(CFG.fieldIds.aviso_2d || 0) : 0;\n    } else if (d <= -5) {\n      const late = resolveLateStage(d, currentStatusId);\n      reminderType = late.label === \"15D\" ? \"ABONO_LATE_15D\" : (late.label === \"10D\" ? \"ABONO_LATE_10D\" : (late.label === \"5D\" ? \"ABONO_LATE_5D\" : \"ABONO_URGENT\"));\n      stageTarget = late.stage;\n      reminderFieldId = (!finalSent && late.label === \"5D\") ? Number(CFG.fieldIds.aviso_1d || 0) : 0;\n    } else {\n      continue; // Aun tiene tiempo, no hacer nada\n    }\n  } else if (isInNoPagadoStage) {\n    // Lead en NO PAGADO ? mover a deadline o 5 dias atrasado segun fecha\n    if (d <= 0 && d > -5) {\n      reminderType = \"NOPAGADO_DEADLINE\";\n      stageTarget = deadlineStatusId > 0 ? deadlineStatusId : currentStatusId;\n      reminderFieldId = !dueSent ? Number(CFG.fieldIds.aviso_2d || 0) : 0;\n    } else if (d <= -5) {\n      const late = resolveLateStage(d, currentStatusId);\n      reminderType = late.label === \"15D\" ? \"NOPAGADO_LATE_15D\" : (late.label === \"10D\" ? \"NOPAGADO_LATE_10D\" : (late.label === \"5D\" ? \"NOPAGADO_LATE_5D\" : \"NOPAGADO_URGENT\"));\n      stageTarget = late.stage;\n      reminderFieldId = (!finalSent && late.label === \"5D\") ? Number(CFG.fieldIds.aviso_1d || 0) : 0;\n    } else {\n      continue;\n    }\n  } else if (d === 5 && (!firstSent || isInBaseStage)) {\n    reminderType = \"5D\";\n    stageTarget = reminderSentStatusId > 0 ? reminderSentStatusId : currentStatusId;\n    reminderFieldId = firstSent ? 0 : Number(CFG.fieldIds.aviso_3d || 0);\n  } else if (d <= 0 && d > -5 && (!dueSent || isInBaseStage)) {\n    reminderType = \"DUE\";\n    stageTarget = deadlineStatusId > 0 ? deadlineStatusId : currentStatusId;\n    reminderFieldId = d === 0 && !dueSent ? Number(CFG.fieldIds.aviso_2d || 0) : 0;\n  } else if (d <= -5 && (!finalSent || isInBaseStage)) {\n    const late = resolveLateStage(d, currentStatusId);\n    reminderType = late.label === \"15D\" ? \"LATE_15D\" : (late.label === \"10D\" ? \"LATE_10D\" : (late.label === \"5D\" ? \"LATE_5D\" : \"URGENT\"));\n    stageTarget = late.stage;\n    reminderFieldId = (!finalSent && late.label === \"5D\") ? Number(CFG.fieldIds.aviso_1d || 0) : 0;\n  } else {\n    continue;\n  }\n\n  const moveRes =\n    Number(stageTarget) > 0 && Number(stageTarget) !== currentStatusId\n      ? await moveStatus(lead.id, stageTarget)\n      : { ok: true, skipped: true, statusCode: 0 };\n  const markRes = reminderFieldId > 0 ? await markReminder(lead.id, reminderFieldId) : { ok: true, statusCode: 0 };\n\n  if (!moveRes.ok || !markRes.ok) {\n    await note(\n      lead.id,\n      \"No se pudo preparar el recordatorio automatico en n8n. move_http=\" +\n        String(moveRes.statusCode || 0) +\n        \" mark_http=\" +\n        String(markRes.statusCode || 0)\n    );\n    await task(lead.id, lead.responsible_user_id, \"Cobranza manual: error preparando recordatorio \" + reminderType);\n  }\n\n  logs.push({\n    lead_id: Number(lead.id),\n    documento: documento,\n    days_to_due: d,\n    reminder_type: reminderType,\n    send_result: moveRes.ok && markRes.ok ? \"stage_prepared\" : \"failed\",\n    stage_target: Number(stageTarget || 0),\n    move_http: Number(moveRes.statusCode || 0),\n    mark_http: Number(markRes.statusCode || 0),\n    saldo_nuevo: saldo,\n  });\n}\n\nreturn [{ json: { run_at: new Date().toISOString(), upload_mode: uploadMode, upload_docs_count: uploadDocs.size, count: logs.length, logs } }];"},"id":"6eec061b-d206-4e17-a22e-ef9e0e82c8e1","name":"Reminder Engine (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,400]},{"parameters":{"httpMethod":"POST","path":"kommo-cobranza","options":{}},"id":"2d775cb2-41e1-4ca6-9044-fee602f4ac20","name":"Webhook Cobranza","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[256,832],"webhookId":"dfc86f84-3364-4f3c-ba6c-4e75bc6678d6"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const p = $json.body ?? $json;\nlet data = p;\nif (typeof data === 'string') {\n  data = Object.fromEntries(new URLSearchParams(data));\n}\n\nconst request_id = ($json.headers && ($json.headers['x-amocrm-requestid'] || $json.headers['X-AMOCRM-REQUESTID'])) || '';\nconst message_text = data['message[add][0][text]'] || '';\nconst contact_name = data['message[add][0][author][name]'] || '';\nconst lead_id = data['message[add][0][element_id]'] || data['message[add][0][entity_id]'] || '';\nconst talk_id = data['message[add][0][talk_id]'] || '';\nconst chat_id = data['message[add][0][chat_id]'] || '';\nconst origin = data['message[add][0][origin]'] || '';\nconst attachment_type = data['message[add][0][attachment][type]'] || '';\nconst media_url = data['message[add][0][attachment][link]'] || '';\nconst media_filename = data['message[add][0][attachment][file_name]'] || 'file';\nconst is_audio = attachment_type === 'voice';\nconst is_image = attachment_type === 'picture';\nconst is_document = attachment_type === 'document' || attachment_type === 'file' || String(media_filename).toLowerCase().endsWith('.pdf');\nconst is_media = is_audio || is_image || is_document;\n\nif (!lead_id) {\n  return { json: { skip_reason: 'missing_lead_id', request_id, lead_id: '', message_text: '', is_media: false } };\n}\nif (!message_text && !is_media) {\n  return { json: { skip_reason: 'empty_message', request_id, lead_id: String(lead_id), message_text: '', is_media: false } };\n}\n\nreturn {\n  json: {\n    request_id,\n    message_text,\n    contact_name,\n    lead_id,\n    talk_id,\n    chat_id,\n    origin,\n    sessionId: talk_id,\n    is_audio,\n    is_image,\n    is_document,\n    is_media,\n    media_url,\n    media_filename,\n    attachment_type,\n  }\n};"},"id":"d2e6320a-64a3-4b3d-9ec4-dc0a2a821a25","name":"Parsear Chat Cobranza (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,832]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const CFG = {\"baseUrl\": \"https://agroriegoscorp.kommo.com\", \"token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjEyNjBhODkxNjZlMWZiNTI1MGVkZTFlNzVhY2ZhYjY3NWUxMjIyYzBmNjhlZjk5YTkxODhlNzRlODJiODVjYmYxMTY1ZTcwMDBiYmQ3NzliIn0.eyJhdWQiOiJkNGZjYmE0MS03NTM1LTQzOWYtOTk5Yy00YjZlNzA3NGUzMzIiLCJqdGkiOiIxMjYwYTg5MTY2ZTFmYjUyNTBlZGUxZTc1YWNmYWI2NzVlMTIyMmMwZjY4ZWY5OWE5MTg4ZTc0ZTgyYjg1Y2JmMTE2NWU3MDAwYmJkNzc5YiIsImlhdCI6MTc3NDM5MDcwOSwibmJmIjoxNzc0MzkwNzA5LCJleHAiOjE5MDY0MTYwMDAsInN1YiI6IjE1MDA0MDE5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2MjQ4Nzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTkwNTZiMDUtMjUzNi00NWM4LTkyYjgtNmM1ZjhkNmZhODc0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.TRv4MRF9eVCbNJW-zjYzX4BTOUQ7p2AuM7DZx97UQyYdL81itbaILIro2nhS1rxqHXa-k3FUUtL48qK3FnZi3O9uz0jJuDeeqH2RdKNkCviTO7t5ggnVqePntPFxS5BXmlVxDpRTgHHvywJYgWBnxx92D7YJzVsubScTUbT5AY-6qPKr9hMfpQnaK6BeEZUQIFIW_vUeo5TSKN9Ngc9bpCXtWEiA9OjMVapLJXM0aw1IvyrIkr38fod26Ef9dxGrm9hyrVNS3amGNcpG9IrMEyo3d_ZcG5HQAnQ1bw2_avXhEFY0QcD0r5UmL_9uqx_pvHCCxLbVJxwDfnTO3IZDZA\", \"tag\": \"cobranza_n8n_excel\", \"fieldIds\": {\"documento\": 3272952, \"telefono\": 3281414, \"fecha_venc_text\": 3281430, \"saldo_pendiente\": 3272956, \"pago_realizado\": 3281416, \"razon_social\": 3281418, \"fecha_venc_date\": 3272954, \"aviso_3d\": 3282254, \"aviso_2d\": 3282256, \"aviso_1d\": 3282258, \"ultimo_hash\": 3281420, \"ultimo_abono\": 3281422}, \"timezone\": \"America/Mexico_City\", \"statusIds\": {\"recordatorio_enviado\": 103388971}, \"paidStatusId\": 103429439};\n\nfunction normalizePhone(v) {\n  const digits = String(v || \"\").replace(/[^0-9]/g, \"\");\n  if (!digits) return \"\";\n  if (digits.length === 10) return \"521\" + digits;\n  if (digits.length === 12 && digits.startsWith(\"52\")) return \"521\" + digits.slice(2);\n  if (digits.length === 13 && digits.startsWith(\"521\")) return digits;\n  return digits;\n}\n\nfunction getFieldValue(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return \"\";\n  const val = hit.values[0].value;\n  return val === null || val === undefined ? \"\" : String(val);\n}\n\nfunction parseAnyDate(value) {\n  const raw = String(value || \"\").trim();\n  if (!raw) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(raw)) return raw;\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(raw)) {\n    const [mm, dd, yyyy] = raw.split(\"/\");\n    return `${yyyy}-${mm}-${dd}`;\n  }\n  if (/^\\d+$/.test(raw)) {\n    const n = Number(raw);\n    if (Number.isFinite(n)) {\n      const ms = n < 100000000000 ? n * 1000 : n;\n      const dNum = new Date(ms);\n      if (!Number.isNaN(dNum.getTime())) return dNum.toISOString().slice(0, 10);\n    }\n  }\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  return null;\n}\n\nfunction todayIso(timezoneName) {\n  const parts = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: timezoneName,\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n  }).formatToParts(new Date());\n  const y = parts.find((p) => p.type === \"year\")?.value;\n  const m = parts.find((p) => p.type === \"month\")?.value;\n  const d = parts.find((p) => p.type === \"day\")?.value;\n  return `${y}-${m}-${d}`;\n}\n\nasync function req(path) {\n  return await this.helpers.httpRequest({\n    method: \"GET\",\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nconst item = $json;\nconst leadId = Number(item.lead_id || 0);\nif (!leadId) return { json: { ...item, is_cobranza_lead: false, should_process_cobranza_receipt: false } };\n\nconst leadRes = await req(\"/api/v4/leads/\" + leadId + \"?with=custom_fields_values,tags\");\nif (leadRes.statusCode >= 400) {\n  return { json: { ...item, is_cobranza_lead: false, should_process_cobranza_receipt: false, cobranza_detect_error: \"lead_fetch_failed\" } };\n}\n\nconst lead = leadRes.body || {};\nconst tags = ((((lead._embedded || {}).tags) || [])).map((t) => String(t.name || \"\").toLowerCase().trim());\nconst hasTag = tags.includes(String(CFG.tag).toLowerCase());\nconst doc = getFieldValue(lead, CFG.fieldIds.documento);\nconst isCobranza = hasTag || Boolean(String(doc).trim());\n\nconst aviso3 = getFieldValue(lead, CFG.fieldIds.aviso_3d);\nconst vencDate = parseAnyDate(getFieldValue(lead, CFG.fieldIds.fecha_venc_date) || getFieldValue(lead, CFG.fieldIds.fecha_venc_text));\nconst today = todayIso(CFG.timezone);\nconst duePassed = Boolean(vencDate && today > vencDate);\nconst currentStageAllowsAutomation = Number(lead.status_id || 0) === Number(((CFG.statusIds || {}).recordatorio_enviado || 0));\nconst withinWindow = Boolean(isCobranza && (Boolean(aviso3) || currentStageAllowsAutomation || duePassed || !vencDate));\n\nconst attachment = String(item.attachment_type || \"\").toLowerCase();\nconst fileName = String(item.media_filename || \"\").toLowerCase();\nconst isPdf = attachment === \"document\" || attachment === \"file\" || fileName.endsWith(\".pdf\");\nconst hasText = Boolean(String(item.message_text || \"\").trim());\nconst saldoPendienteRaw = getFieldValue(lead, CFG.fieldIds.saldo_pendiente);\nconst saldoActual = saldoPendienteRaw !== \"\" ? Number(saldoPendienteRaw) : null;\nconst pagoActual = Number(getFieldValue(lead, CFG.fieldIds.pago_realizado) || 0);\nconst ultimoAbono = Number(getFieldValue(lead, CFG.fieldIds.ultimo_abono) || 0);\nconst statusId = Number(lead.status_id || 0);\nconst isPaid = statusId === Number(CFG.paidStatusId || 0)\n  || (saldoActual !== null && saldoActual <= 0);\nconst paymentSignalRegex = /(abon|abono|pago|pagado|pague|transfer|deposit|comprobante|recibo|folio|adjunt|envi[o?]|mand[o?])/i;\nconst hasPaymentSignal = paymentSignalRegex.test(String(item.message_text || \"\"));\nconst shouldProcess = Boolean(isCobranza && withinWindow && (item.is_image || isPdf || hasText));\n\nreturn {\n  json: {\n    ...item,\n    is_cobranza_lead: isCobranza,\n    cobranza_has_tag: hasTag,\n    cobranza_documento: doc,\n    cobranza_within_window: withinWindow,\n    cobranza_due_iso: vencDate || \"\",\n    cobranza_today_iso: today,\n    cobranza_due_passed: duePassed,\n    cobranza_aviso_3d_sent: Boolean(aviso3 || currentStageAllowsAutomation),\n    cobranza_status_id: statusId,\n    cobranza_is_paid: isPaid,\n    cobranza_saldo_actual: saldoActual,\n    cobranza_pago_actual: pagoActual,\n    cobranza_original_total: saldoActual !== null ? Number((saldoActual + pagoActual).toFixed(2)) : null,\n    cobranza_last_hash: getFieldValue(lead, CFG.fieldIds.ultimo_hash),\n    cobranza_last_abono: ultimoAbono,\n    cobranza_has_payment_signal: hasPaymentSignal,\n    cobranza_responsible_user_id: Number(lead.responsible_user_id || 14811623),\n    cobranza_is_pdf: isPdf,\n    should_process_cobranza_receipt: shouldProcess,\n  },\n};"},"id":"0c54b501-cac3-485e-9fd1-9b5f04609f80","name":"Detectar Cobranza Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[704,832]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cobranza-switch","leftValue":"={{ $json.should_process_cobranza_receipt }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0752f0a8-2b82-456a-b9f5-3a7b3400e5e3","name":"Ruta Cobranza Recibo?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,832]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const CFG = {\"baseUrl\": \"https://agroriegoscorp.kommo.com\", \"token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjEyNjBhODkxNjZlMWZiNTI1MGVkZTFlNzVhY2ZhYjY3NWUxMjIyYzBmNjhlZjk5YTkxODhlNzRlODJiODVjYmYxMTY1ZTcwMDBiYmQ3NzliIn0.eyJhdWQiOiJkNGZjYmE0MS03NTM1LTQzOWYtOTk5Yy00YjZlNzA3NGUzMzIiLCJqdGkiOiIxMjYwYTg5MTY2ZTFmYjUyNTBlZGUxZTc1YWNmYWI2NzVlMTIyMmMwZjY4ZWY5OWE5MTg4ZTc0ZTgyYjg1Y2JmMTE2NWU3MDAwYmJkNzc5YiIsImlhdCI6MTc3NDM5MDcwOSwibmJmIjoxNzc0MzkwNzA5LCJleHAiOjE5MDY0MTYwMDAsInN1YiI6IjE1MDA0MDE5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2MjQ4Nzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTkwNTZiMDUtMjUzNi00NWM4LTkyYjgtNmM1ZjhkNmZhODc0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.TRv4MRF9eVCbNJW-zjYzX4BTOUQ7p2AuM7DZx97UQyYdL81itbaILIro2nhS1rxqHXa-k3FUUtL48qK3FnZi3O9uz0jJuDeeqH2RdKNkCviTO7t5ggnVqePntPFxS5BXmlVxDpRTgHHvywJYgWBnxx92D7YJzVsubScTUbT5AY-6qPKr9hMfpQnaK6BeEZUQIFIW_vUeo5TSKN9Ngc9bpCXtWEiA9OjMVapLJXM0aw1IvyrIkr38fod26Ef9dxGrm9hyrVNS3amGNcpG9IrMEyo3d_ZcG5HQAnQ1bw2_avXhEFY0QcD0r5UmL_9uqx_pvHCCxLbVJxwDfnTO3IZDZA\", \"openAiApiKey\": \"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\", \"openAiModel\": \"gpt-5-nano\", \"paidStatusId\": 103429439, \"partialStatusId\": 103429435, \"fieldIds\": {\"documento\": 3272952, \"telefono\": 3281414, \"fecha_venc_text\": 3281430, \"saldo_pendiente\": 3272956, \"pago_realizado\": 3281416, \"razon_social\": 3281418, \"fecha_venc_date\": 3272954, \"aviso_3d\": 3282254, \"aviso_2d\": 3282256, \"aviso_1d\": 3282258, \"ultimo_hash\": 3281420, \"ultimo_abono\": 3281422}};\n\nconst https = require(\"https\");\nconst http = require(\"http\");\n\nfunction nowUnixPlusDay() {\n  return Math.floor(Date.now() / 1000) + 86400;\n}\n\nfunction simpleHash(input) {\n  const str = String(input || \"\");\n  let h = 2166136261;\n  for (let i = 0; i < str.length; i += 1) {\n    h ^= str.charCodeAt(i);\n    h = Math.imul(h, 16777619);\n  }\n  return (h >>> 0).toString(16).padStart(8, \"0\");\n}\n\nfunction toNumberFlexible(value) {\n  const raw = String(value === null || value === undefined ? \"\" : value).trim();\n  if (!raw) return NaN;\n  if (/^-?\\d+(?:\\.\\d+)?$/.test(raw)) return Number(raw);\n  let t = raw.replace(/\\s+/g, \"\");\n  const hasDot = t.includes(\".\");\n  const hasComma = t.includes(\",\");\n  if (hasDot && hasComma) {\n    if (t.lastIndexOf(\",\") > t.lastIndexOf(\".\")) {\n      t = t.replace(/\\./g, \"\").replace(\",\", \".\");\n    } else {\n      t = t.replace(/,/g, \"\");\n    }\n    return Number(t);\n  }\n  if (hasComma) {\n    const commaCount = (t.match(/,/g) || []).length;\n    if (commaCount === 1 && t.split(\",\")[1].length <= 2) return Number(t.replace(\",\", \".\"));\n    return Number(t.replace(/,/g, \"\"));\n  }\n  if (hasDot) {\n    const dotCount = (t.match(/\\./g) || []).length;\n    if (dotCount === 1 && t.split(\".\")[1].length <= 2) return Number(t);\n    return Number(t.replace(/\\./g, \"\"));\n  }\n  return Number(t);\n}\n\nfunction detectMime(fileName, fallback) {\n  const lower = String(fileName || \"\").toLowerCase();\n  if (lower.endsWith(\".png\")) return \"image/png\";\n  if (lower.endsWith(\".jpg\") || lower.endsWith(\".jpeg\")) return \"image/jpeg\";\n  if (lower.endsWith(\".gif\")) return \"image/gif\";\n  if (lower.endsWith(\".webp\")) return \"image/webp\";\n  if (lower.endsWith(\".pdf\")) return \"application/pdf\";\n  return String(fallback || \"\").split(\";\")[0] || \"application/octet-stream\";\n}\n\nfunction compact(value, limit) {\n  const txt = typeof value === \"string\" ? value : JSON.stringify(value || {});\n  return txt.length > limit ? txt.slice(0, limit) + \"...(trunc)\" : txt;\n}\n\nfunction extractOpenAiText(body) {\n  const chunks = [];\n  for (const item of body.output || []) {\n    for (const part of item.content || []) {\n      if (part.type === \"output_text\" && part.text) chunks.push(String(part.text));\n    }\n  }\n  return chunks.join(\"\\n\").trim();\n}\n\nfunction parseJsonLoose(text) {\n  const raw = String(text || \"\").trim();\n  if (!raw) return null;\n  try {\n    return JSON.parse(raw);\n  } catch (e) {\n    const start = raw.indexOf(\"{\");\n    const end = raw.lastIndexOf(\"}\");\n    if (start >= 0 && end > start) {\n      try {\n        return JSON.parse(raw.slice(start, end + 1));\n      } catch (e2) {}\n    }\n  }\n  return null;\n}\n\nfunction extractAmountFromMessage(text) {\n  const src = String(text || \"\");\n  const candidates = src.match(/\\d{1,3}(?:[.,]\\d{3})*(?:[.,]\\d{1,2})|\\d+(?:[.,]\\d{1,2})?/g) || [];\n  let best = 0;\n  for (const token of candidates) {\n    const n = toNumberFlexible(token);\n    if (Number.isFinite(n) && n > best) best = n;\n  }\n  return best;\n}\n\nasync function request(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nasync function createNote(leadId, text) {\n  await request(\"POST\", \"/api/v4/leads/\" + leadId + \"/notes\", [{ note_type: \"common\", params: { text } }]);\n}\n\nasync function createTask(leadId, responsibleUserId, text) {\n  await request(\"POST\", \"/api/v4/tasks\", [{\n    text,\n    complete_till: nowUnixPlusDay(),\n    entity_id: Number(leadId),\n    entity_type: \"leads\",\n    responsible_user_id: Number(responsibleUserId || 14811623),\n  }]);\n}\n\nasync function escalateManualReview(leadId, responsibleUserId, reason, row, extra) {\n  const detail = [\n    \"Cobranza requiere revision manual.\",\n    \"Motivo: \" + String(reason || \"sin motivo\"),\n    \"Documento: \" + String(row.cobranza_documento || \"\"),\n    \"Saldo actual: \" + String(row.cobranza_saldo_actual || 0),\n    \"Pago actual: \" + String(row.cobranza_pago_actual || 0),\n    \"Ultimo hash: \" + String(row.cobranza_last_hash || \"\"),\n    \"URL: \" + String(row.media_url || \"\"),\n    extra ? \"Detalle: \" + String(extra) : \"\",\n  ].filter(Boolean).join(\" | \");\n  await createNote(leadId, detail);\n  await createTask(leadId, responsibleUserId, \"Revisar manualmente evidencia de pago en lead \" + leadId + \". Motivo: \" + String(reason || \"sin motivo\"));\n}\n\nasync function downloadBinary(url, redirects) {\n  const maxRedirects = 5;\n  const seen = Number(redirects || 0);\n  if (seen > maxRedirects) throw new Error(\"Too many redirects downloading media\");\n  const target = String(url || \"\");\n  if (!target) throw new Error(\"Missing media URL\");\n  const lib = target.startsWith(\"https\") ? https : http;\n  return await new Promise((resolve, reject) => {\n    const req = lib.get(target, (res) => {\n      const code = Number(res.statusCode || 0);\n      if ([301, 302, 303, 307, 308].includes(code) && res.headers.location) {\n        res.resume();\n        resolve(downloadBinary(res.headers.location, seen + 1));\n        return;\n      }\n      if (code >= 400) {\n        reject(new Error(\"Download failed \" + code));\n        return;\n      }\n      const chunks = [];\n      res.on(\"data\", (chunk) => chunks.push(chunk));\n      res.on(\"end\", () => {\n        resolve({\n          buffer: Buffer.concat(chunks),\n          contentType: String(res.headers[\"content-type\"] || \"\"),\n        });\n      });\n    });\n    req.on(\"error\", reject);\n  });\n}\n\nasync function analyzeWithOpenAI(row) {\n  const content = [];\n  const prompt = [\n    \"Analiza evidencia de pago de una cobranza.\",\n    \"Responde SOLO JSON valido con esta forma exacta:\",\n    '{\"es_pago\":true|false,\"es_recibo\":true|false,\"tipo\":\"abono|pago_total|no_pago|desconocido\",\"monto\":number|null,\"moneda\":\"MXN|USD|UNKNOWN\",\"referencia\":\"texto corto\",\"confidence\":number,\"requiere_revision_manual\":true|false,\"motivo\":\"texto corto\"}',\n    \"Reglas:\",\n    \"- Marca es_pago=true si hay intencion clara de pago o abono.\",\n    \"- Si hay un comprobante o recibo legible con monto, marca es_recibo=true y es_pago=true.\",\n    \"- Si el cliente solo promete pagar o pregunta algo, es_pago=false.\",\n    \"- Si no hay monto claro, monto=null y requiere_revision_manual=true.\",\n    \"- confidence debe ser un numero entre 0 y 1.\",\n    \"- Usa el texto del chat y el adjunto juntos si ambos existen.\",\n    \"- NUNCA uses Saldo actual ni Pago actual como monto detectado; solo sirven como contexto.\",\n    \"- No inventes montos ni referencias.\",\n    \"\",\n    \"Contexto del lead:\",\n    \"Documento: \" + String(row.cobranza_documento || \"\"),\n    \"Saldo actual: \" + String(row.cobranza_saldo_actual || 0),\n    \"Pago actual: \" + String(row.cobranza_pago_actual || 0),\n    \"Intento detectado por agente: \" + String(row.cobranza_agent_intent || \"\"),\n    \"Pista de monto detectada por agente: \" + String(row.cobranza_agent_amount_hint ?? \"\"),\n    \"Motivo/razon del agente: \" + String(row.cobranza_agent_reason || \"\"),\n    \"Mensaje del cliente: \" + String(row.message_text || \"\"),\n  ].join(\"\\n\");\n  content.push({ type: \"input_text\", text: prompt });\n\n  if (row.is_image || row.cobranza_is_pdf) {\n    const downloaded = await downloadBinary.call(this, row.media_url, 0);\n    const mime = detectMime(row.media_filename, downloaded.contentType);\n    const base64 = downloaded.buffer.toString(\"base64\");\n    if (row.is_image) {\n      content.push({ type: \"input_image\", image_url: \"data:\" + mime + \";base64,\" + base64 });\n    } else if (row.cobranza_is_pdf) {\n      content.push({\n        type: \"input_file\",\n        filename: String(row.media_filename || \"comprobante.pdf\"),\n        file_data: \"data:application/pdf;base64,\" + base64,\n      });\n    }\n  }\n\n  const payload = {\n    model: CFG.openAiModel,\n    reasoning: { effort: \"minimal\" },\n    max_output_tokens: 420,\n    input: [{ role: \"user\", content }],\n  };\n\n  const response = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://api.openai.com/v1/responses\",\n    headers: {\n      Authorization: \"Bearer \" + CFG.openAiApiKey,\n      \"Content-Type\": \"application/json\",\n    },\n    body: payload,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n\n  if (response.statusCode >= 400) {\n    throw new Error(\"OpenAI HTTP \" + response.statusCode + \" \" + compact(response.body, 600));\n  }\n\n  const rawText = extractOpenAiText(response.body || {});\n  const parsed = parseJsonLoose(rawText);\n  if (!parsed) {\n    throw new Error(\"OpenAI invalid JSON \" + compact(rawText, 600));\n  }\n  return {\n    rawText,\n    parsed,\n    responseId: String((response.body || {}).id || \"\"),\n  };\n}\n\nconst row = $json;\nconst leadId = Number(row.lead_id || 0);\nconst responsibleUserId = Number(row.cobranza_responsible_user_id || 14811623);\nif (!leadId) {\n  return { json: { ...row, cobranza_reply: \"No pude identificar tu cuenta para registrar el pago.\" } };\n}\n\nif (!row.cobranza_within_window) {\n  return { json: { ...row, cobranza_reply: \"Recibimos tu comprobante, pero esta fuera de la ventana automatica de validacion. Te atendera un asesor.\" } };\n}\n\nconst evidenceKey = row.media_url || row.media_filename\n  ? String(row.media_url || row.media_filename || \"\")\n  : \"text:\" + String(row.message_text || \"\").trim().toLowerCase();\nconst dedupeKey = String(leadId) + \"|\" + evidenceKey;\nconst hash = simpleHash(dedupeKey);\nif (String(row.cobranza_last_hash || \"\") === hash) {\n  await createNote(leadId, \"Comprobante duplicado ignorado. hash=\" + hash + \" | URL: \" + String(row.media_url || \"\"));\n  return { json: { ...row, cobranza_reply: \"Este comprobante ya estaba registrado previamente. Gracias.\", cobranza_duplicate_hash: hash } };\n}\n\nconst saldoActual = Number(row.cobranza_saldo_actual || 0);\nconst pagoActual = Number(row.cobranza_pago_actual || 0);\nconst originalTotal = Number(row.cobranza_original_total || saldoActual + pagoActual || 0);\nconst leadIsPaid = Boolean(row.cobranza_is_paid) || saldoActual <= 0;\n\nif (leadIsPaid) {\n  await escalateManualReview(\n    leadId,\n    responsibleUserId,\n    \"Lead ya liquidado con nueva evidencia de pago\",\n    row,\n    \"hash=\" + hash\n  );\n  return {\n    json: {\n      ...row,\n      cobranza_reply: \"Recibimos tu comprobante. Tu factura ya aparece liquidada, asi que un asesor revisara el chat manualmente.\",\n      cobranza_detected_amount: null,\n      cobranza_manual_review_required: true,\n      cobranza_manual_review_reason: \"Lead ya liquidado con nueva evidencia de pago\",\n    },\n  };\n}\n\nlet amount = 0;\nlet source = \"\";\nlet analysis = null;\nlet rawAiText = \"\";\ntry {\n  const ai = await analyzeWithOpenAI.call(this, row);\n  analysis = ai.parsed || {};\n  rawAiText = String(ai.rawText || \"\");\n  amount = toNumberFlexible((analysis || {}).monto);\n  source =\n    row.is_image ? \"openai_image\" :\n    row.cobranza_is_pdf ? \"openai_pdf\" :\n    \"openai_text\";\n} catch (e) {\n  await createNote(leadId, \"Cobranza IA error: \" + String(e.message || e));\n  await createTask(leadId, responsibleUserId, \"Validar comprobante manualmente (error IA) en lead \" + leadId);\n  return {\n    json: {\n      ...row,\n      cobranza_reply: \"Recibimos tu comprobante, pero hubo un error tecnico al analizarlo. Un asesor lo revisara.\",\n      cobranza_detected_amount: null,\n    },\n  };\n}\n\nconst confidence = Number(toNumberFlexible((analysis || {}).confidence) || 0);\nconst isPayment = Boolean((analysis || {}).es_pago);\nconst isReceipt = Boolean((analysis || {}).es_recibo);\nconst paymentType = String((analysis || {}).tipo || \"\").trim().toLowerCase();\nconst requiresManual = Boolean((analysis || {}).requiere_revision_manual);\nconst textAmount = extractAmountFromMessage(row.message_text || \"\");\nconst textSuggestsPayment = /(abon|pago|pagu|deposit|transfer|liquid|comprobante|recibo)/i.test(String(row.message_text || \"\"));\nconst explicitTextAmount = textSuggestsPayment && Number.isFinite(textAmount) && textAmount > 0;\nif (explicitTextAmount) {\n  amount = textAmount;\n  source = source ? source + \"+message_text\" : \"message_text_support\";\n}\nconst minConfidence = 0.6;\nconst receiptLikePayment = isReceipt || paymentType === \"abono\" || paymentType === \"pago_total\";\nconst effectiveIsPayment = isPayment || receiptLikePayment || explicitTextAmount;\nconst canTrustExplicitText = explicitTextAmount && Number.isFinite(amount) && amount > 0;\nconst canAutoApplyReceipt = receiptLikePayment && Number.isFinite(amount) && amount > 0;\n\nif (!effectiveIsPayment) {\n  if (row.is_image || row.cobranza_is_pdf || row.is_document || row.is_media) {\n    await escalateManualReview(\n      leadId,\n      responsibleUserId,\n      \"Adjunto sin evidencia clara de pago\",\n      row,\n      compact(rawAiText || analysis, 600)\n    );\n  }\n  return {\n    json: {\n      ...row,\n      cobranza_reply: \"Recibimos tu mensaje. Un asesor revisara tu respuesta.\",\n      cobranza_detected_amount: null,\n      cobranza_ai_result: analysis,\n    },\n  };\n}\n\nif (!(Number.isFinite(amount) && amount > 0) || (!canAutoApplyReceipt && !canTrustExplicitText && confidence < minConfidence) || (requiresManual && !canAutoApplyReceipt && !canTrustExplicitText)) {\n  await escalateManualReview(\n    leadId,\n    responsibleUserId,\n    \"Analisis IA no concluyente\",\n    row,\n    \"confidence=\" + String(confidence) + \" | AI=\" + compact(rawAiText || analysis, 900)\n  );\n  return {\n    json: {\n      ...row,\n      cobranza_reply: \"Recibimos tu comprobante. Un asesor validara el monto antes de aplicarlo.\",\n      cobranza_detected_amount: null,\n      cobranza_ai_result: analysis,\n    },\n  };\n}\n\nif (amount > saldoActual + 0.009 || (originalTotal > 0 && pagoActual + amount > originalTotal + 0.009)) {\n  await escalateManualReview(\n    leadId,\n    responsibleUserId,\n    \"Monto detectado excede el saldo pendiente\",\n    row,\n    \"monto=\" + String(amount) + \" | saldo_actual=\" + String(saldoActual) + \" | pago_actual=\" + String(pagoActual) + \" | total_original=\" + String(originalTotal)\n  );\n  return {\n    json: {\n      ...row,\n      cobranza_reply: \"Recibimos tu comprobante. Detectamos una diferencia en el monto y un asesor revisara el chat manualmente.\",\n      cobranza_detected_amount: Number(amount.toFixed(2)),\n      cobranza_ai_result: analysis,\n      cobranza_manual_review_required: true,\n      cobranza_manual_review_reason: \"Monto detectado excede el saldo pendiente\",\n    },\n  };\n}\n\nconst pagoNuevo = Math.max(0, pagoActual + amount);\nconst saldoNuevo = Math.max(0, saldoActual - amount);\nconst reviewStatusId = Number(CFG.partialStatusId || 0);\n\nconst customFields = [\n  { field_id: CFG.fieldIds.pago_realizado, values: [{ value: String(Number(pagoNuevo.toFixed(2))) }] },\n  { field_id: CFG.fieldIds.saldo_pendiente, values: [{ value: String(Number(saldoNuevo.toFixed(2))) }] },\n  { field_id: CFG.fieldIds.ultimo_abono, values: [{ value: String(Number(amount.toFixed(2))) }] },\n  { field_id: CFG.fieldIds.ultimo_hash, values: [{ value: hash }] },\n];\n\nconst patchLead = [{ id: leadId, custom_fields_values: customFields }];\nif (reviewStatusId > 0) {\n  patchLead[0].status_id = reviewStatusId;\n} else if (saldoNuevo <= 0) {\n  patchLead[0].status_id = CFG.paidStatusId;\n}\n\nconst patchRes = await request(\"PATCH\", \"/api/v4/leads\", patchLead);\nif (patchRes.statusCode >= 400) {\n  await createNote(leadId, \"Error al actualizar pago automatico: \" + JSON.stringify(patchRes.body || {}));\n  await createTask(leadId, responsibleUserId, \"Error tecnico actualizando pago automatico en lead \" + leadId);\n  return { json: { ...row, cobranza_reply: \"Recibimos tu comprobante, pero hubo un error tecnico al registrar el pago. Te contactaremos.\" } };\n}\n\nawait createNote(\n  leadId,\n  \"[COBRANZA_PAGO] hash=\" +\n    hash +\n    \" | monto=\" +\n    Number(amount.toFixed(2)) +\n    \" | pago_antes=\" +\n    Number(pagoActual.toFixed(2)) +\n    \" | pago_despues=\" +\n    Number(pagoNuevo.toFixed(2)) +\n    \" | saldo_antes=\" +\n    Number(saldoActual.toFixed(2)) +\n    \" | saldo_despues=\" +\n    Number(saldoNuevo.toFixed(2)) +\n    \" | referencia=\" +\n    String((analysis || {}).referencia || \"\") +\n    \" | fuente=\" +\n    source +\n    \" | confidence=\" +\n    String(confidence) +\n    \" | AI=\" +\n    compact(rawAiText || analysis, 600) +\n    \" | URL=\" +\n    String(row.media_url || \"\")\n);\n\nconst msg =\n  saldoNuevo <= 0\n    ? \"Gracias. Recibimos tu comprobante y registramos tu pago. Quedo en revision.\"\n    : \"Gracias. Registramos tu abono de $\" +\n      Number(amount.toFixed(2)).toLocaleString(\"en-US\", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) +\n      \". Tu saldo pendiente es $\" +\n      Number(saldoNuevo.toFixed(2)).toLocaleString(\"en-US\", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) +\n      \". El pago quedo en revision.\";\n\nreturn {\n  json: {\n    ...row,\n    cobranza_detected_amount: Number(amount.toFixed(2)),\n    cobranza_saldo_nuevo: Number(saldoNuevo.toFixed(2)),\n    cobranza_ai_result: analysis,\n    cobranza_reply: msg,\n  },\n};\n"},"id":"2128f249-5247-485e-9883-fdac3f4e10ba","name":"Cobranza OCR + Abono","type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,736]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const CFG = {\"baseUrl\": \"https://agroriegoscorp.kommo.com\", \"token\": \"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjEyNjBhODkxNjZlMWZiNTI1MGVkZTFlNzVhY2ZhYjY3NWUxMjIyYzBmNjhlZjk5YTkxODhlNzRlODJiODVjYmYxMTY1ZTcwMDBiYmQ3NzliIn0.eyJhdWQiOiJkNGZjYmE0MS03NTM1LTQzOWYtOTk5Yy00YjZlNzA3NGUzMzIiLCJqdGkiOiIxMjYwYTg5MTY2ZTFmYjUyNTBlZGUxZTc1YWNmYWI2NzVlMTIyMmMwZjY4ZWY5OWE5MTg4ZTc0ZTgyYjg1Y2JmMTE2NWU3MDAwYmJkNzc5YiIsImlhdCI6MTc3NDM5MDcwOSwibmJmIjoxNzc0MzkwNzA5LCJleHAiOjE5MDY0MTYwMDAsInN1YiI6IjE1MDA0MDE5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2MjQ4Nzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTkwNTZiMDUtMjUzNi00NWM4LTkyYjgtNmM1ZjhkNmZhODc0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.TRv4MRF9eVCbNJW-zjYzX4BTOUQ7p2AuM7DZx97UQyYdL81itbaILIro2nhS1rxqHXa-k3FUUtL48qK3FnZi3O9uz0jJuDeeqH2RdKNkCviTO7t5ggnVqePntPFxS5BXmlVxDpRTgHHvywJYgWBnxx92D7YJzVsubScTUbT5AY-6qPKr9hMfpQnaK6BeEZUQIFIW_vUeo5TSKN9Ngc9bpCXtWEiA9OjMVapLJXM0aw1IvyrIkr38fod26Ef9dxGrm9hyrVNS3amGNcpG9IrMEyo3d_ZcG5HQAnQ1bw2_avXhEFY0QcD0r5UmL_9uqx_pvHCCxLbVJxwDfnTO3IZDZA\", \"salesbotId\": 38308, \"fieldIds\": {\"respuesta_ia\": 3281424}};\nconst row = $json;\nif (row.cobranza_agent_should_reply === false) return { json: { ...row, cobranza_send_status: \"skipped_no_reply_needed\" } };\nconst leadId = Number(row.lead_id || 0);\nif (!leadId) return { json: { ...row, cobranza_send_status: \"skipped_no_lead\" } };\nconst content = String(row.cobranza_reply || row.cobranza_agent_reply_text || \"Recibimos tu comprobante.\").trim() || \"Recibimos tu comprobante.\";\n\nasync function req(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nasync function createManualReviewArtifacts(leadId, responsibleUserId, reason, row) {\n  const noteText = [\n    \"Cobranza requiere revision manual desde ruta conversacional.\",\n    \"Motivo: \" + String(reason || \"sin motivo\"),\n    \"Documento: \" + String(row.cobranza_documento || \"\"),\n    \"Mensaje cliente: \" + String(row.message_text || \"\"),\n    \"Intent: \" + String(row.cobranza_agent_intent || \"\"),\n    \"Confidence: \" + String(row.cobranza_agent_confidence || \"\"),\n  ].join(\" | \");\n  await req(\"POST\", \"/api/v4/leads/\" + leadId + \"/notes\", [{ note_type: \"common\", params: { text: noteText } }]);\n  await req(\"POST\", \"/api/v4/tasks\", [{\n    text: \"Revisar manualmente chat de cobranza en lead \" + leadId + \". Motivo: \" + String(reason || \"sin motivo\"),\n    complete_till: Math.floor(Date.now() / 1000) + 86400,\n    entity_id: Number(leadId),\n    entity_type: \"leads\",\n    responsible_user_id: Number(responsibleUserId || 14811623),\n  }]);\n}\n\nfunction sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\n\nfunction compact(value, limit) {\n  try {\n    const s = JSON.stringify(value || {});\n    return s.length > limit ? s.slice(0, limit) + \"...(trunc)\" : s;\n  } catch (e) {\n    const s = String(value || \"\");\n    return s.length > limit ? s.slice(0, limit) + \"...(trunc)\" : s;\n  }\n}\n\nasync function latestOutgoingMarker(leadId) {\n  const evRes = await req(\n    \"GET\",\n    \"/api/v4/events?limit=20&filter[entity]=leads&filter[entity_id]=\" +\n      Number(leadId) +\n      \"&filter[type][]=outgoing_chat_message\"\n  );\n  if (evRes.statusCode >= 400) {\n    return { marker: \"\", http: Number(evRes.statusCode || 0), createdAt: 0 };\n  }\n  const ev = ((((evRes.body || {})._embedded || {}).events || [])[0] || {});\n  return {\n    marker: String(ev.id || \"\"),\n    http: Number(evRes.statusCode || 0),\n    createdAt: Number(ev.created_at || 0),\n  };\n}\n\nconst before = await latestOutgoingMarker(leadId);\nif (row.cobranza_manual_review_required && !row.cobranza_agent_should_process_payment) {\n  await createManualReviewArtifacts(\n    leadId,\n    row.cobranza_responsible_user_id,\n    row.cobranza_manual_review_reason || row.cobranza_agent_reason,\n    row\n  );\n}\nconst fieldRes = await req(\"PATCH\", \"/api/v4/leads\", [{\n  id: leadId,\n  custom_fields_values: [{\n    field_id: Number(CFG.fieldIds.respuesta_ia),\n    values: [{ value: content }],\n  }],\n}]);\nlet sendRes = { statusCode: 0, body: { skipped: true } };\nlet after = before;\nif (fieldRes.statusCode < 400) {\n  await sleep(600);\n  sendRes = await req(\"POST\", \"/api/v2/salesbot/run\", [{\n    bot_id: Number(CFG.salesbotId),\n    entity_id: leadId,\n    entity_type: 2,\n  }]);\n  if (sendRes.statusCode < 400) {\n    for (let i = 0; i < 5; i += 1) {\n      await sleep(1200);\n      after = await latestOutgoingMarker(leadId);\n      if (String(after.marker || \"\") && String(after.marker || \"\") !== String(before.marker || \"\")) break;\n    }\n  }\n}\nconst fieldBody = compact(fieldRes.body, 600);\nconst bodyTxt = compact(sendRes.body, 600);\nconst delivered = String(after.marker || \"\") !== String(before.marker || \"\") && String(after.marker || \"\") !== \"\";\nconst ok = fieldRes.statusCode < 400 && sendRes.statusCode < 400 && delivered;\nconst status = ok\n  ? \"sent\"\n  : fieldRes.statusCode >= 400\n    ? \"failed_reply_field_update\"\n    : sendRes.statusCode >= 400\n      ? \"failed_salesbot_run\"\n      : \"failed_no_outgoing_chat\";\n\nreturn {\n  json: {\n    ...row,\n    cobranza_send_status: status,\n    cobranza_reply_field_http: Number(fieldRes.statusCode || 0),\n    cobranza_reply_field_body: fieldBody,\n    cobranza_send_http: Number(sendRes.statusCode || 0),\n    cobranza_send_body: bodyTxt,\n    cobranza_send_mode: \"lead_field_plus_salesbot_run\",\n    cobranza_reply_field_id: Number(CFG.fieldIds.respuesta_ia),\n    cobranza_salesbot_id: Number(CFG.salesbotId),\n    cobranza_outgoing_before: before.marker || \"\",\n    cobranza_outgoing_after: after.marker || \"\",\n    cobranza_reply_sent: content,\n  },\n};\n"},"id":"ccfa52c3-533a-49b6-ae23-1813f55a41e0","name":"Enviar Mensaje Cobranza (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,832]},{"parameters":{"promptType":"define","text":"={{ [\"MENSAJE SALIENTE PREVIO ESPERADO:\", \"Hola \" + ($json.contact_name || $json.contact_name || $json.cobranza_documento || \"cliente\") + \", le informamos que su pago correspondiente a \" + ($json.cobranza_documento || \"su factura\") + \" tiene fecha de vencimiento \" + ($json.cobranza_due_iso || $json.cobranza_today_iso || \"pendiente\") + \".\", \"\", \"Si ya realizo el pago, por favor ignore este mensaje.\", \"\", \"Somos AGR.\", \"\", \"MENSAJE DEL CLIENTE: \" + ($json.message_text || \"\"), \"CLIENTE: \" + ($json.contact_name || \"\"), \"DOCUMENTO: \" + ($json.cobranza_documento || \"\"), \"SALDO ACTUAL: \" + ($json.cobranza_saldo_actual || 0), \"PAGO ACTUAL: \" + ($json.cobranza_pago_actual || 0), \"ULTIMO ABONO: \" + ($json.cobranza_last_abono || 0), \"LEAD PAGADO: \" + ($json.cobranza_is_paid ? \"SI\" : \"NO\"), \"FECHA VENCIMIENTO: \" + ($json.cobranza_due_iso || \"\"), \"CANAL: \" + ($json.origin || \"\"), \"ADJUNTO: \" + (($json.is_image || $json.cobranza_is_pdf || $json.is_document || $json.is_media) ? \"SI\" : \"NO\")].join(\"\\n\") }}","options":{"systemMessage":"Eres un agente de cobranza de Agroriegos para WhatsApp. Debes interpretar el mensaje actual usando el historial de la conversacion y responder SOLO JSON valido en una sola linea.\n\nContexto fijo:\n- Siempre asume que el cliente esta respondiendo despues de este recordatorio inicial de cobranza:\n  \"Hola nombre del cliente, le informamos que su pago correspondiente a numero de factura tiene fecha de vencimiento vencimiento del pago.\n\nSi ya realiz? el pago, por favor ignore este mensaje.\n\nSomos AGR.\"\n- Si no hay suficiente memoria previa, usa ese recordatorio como contexto conversacional base.\n- Interpreta frases como \"si\", \"ahorita te lo mando\", \"ya quedo\", \"te adjunto el comprobante\", \"fueron 5000\" como respuesta a ese recordatorio.\n\nFormato exacto:\n{\"intent\":\"payment_evidence|payment_promise|question|conversation|manual_review\",\"should_process_payment\":true|false,\"should_reply\":true|false,\"reply_text\":\"texto breve en espanol\",\"amount_hint\":number|null,\"confidence\":number,\"needs_manual_review\":true|false,\"reason\":\"texto breve\"}\n\nReglas:\n- Usa el historial del chat para entender referencias como \"si\", \"ahorita\", \"ya se lo mande\", \"fueron 5000\".\n- Si el cliente manda imagen, PDF, comprobante o recibo, intent=payment_evidence y should_process_payment=true.\n- Si solo promete enviar el comprobante despues o dice que pagara pronto, intent=payment_promise y should_process_payment=false.\n- Si pregunta por saldo, factura, fecha, aplicacion del pago o confirmacion, intent=question.\n- Si el mensaje es ambiguo o mezcla varios temas, intent=manual_review y needs_manual_review=true.\n- Si LEAD PAGADO=SI y el cliente solo agradece, confirma o conversa sin adjuntar nueva evidencia, responde como conversation, should_process_payment=false y NO vuelvas a pedir comprobante.\n- Si LEAD PAGADO=SI y el cliente adjunta nueva evidencia, responde como manual_review, should_process_payment=true, needs_manual_review=true.\n- amount_hint solo si el monto es claro; si no, null.\n- confidence debe ser un numero entre 0 y 1.\n- reply_text debe ser breve, profesional, sin emojis.\n- No inventes pagos, montos, folios ni confirmaciones.\n\nRegla de alcance (muy importante):\n- Este canal es SOLO para cobranzas.\n- Si el cliente pide informes del negocio, catalogo, productos, precios, cotizaciones, soporte tecnico, ventas, distribucion, fabrica, tuberias, mangueras, conexiones o cualquier tema fuera de cobranza, responde SIEMPRE con este mensaje breve:\n  \"Este canal es solo para cobranzas. Para informes del negocio, por favor comunicate con Alfredo al +58 424-7048245 o con tu asesor de ventas de tu zona.\"\n- Para esos casos usa intent=question, should_process_payment=false, should_reply=true, needs_manual_review=false.\n- No pidas comprobante cuando el tema no sea cobranza.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1152,816],"id":"agent-cobranza-001","name":"AI Agent Cobranza","onError":"continueRegularOutput"},{"parameters":{"model":"gpt-5-nano","options":{"reasoningEffort":"low"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1104,1056],"id":"openai-cobranza-model-001","name":"OpenAI Chat Model Cobranza","credentials":{"openAiApi":{"id":"0qEEUh18Ss3m1xVa","name":"OpenAIconn"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.talk_id || $json.chat_id || $json.sessionId || $json.lead_id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1296,1056],"id":"memory-cobranza-001","name":"Window Buffer Memory Cobranza"},{"parameters":{"jsCode":"let rawOutput = String($json.output || '').trim();\nrawOutput = rawOutput\n  .replace(/```json\\s*/gi, '')\n  .replace(/```\\s*/gi, '')\n  .replace(/^\\s*`+|`+\\s*$/g, '')\n  .trim();\n\nlet parsed = null;\ntry { parsed = JSON.parse(rawOutput); } catch {}\nif (!parsed) {\n  const start = rawOutput.indexOf('{');\n  const end = rawOutput.lastIndexOf('}');\n  if (start !== -1 && end > start) {\n    try { parsed = JSON.parse(rawOutput.slice(start, end + 1)); } catch {}\n  }\n}\n\nconst base = $('Detectar Cobranza Lead').item.json;\nconst text = String(base.message_text || '').trim();\nconst hasAttachment = Boolean(base.is_image || base.cobranza_is_pdf || base.is_document || base.is_media);\nconst isPaid = Boolean(base.cobranza_is_paid)\n  || (base.cobranza_saldo_actual != null && Number(base.cobranza_saldo_actual) <= 0);\nconst paymentRegex = /(abon|abono|pago|pagado|pague|pagu[e?]|transfer|deposit|comprobante|recibo|spei|folio|adjunt|envi[o?]|mand[o?])/i;\nconst promiseRegex = /(ahorita|ahora|en un momento|enseguida|lo mando|se lo mando|te lo mando|ya casi|mas tarde|al rato)/i;\nconst suggestsPayment = paymentRegex.test(text);\nconst suggestsPromise = promiseRegex.test(text) && !hasAttachment;\nconst isPlainAcknowledgement = /^(gracias|ok|vale|perfecto|entendido|de acuerdo|listo|ya quedo|si)\\b/i.test(text);\nconst outsideCobranzaRegex = /(informe|informacion|cat[a?]logo|catalogo|producto|productos|precio|precios|cotizaci[o?]n|cotizacion|venta|ventas|asesor|asesoria|soporte|garant[i?]a|fabrica|fabricaci[o?]n|tuber[i?]a|tuberias|manguera|mangueras|conexiones|accesorios|distribuidora)/i;\nconst outsideCobranza = outsideCobranzaRegex.test(text) && !hasAttachment && !suggestsPayment;\n\nfunction toNumber(value) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : null;\n}\n\nif (!parsed || typeof parsed !== 'object') parsed = {};\n\nconst allowedIntents = new Set(['payment_evidence', 'payment_promise', 'question', 'conversation', 'manual_review']);\nconst intent = allowedIntents.has(String(parsed.intent || '').trim())\n  ? String(parsed.intent).trim()\n  : (hasAttachment ? 'payment_evidence' : suggestsPromise ? 'payment_promise' : suggestsPayment ? 'manual_review' : 'conversation');\n\nlet shouldProcess = hasAttachment;\nif (typeof parsed.should_process_payment === 'boolean') {\n  shouldProcess = Boolean(parsed.should_process_payment) || hasAttachment;\n} else {\n  shouldProcess = hasAttachment || (suggestsPayment && !suggestsPromise) || intent === 'payment_evidence';\n}\n\nconst fallbackReply = hasAttachment\n  ? 'Recibimos tu comprobante. Lo estamos validando.'\n  : suggestsPromise\n    ? 'Gracias. Quedamos atentos a tu comprobante para validar el abono.'\n    : 'Recibimos tu mensaje. Si gustas, comparte tu comprobante para validar el pago.';\n\nconst shouldReply = typeof parsed.should_reply === 'boolean' ? parsed.should_reply : true;\nlet replyText = String(parsed.reply_text || fallbackReply).trim() || fallbackReply;\nconst amountHint = toNumber(parsed.amount_hint ?? parsed.monto);\nconst confidence = Number.isFinite(Number(parsed.confidence)) ? Math.max(0, Math.min(1, Number(parsed.confidence))) : 0;\nlet needsManualReview = typeof parsed.needs_manual_review === 'boolean'\n  ? parsed.needs_manual_review\n  : intent === 'manual_review';\nlet reason = String(parsed.reason || '').trim();\n\nif (isPaid && !hasAttachment) {\n  replyText = isPlainAcknowledgement\n    ? 'Gracias. Tu pago ya fue registrado y tu saldo se encuentra liquidado.'\n    : 'Tu pago ya fue registrado y tu saldo se encuentra liquidado. Si necesitas ayuda adicional, un asesor puede apoyarte.';\n  shouldProcess = false;\n  needsManualReview = false;\n}\n\nif (isPaid && hasAttachment) {\n  replyText = 'Recibimos tu comprobante. Tu factura ya aparece liquidada, asi que un asesor revisara el chat manualmente.';\n  shouldProcess = true;\n  needsManualReview = true;\n  reason = reason || 'Lead liquidado con nueva evidencia de pago';\n}\n\nif (outsideCobranza) {\n  replyText = 'Este canal es solo para cobranzas. Para informes del negocio, por favor comunicate con Alfredo al +58 424-7048245 o con tu asesor de ventas de tu zona.';\n  shouldProcess = false;\n  needsManualReview = false;\n  reason = reason || 'Consulta fuera de cobranza';\n}\n\nif (!hasAttachment && needsManualReview) {\n  shouldProcess = false;\n  replyText = replyText || 'Recibimos tu mensaje. Un asesor revisara el chat para validar el siguiente paso.';\n}\n\nreturn [{\n  json: {\n    ...base,\n    cobranza_agent_raw_output: rawOutput,\n    cobranza_agent_intent: intent,\n    cobranza_agent_should_process_payment: Boolean(shouldProcess),\n    cobranza_agent_should_reply: Boolean(shouldReply),\n    cobranza_agent_reply: replyText,\n    cobranza_agent_reply_text: replyText,\n    cobranza_agent_amount_hint: amountHint,\n    cobranza_agent_confidence: confidence,\n    cobranza_agent_needs_manual_review: Boolean(needsManualReview),\n    cobranza_agent_reason: reason,\n    cobranza_manual_review_required: Boolean(needsManualReview),\n    cobranza_manual_review_reason: reason,\n    cobranza_reply: !Boolean(shouldProcess) ? replyText : (base.cobranza_reply || ''),\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,816],"id":"parsear-cobranza-agent-001","name":"Parsear Cobranza Agent (Code)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cobranza-agent-switch","leftValue":"={{ $json.is_image || $json.cobranza_is_pdf || $json.is_document || $json.cobranza_agent_should_process_payment }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1728,816],"id":"ruta-cobranza-agent-001","name":"Ruta Cobranza Agent?"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Descargar Excel","type":"main","index":0}]]},"Descargar Excel":{"main":[[{"node":"Leer Excel","type":"main","index":0}]]},"Leer Excel":{"main":[[{"node":"Limpiar Datos","type":"main","index":0}]]},"Limpiar Datos":{"main":[[{"node":"Upsert Lead+Contacto (Code)","type":"main","index":0}]]},"Upsert Lead+Contacto (Code)":{"main":[[{"node":"Reminder Engine (Code)","type":"main","index":0}]]},"Cron Cobranza 09:00":{"main":[[{"node":"Reminder Engine (Code)","type":"main","index":0}]]},"Webhook Cobranza":{"main":[[{"node":"Parsear Chat Cobranza (Code)","type":"main","index":0}]]},"Parsear Chat Cobranza (Code)":{"main":[[{"node":"Detectar Cobranza Lead","type":"main","index":0}]]},"Detectar Cobranza Lead":{"main":[[{"node":"Ruta Cobranza Recibo?","type":"main","index":0}]]},"Ruta Cobranza Recibo?":{"main":[[{"node":"AI Agent Cobranza","type":"main","index":0}],[{"node":"AI Agent Cobranza","type":"main","index":0}]]},"Cobranza OCR + Abono":{"main":[[{"node":"Enviar Mensaje Cobranza (Code)","type":"main","index":0}]]},"AI Agent Cobranza":{"main":[[{"node":"Parsear Cobranza Agent (Code)","type":"main","index":0}]]},"OpenAI Chat Model Cobranza":{"ai_languageModel":[[{"node":"AI Agent Cobranza","type":"ai_languageModel","index":0}]]},"Window Buffer Memory Cobranza":{"ai_memory":[[{"node":"AI Agent Cobranza","type":"ai_memory","index":0}]]},"Parsear Cobranza Agent (Code)":{"main":[[{"node":"Ruta Cobranza Agent?","type":"main","index":0}]]},"Ruta Cobranza Agent?":{"main":[[{"node":"Cobranza OCR + Abono","type":"main","index":0}],[{"node":"Enviar Mensaje Cobranza (Code)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null}