wf_report_create.json
{"name":"Kommo Cobranzas - Reporte Excel Diario","nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":8}]}},"id":"cron-cobros-01","name":"Cron Diario Cobros 08:00","type":"n8n-nodes-base.cron","typeVersion":1,"position":[240,304]},{"parameters":{"jsCode":"\nconst CFG = {\"baseUrl\":\"https://agroriegoscorp.kommo.com\",\"token\":\"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjEyNjBhODkxNjZlMWZiNTI1MGVkZTFlNzVhY2ZhYjY3NWUxMjIyYzBmNjhlZjk5YTkxODhlNzRlODJiODVjYmYxMTY1ZTcwMDBiYmQ3NzliIn0.eyJhdWQiOiJkNGZjYmE0MS03NTM1LTQzOWYtOTk5Yy00YjZlNzA3NGUzMzIiLCJqdGkiOiIxMjYwYTg5MTY2ZTFmYjUyNTBlZGUxZTc1YWNmYWI2NzVlMTIyMmMwZjY4ZWY5OWE5MTg4ZTc0ZTgyYjg1Y2JmMTE2NWU3MDAwYmJkNzc5YiIsImlhdCI6MTc3NDM5MDcwOSwibmJmIjoxNzc0MzkwNzA5LCJleHAiOjE5MDY0MTYwMDAsInN1YiI6IjE1MDA0MDE5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2MjQ4Nzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJwdXNoX25vdGlmaWNhdGlvbnMiLCJmaWxlcyIsImNybSIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTkwNTZiMDUtMjUzNi00NWM4LTkyYjgtNmM1ZjhkNmZhODc0IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.TRv4MRF9eVCbNJW-zjYzX4BTOUQ7p2AuM7DZx97UQyYdL81itbaILIro2nhS1rxqHXa-k3FUUtL48qK3FnZi3O9uz0jJuDeeqH2RdKNkCviTO7t5ggnVqePntPFxS5BXmlVxDpRTgHHvywJYgWBnxx92D7YJzVsubScTUbT5AY-6qPKr9hMfpQnaK6BeEZUQIFIW_vUeo5TSKN9Ngc9bpCXtWEiA9OjMVapLJXM0aw1IvyrIkr38fod26Ef9dxGrm9hyrVNS3amGNcpG9IrMEyo3d_ZcG5HQAnQ1bw2_avXhEFY0QcD0r5UmL_9uqx_pvHCCxLbVJxwDfnTO3IZDZA\",\"pipelineId\":13403731,\"tag\":\"cobranza_n8n_excel\",\"fieldIds\":{\"documento\":3272952,\"telefono\":3281414,\"fecha_venc_text\":3281430,\"saldo_pendiente\":3272956,\"pago_realizado\":3281416,\"razon_social\":3281418,\"fecha_abono\":3293960,\"status_pago\":3281432},\"statusPagoEnums\":{\"pagado\":8030168,\"abonado\":8030170,\"no_pagado\":8030172}};\n\nfunction fieldVal(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return '';\n  const v = hit.values[0].value;\n  return v === null || v === undefined ? '' : String(v);\n}\n\nfunction fieldEnumId(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return 0;\n  return Number(hit.values[0].enum_id || 0);\n}\n\nfunction readStatusPago(lead) {\n  const enumId = fieldEnumId(lead, CFG.fieldIds.status_pago);\n  if (enumId === CFG.statusPagoEnums.pagado) return 'Pagado';\n  if (enumId === CFG.statusPagoEnums.abonado) return 'Abonado';\n  if (enumId === CFG.statusPagoEnums.no_pagado) return 'No Pagado';\n  return '';\n}\n\nasync function req(method, path) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: { Authorization: 'Bearer ' + CFG.token },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nconst leads = [];\nfor (let page = 1; page <= 100; page++) {\n  const res = await req('GET', '/api/v4/leads?limit=250&page=' + page + '&with=custom_fields_values,tags');\n  if (res.statusCode >= 400) break;\n  const chunk = res.body?._embedded?.leads || [];\n  if (!chunk.length) break;\n  leads.push(...chunk);\n  if (!res.body?._links?.next?.href) break;\n}\n\nconst rows = [];\nfor (const lead of leads) {\n  const tags = (lead._embedded?.tags || []).map(t => String(t.name || '').toLowerCase().trim());\n  if (!tags.includes(CFG.tag.toLowerCase())) continue;\n  if (Number(lead.pipeline_id) !== Number(CFG.pipelineId)) continue;\n\n  const pagoAcumulado = Number(fieldVal(lead, CFG.fieldIds.pago_realizado) || 0);\n  if (!(pagoAcumulado > 0)) continue;\n\n  const saldoPendiente = Number(fieldVal(lead, CFG.fieldIds.saldo_pendiente) || 0);\n  const saldoOriginal = pagoAcumulado + saldoPendiente;\n\n  rows.push({\n    DOCUMENTO: fieldVal(lead, CFG.fieldIds.documento),\n    RAZON_SOCIAL: fieldVal(lead, CFG.fieldIds.razon_social),\n    TELEFONO: fieldVal(lead, CFG.fieldIds.telefono),\n    FECHA_VENCIMIENTO: fieldVal(lead, CFG.fieldIds.fecha_venc_text),\n    SALDO_ORIGINAL: saldoOriginal,\n    PAGO_ACUMULADO: pagoAcumulado,\n    SALDO_PENDIENTE: saldoPendiente,\n    FECHA_ULTIMO_ABONO: (() => { const ts = fieldVal(lead, CFG.fieldIds.fecha_abono); if (!ts) return ''; const n = Number(ts); if (!n) return ts; const d = new Date(n * 1000); return d.toLocaleDateString('es-MX', { day: '2-digit', month: '2-digit', year: 'numeric' }); })(),\n    STATUS_PAGO: readStatusPago(lead),\n  });\n}\n\nrows.sort((a, b) => String(a.DOCUMENTO).localeCompare(String(b.DOCUMENTO)));\n\nreturn rows.map(r => ({ json: r }));\n"},"id":"code-cobros-01","name":"Generar Filas Cobros (Code)","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,304]},{"parameters":{"operation":"toFile","fileFormat":"xlsx","options":{"headerRow":true,"sheetName":"Cobros"}},"id":"spreadsheet-cobros-01","name":"Convertir a Excel","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[848,304]},{"parameters":{"operation":"create","name":{"__rl":false,"value":"={{ 'cobros_' + new Date().toISOString().slice(0,10) + '.xlsx' }}"},"inputDataFieldName":"data","options":{}},"id":"drive-cobros-01","name":"Subir a Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1088,304],"credentials":{"googleDriveOAuth2Api":{"id":"p9Jf1xjKDCPCYy1s","name":"Google Drive account 2"}}},{"parameters":{"jsCode":"const rows = $input.all().map(i => i.json);\nreturn rows.map(r => ({ json: {\n  'Documento / Factura': r.DOCUMENTO,\n  'Razon Social':        r.RAZON_SOCIAL,\n  'Telefono':            r.TELEFONO,\n  'Fecha Vencimiento':   r.FECHA_VENCIMIENTO,\n  'Saldo Original':      r.SALDO_ORIGINAL,\n  'Pago Acumulado':      r.PAGO_ACUMULADO,\n  'Saldo Pendiente':     r.SALDO_PENDIENTE,\n  'Fecha Ultimo Abono':  r.FECHA_ULTIMO_ABONO,\n  'Estatus Pago':        r.STATUS_PAGO,\n}}));"},"id":"code-rename-01","name":"Renombrar Columnas","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,304]}],"connections":{"Cron Diario Cobros 08:00":{"main":[[{"node":"Generar Filas Cobros (Code)","type":"main","index":0}]]},"Generar Filas Cobros (Code)":{"main":[[{"node":"Renombrar Columnas","type":"main","index":0}]]},"Renombrar Columnas":{"main":[[{"node":"Convertir a Excel","type":"main","index":0}]]},"Convertir a Excel":{"main":[[{"node":"Subir a Drive","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null}