workflow_n8n_kommo_actualizado.json
{
  "updatedAt": "2026-03-10T23:28:04.394Z",
  "createdAt": "2026-02-28T06:10:58.458Z",
  "id": "gfJm4JUoiUi7zZgaB2ob0",
  "name": "Kommo Cuentas por Cobrar (Ingesta vía HTTP)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1QFbTelTwH9M9_Sl-1F17KkiTgv9CqGl2",
          "mode": "list",
          "cachedResultName": "pruebakommo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1QFbTelTwH9M9_Sl-1F17KkiTgv9CqGl2"
        },
        "event": "fileCreated",
        "options": {}
      },
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "id": "22df3df8-5615-449c-814c-9fd147ce102e",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p9Jf1xjKDCPCYy1s",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "name": "Descargar Excel",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        304
      ],
      "id": "e9bedc5e-50a0-4711-9b23-6caabe02d4e6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "p9Jf1xjKDCPCYy1s",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Leer Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        656,
        304
      ],
      "id": "0eeef03c-bb63-47ac-801d-ac1ee59139e5"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfunction pad2(n) {\n  return String(n).padStart(2, \"0\");\n}\n\nfunction excelSerialToIso(serial) {\n  const num = Number(serial);\n  if (!Number.isFinite(num) || num < 1000) return \"\";\n  const utcDays = Math.floor(num - 25569);\n  const date = new Date(utcDays * 86400 * 1000);\n  const y = date.getUTCFullYear();\n  const m = pad2(date.getUTCMonth() + 1);\n  const d = pad2(date.getUTCDate());\n  return `${y}-${m}-${d}`;\n}\n\nfunction dateTextToIso(value) {\n  if (value === null || value === undefined) return \"\";\n  const str = String(value).trim();\n  if (!str) return \"\";\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(str)) return str;\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(str)) {\n    const [mm, dd, yyyy] = str.split(\"/\");\n    return `${yyyy}-${mm}-${dd}`;\n  }\n  const asNum = Number(str);\n  if (Number.isFinite(asNum)) return excelSerialToIso(asNum);\n  return \"\";\n}\n\nfunction dateTextToUS(value) {\n  if (value === null || value === undefined) return \"\";\n  const str = String(value).trim();\n  if (!str) return \"\";\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(str)) return str;\n  const iso = dateTextToIso(str);\n  if (!iso) return str;\n  const [y, m, d] = iso.split(\"-\");\n  return `${m}/${d}/${y}`;\n}\n\nfunction normalizeMxPhone(value) {\n  const digits = String(value || \"\").replace(/[^0-9]/g, \"\").trim();\n  if (!digits) return \"\";\n  if (digits.length === 10) return \"521\" + digits;\n  if (digits.length === 12 && digits.startsWith(\"52\")) return \"521\" + digits.slice(2);\n  if (digits.length === 13 && digits.startsWith(\"521\")) return digits;\n  return digits;\n}\n\nfor (const item of items) {\n  const row = item.json;\n  const documento = row[\"__EMPTY_5\"];\n  if (!documento) continue;\n  if (String(documento).trim().toUpperCase() === \"DOCUMENTO\") continue;\n\n  const docNum = parseInt(documento, 10);\n  if (Number.isNaN(docNum)) continue;\n\n  const telefono = normalizeMxPhone(row[\"__EMPTY_4\"]);\n  const razonSocial = String(row[\"__EMPTY_3\"] || \"Desconocido\").trim();\n  const vendedor = String(row[\"__EMPTY\"] || \"\").trim();\n\n  const saldoDoc = parseFloat(String(row[\"__EMPTY_17\"] || \"0\").replace(/,/g, \"\")) || 0;\n  const montoUsd = parseFloat(String(row[\"__EMPTY_16\"] || \"0\").replace(/,/g, \"\")) || 0;\n  const pago = parseFloat(String(row[\"__EMPTY_18\"] || \"0\").replace(/,/g, \"\")) || 0;\n  const diasVenc = parseInt(row[\"__EMPTY_13\"], 10) || 0;\n\n  const fechaVencUS = dateTextToUS(row[\"__EMPTY_12\"]);\n  const fechaVencISO = dateTextToIso(row[\"__EMPTY_12\"]);\n\n  output.push({\n    json: {\n      VENDEDOR: vendedor,\n      DOCUMENTO: String(docNum),\n      RAZON_SOCIAL: razonSocial,\n      TELEFONO: telefono,\n      SALDO_DOC: saldoDoc,\n      FECHA_VENC: fechaVencUS,\n      FECHA_VENC_ISO: fechaVencISO,\n      DIAS_VENCIDOS: diasVenc,\n      MONTO_USD: montoUsd,\n      PAGO: pago,\n      TITULO_TRATO: \"Factura \" + String(docNum) + \" - \" + razonSocial,\n    },\n  });\n}\n\nreturn output;\n"
      },
      "name": "Limpiar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        304
      ],
      "id": "981059fe-ea42-4ae2-969b-df9802c36ed2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CFG = {\"baseUrl\": \"https://eduardonolasco18.kommo.com\", \"token\": \"__SET_KOMMO_TOKEN__\", \"pipelineId\": 13256923, \"initialStatusId\": 102372207, \"tag\": \"cobranza_n8n_excel\", \"fieldIds\": {\"documento\": 1858660, \"telefono\": 1858664, \"fecha_venc_text\": 1858666, \"saldo_pendiente\": 1858672, \"pago_realizado\": 1858674, \"razon_social\": 1858676, \"fecha_venc_date\": 1859896, \"aviso_3d\": 1860878, \"aviso_2d\": 1860880, \"aviso_1d\": 1860882, \"ultimo_hash\": 1860884, \"ultimo_abono\": 1860886}};\n\nfunction normalizePhone(v) {\n  const digits = String(v || \"\").replace(/[^0-9]/g, \"\");\n  if (!digits) return \"\";\n  if (digits.length === 10) return \"521\" + digits;\n  if (digits.length === 12 && digits.startsWith(\"52\")) return \"521\" + digits.slice(2);\n  if (digits.length === 13 && digits.startsWith(\"521\")) return digits;\n  return digits;\n}\n\nfunction toNumber(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction getFieldValue(entity, fieldId) {\n  const arr = Array.isArray(entity.custom_fields_values) ? entity.custom_fields_values : [];\n  const hit = arr.find((f) => Number(f.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return \"\";\n  const val = hit.values[0].value;\n  return val === null || val === undefined ? \"\" : String(val);\n}\n\nasync function req(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nfunction toKommoDateTime(value) {\n  const raw = String(value || \"\").trim();\n  if (!raw) return \"\";\n  if (/^\\d{4}-\\d{2}-\\d{2}T/.test(raw)) return raw;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(raw)) return raw + \"T06:00:00+00:00\";\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return d.toISOString();\n  return \"\";\n}\n\nfunction cfPayload(row) {\n  const fields = [];\n  fields.push({ field_id: CFG.fieldIds.documento, values: [{ value: String(row.DOCUMENTO || \"\") }] });\n  fields.push({ field_id: CFG.fieldIds.telefono, values: [{ value: String(row.TELEFONO || \"\") }] });\n  fields.push({ field_id: CFG.fieldIds.fecha_venc_text, values: [{ value: String(row.FECHA_VENC || \"\") }] });\n  fields.push({ field_id: CFG.fieldIds.saldo_pendiente, values: [{ value: Number(row.SALDO_DOC || 0) }] });\n  fields.push({ field_id: CFG.fieldIds.pago_realizado, values: [{ value: Number(row.PAGO || 0) }] });\n  fields.push({ field_id: CFG.fieldIds.razon_social, values: [{ value: String(row.RAZON_SOCIAL || \"\") }] });\n  const dueDateTime = toKommoDateTime(row.FECHA_VENC_ISO || row.FECHA_VENC);\n  if (dueDateTime) {\n    fields.push({ field_id: CFG.fieldIds.fecha_venc_date, values: [{ value: dueDateTime }] });\n  }\n  return fields;\n}\n\nconst row = $json;\nconst documento = String(row.DOCUMENTO || \"\").trim();\nconst telefono = normalizePhone(row.TELEFONO);\nif (!documento || !telefono) {\n  return {\n    json: {\n      ...row,\n      upsert_status: \"skipped\",\n      upsert_reason: \"missing_documento_or_telefono\",\n    },\n  };\n}\n\nconst leadBody = {\n  name: row.TITULO_TRATO || (\"Factura \" + documento + \" - \" + (row.RAZON_SOCIAL || \"Cliente\")),\n  price: Math.round(toNumber(row.SALDO_DOC)),\n  custom_fields_values: cfPayload(row),\n  _embedded: {\n    tags: [{ name: CFG.tag }],\n  },\n};\n\nconst leadSearch = await req(\"GET\", \"/api/v4/leads?query=\" + encodeURIComponent(documento) + \"&limit=250&with=custom_fields_values,tags\");\nif (leadSearch.statusCode >= 400) {\n  throw new Error(\"Lead search failed: \" + leadSearch.statusCode + \" \" + JSON.stringify(leadSearch.body || {}));\n}\n\nconst candidates = (((leadSearch.body || {})._embedded || {}).leads || []);\nconst existing = candidates.find((lead) => {\n  const doc = getFieldValue(lead, CFG.fieldIds.documento);\n  const ph = normalizePhone(getFieldValue(lead, CFG.fieldIds.telefono));\n  return String(doc).trim() === documento && ph === telefono;\n});\n\nlet leadId;\nlet action;\nif (existing) {\n  leadId = Number(existing.id);\n  action = \"updated\";\n  const patchLead = {\n    id: leadId,\n    ...leadBody,\n  };\n  if (Number(existing.pipeline_id) !== Number(CFG.pipelineId)) {\n    patchLead.pipeline_id = CFG.pipelineId;\n    if (Number(CFG.initialStatusId) > 0) {\n      patchLead.status_id = Number(CFG.initialStatusId);\n    }\n  }\n  const patchBody = [patchLead];\n  const patchRes = await req(\"PATCH\", \"/api/v4/leads\", patchBody);\n  if (patchRes.statusCode >= 400) {\n    throw new Error(\"Lead patch failed: \" + patchRes.statusCode + \" \" + JSON.stringify(patchRes.body || {}));\n  }\n} else {\n  action = \"created\";\n  const createLead = {\n    ...leadBody,\n    pipeline_id: CFG.pipelineId,\n  };\n  if (Number(CFG.initialStatusId) > 0) {\n    createLead.status_id = Number(CFG.initialStatusId);\n  }\n  let createRes = await req(\"POST\", \"/api/v4/leads\", [createLead]);\n  if (createRes.statusCode >= 400) {\n    const payload = JSON.stringify(createRes.body || {});\n    const statusChoiceErr = payload.includes(\"NotSupportedChoice\") && payload.includes(\"status_id\");\n    if (statusChoiceErr && Object.prototype.hasOwnProperty.call(createLead, \"status_id\")) {\n      delete createLead.status_id;\n      createRes = await req(\"POST\", \"/api/v4/leads\", [createLead]);\n    }\n  }\n  if (createRes.statusCode >= 400) {\n    throw new Error(\"Lead create failed: \" + createRes.statusCode + \" \" + JSON.stringify(createRes.body || {}));\n  }\n  const created = ((((createRes.body || {})._embedded || {}).leads || [])[0] || {});\n  leadId = Number(created.id);\n}\n\nif (!leadId) {\n  throw new Error(\"Lead ID not resolved for documento \" + documento);\n}\n\nconst contactSearch = await req(\"GET\", \"/api/v4/contacts?query=\" + encodeURIComponent(telefono) + \"&limit=250&with=custom_fields_values\");\nif (contactSearch.statusCode >= 400) {\n  throw new Error(\"Contact search failed: \" + contactSearch.statusCode + \" \" + JSON.stringify(contactSearch.body || {}));\n}\n\nconst contactCandidates = (((contactSearch.body || {})._embedded || {}).contacts || []);\nlet contact = contactCandidates.find((c) => {\n  const phoneField = (Array.isArray(c.custom_fields_values) ? c.custom_fields_values : []).find((f) => String(f.field_name || \"\").toLowerCase() === \"phone\" || Number(f.field_id) === 1792418);\n  if (!phoneField || !Array.isArray(phoneField.values)) return false;\n  const all = phoneField.values.map((x) => normalizePhone(x.value));\n  return all.includes(telefono);\n});\n\nif (!contact) {\n  const contactBody = [{\n    name: String(row.RAZON_SOCIAL || (\"Cliente \" + telefono)),\n    custom_fields_values: [\n      { field_id: 1792418, values: [{ value: \"+\" + telefono }] },\n    ],\n    _embedded: {\n      tags: [{ name: CFG.tag }],\n    },\n  }];\n  const cRes = await req(\"POST\", \"/api/v4/contacts\", contactBody);\n  if (cRes.statusCode >= 400) {\n    throw new Error(\"Contact create failed: \" + cRes.statusCode + \" \" + JSON.stringify(cRes.body || {}));\n  }\n  contact = ((((cRes.body || {})._embedded || {}).contacts || [])[0] || {});\n}\n\nlet linkStatus = \"linked_or_already\";\nif (contact && contact.id) {\n  const linkRes = await req(\"POST\", \"/api/v4/leads/\" + leadId + \"/link\", [\n    { to_entity_id: Number(contact.id), to_entity_type: \"contacts\" },\n  ]);\n  if (linkRes.statusCode >= 400) {\n    linkStatus = \"link_failed\";\n  }\n}\n\nreturn {\n  json: {\n    ...row,\n    lead_id: leadId,\n    contact_id: contact ? Number(contact.id) : null,\n    upsert_status: action,\n    link_status: linkStatus,\n    tag_applied: CFG.tag,\n  },\n};\n"
      },
      "id": "59319b11-ccb2-4120-8917-f6d2e9a38380",
      "name": "Upsert Lead+Contacto (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        304
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "id": "9a28d0f2-0adf-45e3-bf35-eb647482d423",
      "name": "Cron Cobranza 09:00",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        272,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const CFG = {\"baseUrl\": \"https://eduardonolasco18.kommo.com\", \"token\": \"__SET_KOMMO_TOKEN__\", \"pipelineId\": 13256923, \"paidStatusId\": 102225739, \"statusIds\": {\"leads_entrantes\": 102225711, \"entrada_inicial\": 102372207, \"recordatorio_enviado\": 102225715, \"pagado\": 102225739, \"pago_parcial\": 102226103, \"fecha_limite\": 102309531, \"atrasado\": 102308999}, \"tag\": \"cobranza_n8n_excel\", \"timezone\": \"America/Mexico_City\", \"fieldIds\": {\"documento\": 1858660, \"telefono\": 1858664, \"fecha_venc_text\": 1858666, \"saldo_pendiente\": 1858672, \"pago_realizado\": 1858674, \"razon_social\": 1858676, \"fecha_venc_date\": 1859896, \"aviso_3d\": 1860878, \"aviso_2d\": 1860880, \"aviso_1d\": 1860882, \"ultimo_hash\": 1860884, \"ultimo_abono\": 1860886}};\n\nfunction fieldVal(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return \"\";\n  const v = hit.values[0].value;\n  return v === null || v === undefined ? \"\" : String(v);\n}\n\nfunction parseDateAny(v) {\n  const s = String(v || \"\").trim();\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(s)) {\n    const [mm, dd, yyyy] = s.split(\"/\");\n    return `${yyyy}-${mm}-${dd}`;\n  }\n  if (/^\\d+$/.test(s)) {\n    const n = Number(s);\n    if (Number.isFinite(n)) {\n      const ms = n < 100000000000 ? n * 1000 : n;\n      const dNum = new Date(ms);\n      if (!Number.isNaN(dNum.getTime())) return dNum.toISOString().slice(0, 10);\n    }\n  }\n  const d = new Date(s);\n  if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  return null;\n}\n\nfunction todayIso(tz) {\n  const parts = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: tz,\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n  }).formatToParts(new Date());\n  const y = parts.find((p) => p.type === \"year\")?.value;\n  const m = parts.find((p) => p.type === \"month\")?.value;\n  const d = parts.find((p) => p.type === \"day\")?.value;\n  return `${y}-${m}-${d}`;\n}\n\nfunction kommoNowIso() {\n  const d = new Date();\n  const y = d.getUTCFullYear();\n  const m = String(d.getUTCMonth() + 1).padStart(2, \"0\");\n  const day = String(d.getUTCDate()).padStart(2, \"0\");\n  const h = String(d.getUTCHours()).padStart(2, \"0\");\n  const min = String(d.getUTCMinutes()).padStart(2, \"0\");\n  const s = String(d.getUTCSeconds()).padStart(2, \"0\");\n  return `${y}-${m}-${day}T${h}:${min}:${s}+00:00`;\n}\n\nfunction daysBetween(aIso, bIso) {\n  const a = new Date(aIso + \"T00:00:00Z\");\n  const b = new Date(bIso + \"T00:00:00Z\");\n  return Math.round((b.getTime() - a.getTime()) / 86400000);\n}\n\nasync function req(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nasync function note(leadId, text) {\n  await req(\"POST\", \"/api/v4/leads/\" + leadId + \"/notes\", [{ note_type: \"common\", params: { text } }]);\n}\n\nasync function task(leadId, responsibleId, text) {\n  const complete = Math.floor(Date.now() / 1000) + 86400;\n  await req(\"POST\", \"/api/v4/tasks\", [{\n    text,\n    complete_till: complete,\n    entity_id: Number(leadId),\n    entity_type: \"leads\",\n    responsible_user_id: Number(responsibleId || 14811623),\n  }]);\n}\n\nconst logs = [];\nconst today = todayIso(CFG.timezone);\nconst partialStatusId = Number((CFG.statusIds || {}).pago_parcial || 0);\nconst deadlineStatusId = Number((CFG.statusIds || {}).fecha_limite || 0);\nconst overdueStatusId = Number((CFG.statusIds || {}).atrasado || 0);\nconst reminderSentStatusId = Number((CFG.statusIds || {}).recordatorio_enviado || 0);\nconst inputRows = $input.all().map((x) => x.json || {});\nconst uploadDocs = new Set(\n  inputRows\n    .map((r) => String(r.DOCUMENTO || \"\").trim())\n    .filter((v) => v.length > 0)\n);\nconst uploadMode = uploadDocs.size > 0;\n\nasync function moveStatus(leadId, statusId) {\n  if (!(Number(statusId) > 0)) return { ok: true, skipped: true, statusCode: 0 };\n  const mv = await req(\"PATCH\", \"/api/v4/leads\", [{ id: Number(leadId), status_id: Number(statusId) }]);\n  return { ok: mv.statusCode < 400, skipped: false, statusCode: Number(mv.statusCode || 0), body: mv.body || {} };\n}\n\nasync function markReminder(leadId, fieldId) {\n  const nowIso = kommoNowIso();\n  const res = await req(\"PATCH\", \"/api/v4/leads\", [{\n    id: Number(leadId),\n    custom_fields_values: [{ field_id: fieldId, values: [{ value: nowIso }] }],\n  }]);\n  return { ok: res.statusCode < 400, statusCode: Number(res.statusCode || 0), body: res.body || {} };\n}\n\nconst leads = [];\nfor (let page = 1; page <= 100; page += 1) {\n  const listRes = await req(\"GET\", \"/api/v4/leads?limit=250&page=\" + page + \"&with=custom_fields_values,tags\");\n  if (listRes.statusCode >= 400) {\n    throw new Error(\"Lead list failed: \" + listRes.statusCode + \" \" + JSON.stringify(listRes.body || {}));\n  }\n  const chunk = ((((listRes.body || {})._embedded || {}).leads) || []);\n  if (!chunk.length) break;\n  leads.push(...chunk);\n  const hasNext = Boolean((((listRes.body || {})._links || {}).next || {}).href);\n  if (!hasNext) break;\n}\nfor (const lead of leads) {\n  const tags = ((((lead._embedded || {}).tags) || [])).map((t) => String(t.name || \"\").toLowerCase().trim());\n  if (!tags.includes(String(CFG.tag).toLowerCase())) continue;\n  if (Number(lead.pipeline_id) !== Number(CFG.pipelineId)) continue;\n  if (Number(lead.status_id) === Number(CFG.paidStatusId)) continue;\n\n  const documento = fieldVal(lead, CFG.fieldIds.documento);\n  if (uploadMode && !uploadDocs.has(String(documento || \"\").trim())) continue;\n  const saldo = Number(fieldVal(lead, CFG.fieldIds.saldo_pendiente) || 0);\n  const pagoRealizado = Number(fieldVal(lead, CFG.fieldIds.pago_realizado) || 0);\n  if (!(saldo > 0)) continue;\n\n  const dueIso = parseDateAny(fieldVal(lead, CFG.fieldIds.fecha_venc_date) || fieldVal(lead, CFG.fieldIds.fecha_venc_text));\n  if (!dueIso) continue;\n  const d = daysBetween(today, dueIso);\n\n  const firstSent = fieldVal(lead, CFG.fieldIds.aviso_3d);\n  const dueSent = fieldVal(lead, CFG.fieldIds.aviso_2d);\n  const finalSent = fieldVal(lead, CFG.fieldIds.aviso_1d);\n\n  let reminderType = \"\";\n  let stageTarget = Number(lead.status_id || 0);\n  let reminderFieldId = 0;\n\n  if (d === 5 && !firstSent) {\n    reminderType = \"5D\";\n    stageTarget = reminderSentStatusId > 0 ? reminderSentStatusId : Number(lead.status_id || 0);\n    reminderFieldId = Number(CFG.fieldIds.aviso_3d || 0);\n  } else if (!uploadMode && d === 0 && !dueSent) {\n    reminderType = \"DUE\";\n    if (pagoRealizado > 0 && partialStatusId > 0) {\n      stageTarget = partialStatusId;\n    } else if (deadlineStatusId > 0) {\n      stageTarget = deadlineStatusId;\n    }\n    reminderFieldId = Number(CFG.fieldIds.aviso_2d || 0);\n  } else if (!uploadMode && d <= -5 && !finalSent) {\n    reminderType = \"LATE_5D\";\n    if (overdueStatusId > 0) {\n      stageTarget = overdueStatusId;\n    }\n    reminderFieldId = Number(CFG.fieldIds.aviso_1d || 0);\n  } else if (!uploadMode && d < 0 && overdueStatusId > 0 && Number(lead.status_id) !== overdueStatusId) {\n    await moveStatus(lead.id, overdueStatusId);\n    continue;\n  } else {\n    continue;\n  }\n\n  const moveRes =\n    Number(stageTarget) > 0 && Number(stageTarget) !== Number(lead.status_id || 0)\n      ? await moveStatus(lead.id, stageTarget)\n      : { ok: true, skipped: true, statusCode: 0 };\n  const markRes = reminderFieldId > 0 ? await markReminder(lead.id, reminderFieldId) : { ok: true, statusCode: 0 };\n\n  if (!moveRes.ok || !markRes.ok) {\n    await note(\n      lead.id,\n      \"No se pudo preparar el recordatorio automatico en n8n. move_http=\" +\n        String(moveRes.statusCode || 0) +\n        \" mark_http=\" +\n        String(markRes.statusCode || 0)\n    );\n    await task(lead.id, lead.responsible_user_id, \"Cobranza manual: error preparando recordatorio \" + reminderType);\n  }\n\n  logs.push({\n    lead_id: Number(lead.id),\n    documento: documento,\n    days_to_due: d,\n    reminder_type: reminderType,\n    send_result: moveRes.ok && markRes.ok ? \"stage_prepared\" : \"failed\",\n    stage_target: Number(stageTarget || 0),\n    move_http: Number(moveRes.statusCode || 0),\n    mark_http: Number(markRes.statusCode || 0),\n    abono_detectado: null,\n    saldo_nuevo: saldo,\n  });\n}\n\nreturn [{ json: { run_at: new Date().toISOString(), upload_mode: uploadMode, upload_docs_count: uploadDocs.size, count: logs.length, logs } }];\n"
      },
      "id": "6eec061b-d206-4e17-a22e-ef9e0e82c8e1",
      "name": "Reminder Engine (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kommo-cobranza",
        "options": {}
      },
      "id": "2d775cb2-41e1-4ca6-9044-fee602f4ac20",
      "name": "Webhook Cobranza",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        272,
        832
      ],
      "webhookId": "dfc86f84-3364-4f3c-ba6c-4e75bc6678d6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const p = $json.body ?? $json;\nlet data = p;\nif (typeof data === \"string\") {\n  data = Object.fromEntries(new URLSearchParams(data));\n}\nconst message_text = data[\"message[add][0][text]\"] || \"\";\nconst contact_name = data[\"message[add][0][author][name]\"] || \"\";\nconst lead_id = data[\"message[add][0][element_id]\"] || data[\"message[add][0][entity_id]\"] || \"\";\nconst talk_id = data[\"message[add][0][talk_id]\"] || \"\";\nconst chat_id = data[\"message[add][0][chat_id]\"] || \"\";\nconst origin = data[\"message[add][0][origin]\"] || \"\";\nconst attachment_type = data[\"message[add][0][attachment][type]\"] || \"\";\nconst media_url = data[\"message[add][0][attachment][link]\"] || \"\";\nconst media_filename = data[\"message[add][0][attachment][file_name]\"] || \"file\";\nconst is_audio = attachment_type === \"voice\";\nconst is_image = attachment_type === \"picture\";\nconst is_document = attachment_type === \"document\" || attachment_type === \"file\" || String(media_filename).toLowerCase().endsWith(\".pdf\");\nconst is_media = is_audio || is_image || is_document;\n\nif (!lead_id) throw new Error(\"No llego lead_id\");\nif (!message_text && !is_media) throw new Error(\"No llego mensaje de texto ni media\");\n\nreturn {\n  json: {\n    message_text, contact_name, lead_id, talk_id, chat_id, origin,\n    sessionId: talk_id, is_audio, is_image, is_document, is_media,\n    media_url, media_filename, attachment_type\n  }\n};\n"
      },
      "id": "d2e6320a-64a3-4b3d-9ec4-dc0a2a821a25",
      "name": "Parsear Chat Cobranza (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CFG = {\"baseUrl\": \"https://eduardonolasco18.kommo.com\", \"token\": \"__SET_KOMMO_TOKEN__\", \"tag\": \"cobranza_n8n_excel\", \"fieldIds\": {\"documento\": 1858660, \"telefono\": 1858664, \"fecha_venc_text\": 1858666, \"saldo_pendiente\": 1858672, \"pago_realizado\": 1858674, \"razon_social\": 1858676, \"fecha_venc_date\": 1859896, \"aviso_3d\": 1860878, \"aviso_2d\": 1860880, \"aviso_1d\": 1860882, \"ultimo_hash\": 1860884, \"ultimo_abono\": 1860886}, \"timezone\": \"America/Mexico_City\"};\n\nfunction normalizePhone(v) {\n  const digits = String(v || \"\").replace(/[^0-9]/g, \"\");\n  if (!digits) return \"\";\n  if (digits.length === 10) return \"521\" + digits;\n  if (digits.length === 12 && digits.startsWith(\"52\")) return \"521\" + digits.slice(2);\n  if (digits.length === 13 && digits.startsWith(\"521\")) return digits;\n  return digits;\n}\n\nfunction getFieldValue(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return \"\";\n  const val = hit.values[0].value;\n  return val === null || val === undefined ? \"\" : String(val);\n}\n\nfunction parseAnyDate(value) {\n  const raw = String(value || \"\").trim();\n  if (!raw) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(raw)) return raw;\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(raw)) {\n    const [mm, dd, yyyy] = raw.split(\"/\");\n    return `${yyyy}-${mm}-${dd}`;\n  }\n  if (/^\\d+$/.test(raw)) {\n    const n = Number(raw);\n    if (Number.isFinite(n)) {\n      const ms = n < 100000000000 ? n * 1000 : n;\n      const dNum = new Date(ms);\n      if (!Number.isNaN(dNum.getTime())) return dNum.toISOString().slice(0, 10);\n    }\n  }\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  return null;\n}\n\nfunction todayIso(timezoneName) {\n  const parts = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: timezoneName,\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n  }).formatToParts(new Date());\n  const y = parts.find((p) => p.type === \"year\")?.value;\n  const m = parts.find((p) => p.type === \"month\")?.value;\n  const d = parts.find((p) => p.type === \"day\")?.value;\n  return `${y}-${m}-${d}`;\n}\n\nasync function req(path) {\n  return await this.helpers.httpRequest({\n    method: \"GET\",\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nconst item = $json;\nconst leadId = Number(item.lead_id || 0);\nif (!leadId) return { json: { ...item, is_cobranza_lead: false, should_process_cobranza_receipt: false } };\n\nconst leadRes = await req(\"/api/v4/leads/\" + leadId + \"?with=custom_fields_values,tags\");\nif (leadRes.statusCode >= 400) {\n  return { json: { ...item, is_cobranza_lead: false, should_process_cobranza_receipt: false, cobranza_detect_error: \"lead_fetch_failed\" } };\n}\n\nconst lead = leadRes.body || {};\nconst tags = ((((lead._embedded || {}).tags) || [])).map((t) => String(t.name || \"\").toLowerCase().trim());\nconst hasTag = tags.includes(String(CFG.tag).toLowerCase());\nconst doc = getFieldValue(lead, CFG.fieldIds.documento);\nconst isCobranza = hasTag || Boolean(String(doc).trim());\n\nconst aviso3 = getFieldValue(lead, CFG.fieldIds.aviso_3d);\nconst vencDate = parseAnyDate(getFieldValue(lead, CFG.fieldIds.fecha_venc_date) || getFieldValue(lead, CFG.fieldIds.fecha_venc_text));\nconst today = todayIso(CFG.timezone);\nconst duePassed = Boolean(vencDate && today > vencDate);\nconst withinWindow = Boolean(isCobranza && (Boolean(aviso3) || duePassed || !vencDate));\n\nconst attachment = String(item.attachment_type || \"\").toLowerCase();\nconst fileName = String(item.media_filename || \"\").toLowerCase();\nconst isPdf = attachment === \"document\" || attachment === \"file\" || fileName.endsWith(\".pdf\");\nconst hasText = Boolean(String(item.message_text || \"\").trim());\nconst shouldProcess = Boolean(isCobranza && withinWindow && (item.is_image || isPdf || hasText));\n\nreturn {\n  json: {\n    ...item,\n    is_cobranza_lead: isCobranza,\n    cobranza_has_tag: hasTag,\n    cobranza_documento: doc,\n    cobranza_within_window: withinWindow,\n    cobranza_due_iso: vencDate || \"\",\n    cobranza_today_iso: today,\n    cobranza_due_passed: duePassed,\n    cobranza_aviso_3d_sent: Boolean(aviso3),\n    cobranza_saldo_actual: Number(getFieldValue(lead, CFG.fieldIds.saldo_pendiente) || 0),\n    cobranza_pago_actual: Number(getFieldValue(lead, CFG.fieldIds.pago_realizado) || 0),\n    cobranza_last_hash: getFieldValue(lead, CFG.fieldIds.ultimo_hash),\n    cobranza_is_pdf: isPdf,\n    should_process_cobranza_receipt: shouldProcess,\n  },\n};\n"
      },
      "id": "0c54b501-cac3-485e-9fd1-9b5f04609f80",
      "name": "Detectar Cobranza Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cobranza-switch",
              "leftValue": "={{ $json.should_process_cobranza_receipt }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0752f0a8-2b82-456a-b9f5-3a7b3400e5e3",
      "name": "Ruta Cobranza Recibo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        992,
        832
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CFG = {\"baseUrl\": \"https://eduardonolasco18.kommo.com\", \"token\": \"__SET_KOMMO_TOKEN__\", \"openAiApiKey\": \"__SET_OPENAI_API_KEY__\", \"openAiModel\": \"gpt-5-nano\", \"paidStatusId\": 102225739, \"partialStatusId\": 102226103, \"fieldIds\": {\"documento\": 1858660, \"telefono\": 1858664, \"fecha_venc_text\": 1858666, \"saldo_pendiente\": 1858672, \"pago_realizado\": 1858674, \"razon_social\": 1858676, \"fecha_venc_date\": 1859896, \"aviso_3d\": 1860878, \"aviso_2d\": 1860880, \"aviso_1d\": 1860882, \"ultimo_hash\": 1860884, \"ultimo_abono\": 1860886}};\n\nconst https = require(\"https\");\nconst http = require(\"http\");\n\nfunction nowUnixPlusDay() {\n  return Math.floor(Date.now() / 1000) + 86400;\n}\n\nfunction simpleHash(input) {\n  const str = String(input || \"\");\n  let h = 2166136261;\n  for (let i = 0; i < str.length; i += 1) {\n    h ^= str.charCodeAt(i);\n    h = Math.imul(h, 16777619);\n  }\n  return (h >>> 0).toString(16).padStart(8, \"0\");\n}\n\nfunction toNumberFlexible(value) {\n  const raw = String(value === null || value === undefined ? \"\" : value).trim();\n  if (!raw) return NaN;\n  if (/^-?\\d+(?:\\.\\d+)?$/.test(raw)) return Number(raw);\n  let t = raw.replace(/\\s+/g, \"\");\n  const hasDot = t.includes(\".\");\n  const hasComma = t.includes(\",\");\n  if (hasDot && hasComma) {\n    if (t.lastIndexOf(\",\") > t.lastIndexOf(\".\")) {\n      t = t.replace(/\\./g, \"\").replace(\",\", \".\");\n    } else {\n      t = t.replace(/,/g, \"\");\n    }\n    return Number(t);\n  }\n  if (hasComma) {\n    const commaCount = (t.match(/,/g) || []).length;\n    if (commaCount === 1 && t.split(\",\")[1].length <= 2) return Number(t.replace(\",\", \".\"));\n    return Number(t.replace(/,/g, \"\"));\n  }\n  if (hasDot) {\n    const dotCount = (t.match(/\\./g) || []).length;\n    if (dotCount === 1 && t.split(\".\")[1].length <= 2) return Number(t);\n    return Number(t.replace(/\\./g, \"\"));\n  }\n  return Number(t);\n}\n\nfunction detectMime(fileName, fallback) {\n  const lower = String(fileName || \"\").toLowerCase();\n  if (lower.endsWith(\".png\")) return \"image/png\";\n  if (lower.endsWith(\".jpg\") || lower.endsWith(\".jpeg\")) return \"image/jpeg\";\n  if (lower.endsWith(\".gif\")) return \"image/gif\";\n  if (lower.endsWith(\".webp\")) return \"image/webp\";\n  if (lower.endsWith(\".pdf\")) return \"application/pdf\";\n  return String(fallback || \"\").split(\";\")[0] || \"application/octet-stream\";\n}\n\nfunction compact(value, limit) {\n  const txt = typeof value === \"string\" ? value : JSON.stringify(value || {});\n  return txt.length > limit ? txt.slice(0, limit) + \"...(trunc)\" : txt;\n}\n\nfunction extractOpenAiText(body) {\n  const chunks = [];\n  for (const item of body.output || []) {\n    for (const part of item.content || []) {\n      if (part.type === \"output_text\" && part.text) chunks.push(String(part.text));\n    }\n  }\n  return chunks.join(\"\\n\").trim();\n}\n\nfunction parseJsonLoose(text) {\n  const raw = String(text || \"\").trim();\n  if (!raw) return null;\n  try {\n    return JSON.parse(raw);\n  } catch (e) {\n    const start = raw.indexOf(\"{\");\n    const end = raw.lastIndexOf(\"}\");\n    if (start >= 0 && end > start) {\n      try {\n        return JSON.parse(raw.slice(start, end + 1));\n      } catch (e2) {}\n    }\n  }\n  return null;\n}\n\nfunction extractAmountFromMessage(text) {\n  const src = String(text || \"\");\n  const candidates = src.match(/\\d{1,3}(?:[.,]\\d{3})*(?:[.,]\\d{1,2})|\\d+(?:[.,]\\d{1,2})?/g) || [];\n  let best = 0;\n  for (const token of candidates) {\n    const n = toNumberFlexible(token);\n    if (Number.isFinite(n) && n > best) best = n;\n  }\n  return best;\n}\n\nasync function request(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nasync function createNote(leadId, text) {\n  await request(\"POST\", \"/api/v4/leads/\" + leadId + \"/notes\", [{ note_type: \"common\", params: { text } }]);\n}\n\nasync function createTask(leadId, responsibleUserId, text) {\n  await request(\"POST\", \"/api/v4/tasks\", [{\n    text,\n    complete_till: nowUnixPlusDay(),\n    entity_id: Number(leadId),\n    entity_type: \"leads\",\n    responsible_user_id: Number(responsibleUserId || 14811623),\n  }]);\n}\n\nasync function downloadBinary(url, redirects) {\n  const maxRedirects = 5;\n  const seen = Number(redirects || 0);\n  if (seen > maxRedirects) throw new Error(\"Too many redirects downloading media\");\n  const target = String(url || \"\");\n  if (!target) throw new Error(\"Missing media URL\");\n  const lib = target.startsWith(\"https\") ? https : http;\n  return await new Promise((resolve, reject) => {\n    const req = lib.get(target, (res) => {\n      const code = Number(res.statusCode || 0);\n      if ([301, 302, 303, 307, 308].includes(code) && res.headers.location) {\n        res.resume();\n        resolve(downloadBinary(res.headers.location, seen + 1));\n        return;\n      }\n      if (code >= 400) {\n        reject(new Error(\"Download failed \" + code));\n        return;\n      }\n      const chunks = [];\n      res.on(\"data\", (chunk) => chunks.push(chunk));\n      res.on(\"end\", () => {\n        resolve({\n          buffer: Buffer.concat(chunks),\n          contentType: String(res.headers[\"content-type\"] || \"\"),\n        });\n      });\n    });\n    req.on(\"error\", reject);\n  });\n}\n\nasync function analyzeWithOpenAI(row) {\n  const content = [];\n  const prompt = [\n    \"Analiza evidencia de pago de una cobranza.\",\n    \"Responde SOLO JSON valido con esta forma exacta:\",\n    '{\"es_pago\":true|false,\"es_recibo\":true|false,\"tipo\":\"abono|pago_total|no_pago|desconocido\",\"monto\":number|null,\"moneda\":\"MXN|USD|UNKNOWN\",\"referencia\":\"texto corto\",\"confidence\":number,\"requiere_revision_manual\":true|false,\"motivo\":\"texto corto\"}',\n    \"Reglas:\",\n    \"- Marca es_pago=true solo si hay intencion clara de pago o abono.\",\n    \"- Si el cliente solo promete pagar o pregunta algo, es_pago=false.\",\n    \"- Si no hay monto claro, monto=null y requiere_revision_manual=true.\",\n    \"- confidence debe ser un numero entre 0 y 1.\",\n    \"- Usa el texto del chat y el adjunto juntos si ambos existen.\",\n    \"- NUNCA uses Saldo actual ni Pago actual como monto detectado; solo sirven como contexto.\",\n    \"- No inventes montos ni referencias.\",\n    \"\",\n    \"Contexto del lead:\",\n    \"Documento: \" + String(row.cobranza_documento || \"\"),\n    \"Saldo actual: \" + String(row.cobranza_saldo_actual || 0),\n    \"Pago actual: \" + String(row.cobranza_pago_actual || 0),\n    \"Mensaje del cliente: \" + String(row.message_text || \"\"),\n  ].join(\"\\n\");\n  content.push({ type: \"input_text\", text: prompt });\n\n  if (row.is_image || row.cobranza_is_pdf) {\n    const downloaded = await downloadBinary.call(this, row.media_url, 0);\n    const mime = detectMime(row.media_filename, downloaded.contentType);\n    const base64 = downloaded.buffer.toString(\"base64\");\n    if (row.is_image) {\n      content.push({ type: \"input_image\", image_url: \"data:\" + mime + \";base64,\" + base64 });\n    } else if (row.cobranza_is_pdf) {\n      content.push({\n        type: \"input_file\",\n        filename: String(row.media_filename || \"comprobante.pdf\"),\n        file_data: \"data:application/pdf;base64,\" + base64,\n      });\n    }\n  }\n\n  const payload = {\n    model: CFG.openAiModel,\n    reasoning: { effort: \"minimal\" },\n    max_output_tokens: 420,\n    input: [{ role: \"user\", content }],\n  };\n\n  const response = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://api.openai.com/v1/responses\",\n    headers: {\n      Authorization: \"Bearer \" + CFG.openAiApiKey,\n      \"Content-Type\": \"application/json\",\n    },\n    body: payload,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n\n  if (response.statusCode >= 400) {\n    throw new Error(\"OpenAI HTTP \" + response.statusCode + \" \" + compact(response.body, 600));\n  }\n\n  const rawText = extractOpenAiText(response.body || {});\n  const parsed = parseJsonLoose(rawText);\n  if (!parsed) {\n    throw new Error(\"OpenAI invalid JSON \" + compact(rawText, 600));\n  }\n  return {\n    rawText,\n    parsed,\n    responseId: String((response.body || {}).id || \"\"),\n  };\n}\n\nconst row = $json;\nconst leadId = Number(row.lead_id || 0);\nif (!leadId) {\n  return { json: { ...row, cobranza_reply: \"No pude identificar tu cuenta para registrar el pago.\" } };\n}\n\nif (!row.cobranza_within_window) {\n  return { json: { ...row, cobranza_reply: \"Recibimos tu comprobante, pero esta fuera de la ventana automatica de validacion. Te atendera un asesor.\" } };\n}\n\nconst evidenceKey = row.media_url || row.media_filename\n  ? String(row.media_url || row.media_filename || \"\")\n  : \"text:\" + String(row.message_text || \"\").trim().toLowerCase();\nconst dedupeKey = String(leadId) + \"|\" + evidenceKey;\nconst hash = simpleHash(dedupeKey);\nif (String(row.cobranza_last_hash || \"\") === hash) {\n  return { json: { ...row, cobranza_reply: \"Este comprobante ya estaba registrado previamente. Gracias.\" } };\n}\n\nlet amount = 0;\nlet source = \"\";\nlet analysis = null;\nlet rawAiText = \"\";\ntry {\n  const ai = await analyzeWithOpenAI.call(this, row);\n  analysis = ai.parsed || {};\n  rawAiText = String(ai.rawText || \"\");\n  amount = toNumberFlexible((analysis || {}).monto);\n  source =\n    row.is_image ? \"openai_image\" :\n    row.cobranza_is_pdf ? \"openai_pdf\" :\n    \"openai_text\";\n} catch (e) {\n  await createNote(leadId, \"Cobranza IA error: \" + String(e.message || e));\n  await createTask(leadId, 14811623, \"Validar comprobante manualmente (error IA) en lead \" + leadId);\n  return {\n    json: {\n      ...row,\n      cobranza_reply: \"Recibimos tu comprobante, pero hubo un error tecnico al analizarlo. Un asesor lo revisara.\",\n      cobranza_detected_amount: null,\n    },\n  };\n}\n\nconst confidence = Number(toNumberFlexible((analysis || {}).confidence) || 0);\nconst isPayment = Boolean((analysis || {}).es_pago);\nconst requiresManual = Boolean((analysis || {}).requiere_revision_manual);\nconst textAmount = extractAmountFromMessage(row.message_text || \"\");\nconst textSuggestsPayment = /(abon|pago|pagu|deposit|transfer|liquid|comprobante|recibo)/i.test(String(row.message_text || \"\"));\nconst explicitTextAmount = textSuggestsPayment && Number.isFinite(textAmount) && textAmount > 0;\nif (explicitTextAmount) {\n  amount = textAmount;\n  source = source ? source + \"+message_text\" : \"message_text_support\";\n}\nconst minConfidence = 0.6;\nconst effectiveIsPayment = isPayment || explicitTextAmount;\nconst canTrustExplicitText = explicitTextAmount && Number.isFinite(amount) && amount > 0;\n\nif (!effectiveIsPayment) {\n  return {\n    json: {\n      ...row,\n      cobranza_reply: \"Recibimos tu mensaje. Un asesor revisara tu respuesta.\",\n      cobranza_detected_amount: null,\n      cobranza_ai_result: analysis,\n    },\n  };\n}\n\nif (!(Number.isFinite(amount) && amount > 0) || (!canTrustExplicitText && confidence < minConfidence) || (requiresManual && !canTrustExplicitText)) {\n  await createNote(\n    leadId,\n    \"Evidencia de pago requiere revision manual. confidence=\" +\n      String(confidence) +\n      \" | AI=\" +\n      compact(rawAiText || analysis, 900) +\n      \" | URL: \" +\n      String(row.media_url || \"\")\n  );\n  await createTask(leadId, 14811623, \"Validar pago manualmente (analisis IA no concluyente) en lead \" + leadId);\n  return {\n    json: {\n      ...row,\n      cobranza_reply: \"Recibimos tu comprobante. Un asesor validara el monto antes de aplicarlo.\",\n      cobranza_detected_amount: null,\n      cobranza_ai_result: analysis,\n    },\n  };\n}\n\nconst saldoActual = Number(row.cobranza_saldo_actual || 0);\nconst pagoActual = Number(row.cobranza_pago_actual || 0);\nconst pagoNuevo = Math.max(0, pagoActual + amount);\nconst saldoNuevo = Math.max(0, saldoActual - amount);\nconst partialStatusId = Number(CFG.partialStatusId || 0);\n\nconst customFields = [\n  { field_id: CFG.fieldIds.pago_realizado, values: [{ value: Number(pagoNuevo.toFixed(2)) }] },\n  { field_id: CFG.fieldIds.saldo_pendiente, values: [{ value: Number(saldoNuevo.toFixed(2)) }] },\n  { field_id: CFG.fieldIds.ultimo_abono, values: [{ value: Number(amount.toFixed(2)) }] },\n  { field_id: CFG.fieldIds.ultimo_hash, values: [{ value: hash }] },\n];\n\nconst patchLead = [{ id: leadId, custom_fields_values: customFields }];\nif (saldoNuevo <= 0) {\n  patchLead[0].status_id = CFG.paidStatusId;\n} else if (partialStatusId > 0) {\n  patchLead[0].status_id = partialStatusId;\n}\n\nconst patchRes = await request(\"PATCH\", \"/api/v4/leads\", patchLead);\nif (patchRes.statusCode >= 400) {\n  await createNote(leadId, \"Error al actualizar pago automatico: \" + JSON.stringify(patchRes.body || {}));\n  await createTask(leadId, 14811623, \"Error tecnico actualizando pago automatico en lead \" + leadId);\n  return { json: { ...row, cobranza_reply: \"Recibimos tu comprobante, pero hubo un error tecnico al registrar el pago. Te contactaremos.\" } };\n}\n\nawait createNote(\n  leadId,\n  \"Pago detectado automaticamente. Monto: \" +\n    Number(amount.toFixed(2)) +\n    \" | Saldo nuevo: \" +\n    Number(saldoNuevo.toFixed(2)) +\n    \" | Fuente: \" +\n    source +\n    \" | Confidence: \" +\n    String(confidence) +\n    \" | AI: \" +\n    compact(rawAiText || analysis, 600) +\n    \" | URL: \" +\n    String(row.media_url || \"\")\n);\n\nconst msg =\n  saldoNuevo <= 0\n    ? \"Gracias. Tu pago fue registrado y tu saldo quedo en 0. Factura liquidada.\"\n    : \"Gracias. Registramos tu abono de $\" +\n      Number(amount.toFixed(2)).toLocaleString(\"en-US\", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) +\n      \". Tu saldo pendiente es $\" +\n      Number(saldoNuevo.toFixed(2)).toLocaleString(\"en-US\", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) +\n      \".\";\n\nreturn {\n  json: {\n    ...row,\n    cobranza_detected_amount: Number(amount.toFixed(2)),\n    cobranza_saldo_nuevo: Number(saldoNuevo.toFixed(2)),\n    cobranza_ai_result: analysis,\n    cobranza_reply: msg,\n  },\n};\n"
      },
      "id": "2128f249-5247-485e-9883-fdac3f4e10ba",
      "name": "Cobranza OCR + Abono",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        768
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const CFG = {\"baseUrl\": \"https://eduardonolasco18.kommo.com\", \"token\": \"__SET_KOMMO_TOKEN__\", \"salesbotId\": 71916};\nconst row = $json;\nconst leadId = Number(row.lead_id || 0);\nif (!leadId) return { json: { ...row, cobranza_send_status: \"skipped_no_lead\" } };\n\nasync function req(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nfunction sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\n\nasync function latestOutgoingMarker(leadId) {\n  const evRes = await req(\n    \"GET\",\n    \"/api/v4/events?limit=20&filter[entity]=leads&filter[entity_id]=\" +\n      Number(leadId) +\n      \"&filter[type][]=outgoing_chat_message\"\n  );\n  if (evRes.statusCode >= 400) {\n    return { marker: \"\", http: Number(evRes.statusCode || 0), createdAt: 0 };\n  }\n  const ev = ((((evRes.body || {})._embedded || {}).events || [])[0] || {});\n  return {\n    marker: String(ev.id || \"\"),\n    http: Number(evRes.statusCode || 0),\n    createdAt: Number(ev.created_at || 0),\n  };\n}\n\nconst before = await latestOutgoingMarker(leadId);\nconst sendRes = await req(\"POST\", \"/api/v2/salesbot/run\", [{\n  bot_id: Number(CFG.salesbotId),\n  entity_id: leadId,\n  entity_type: 2,\n}]);\nlet after = before;\nif (sendRes.statusCode < 400) {\n  for (let i = 0; i < 5; i += 1) {\n    await sleep(1200);\n    after = await latestOutgoingMarker(leadId);\n    if (String(after.marker || \"\") && String(after.marker || \"\") !== String(before.marker || \"\")) break;\n  }\n}\nconst bodyTxt = (() => {\n  try {\n    const s = JSON.stringify(sendRes.body || {});\n    return s.length > 600 ? s.slice(0, 600) + \"...(trunc)\" : s;\n  } catch (e) {\n    return String(sendRes.body || \"\");\n  }\n})();\nconst delivered = String(after.marker || \"\") !== String(before.marker || \"\") && String(after.marker || \"\") !== \"\";\nconst ok = sendRes.statusCode < 400 && delivered;\n\nreturn {\n  json: {\n    ...row,\n    cobranza_send_status: ok ? \"sent\" : \"failed_no_outgoing_chat\",\n    cobranza_send_http: sendRes.statusCode,\n    cobranza_send_body: bodyTxt,\n    cobranza_send_mode: \"salesbot_run\",\n    cobranza_outgoing_before: before.marker || \"\",\n    cobranza_outgoing_after: after.marker || \"\",\n  },\n};\n"
      },
      "id": "ccfa52c3-533a-49b6-ae23-1813f55a41e0",
      "name": "Enviar Mensaje Cobranza (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        768
      ]
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Descargar Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Excel": {
      "main": [
        [
          {
            "node": "Leer Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Excel": {
      "main": [
        [
          {
            "node": "Limpiar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Datos": {
      "main": [
        [
          {
            "node": "Upsert Lead+Contacto (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead+Contacto (Code)": {
      "main": [
        [
          {
            "node": "Reminder Engine (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Cobranza 09:00": {
      "main": [
        [
          {
            "node": "Reminder Engine (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Cobranza": {
      "main": [
        [
          {
            "node": "Parsear Chat Cobranza (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Chat Cobranza (Code)": {
      "main": [
        [
          {
            "node": "Detectar Cobranza Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Cobranza Lead": {
      "main": [
        [
          {
            "node": "Ruta Cobranza Recibo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ruta Cobranza Recibo?": {
      "main": [
        [
          {
            "node": "Cobranza OCR + Abono",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Cobranza OCR + Abono": {
      "main": [
        [
          {
            "node": "Enviar Mensaje Cobranza (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Mexico_City"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "75169973-3fbf-46d8-bf16-c7a384b6ae40",
  "activeVersionId": "75169973-3fbf-46d8-bf16-c7a384b6ae40",
  "versionCounter": 188,
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2026-02-28T06:10:58.461Z",
      "createdAt": "2026-02-28T06:10:58.461Z",
      "role": "workflow:owner",
      "workflowId": "gfJm4JUoiUi7zZgaB2ob0",
      "projectId": "r4oqB6LLZI9aqq9A",
      "project": {
        "updatedAt": "2026-02-17T01:18:53.980Z",
        "createdAt": "2026-02-17T01:16:43.638Z",
        "id": "r4oqB6LLZI9aqq9A",
        "name": "Luis Puente <luisfrpuente@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "97ea2654-fe8a-429f-8016-bc837138bdd0",
        "projectRelations": [
          {
            "updatedAt": "2026-02-17T01:16:43.639Z",
            "createdAt": "2026-02-17T01:16:43.639Z",
            "userId": "97ea2654-fe8a-429f-8016-bc837138bdd0",
            "projectId": "r4oqB6LLZI9aqq9A",
            "user": {
              "updatedAt": "2026-03-10T23:17:00.000Z",
              "createdAt": "2026-02-17T01:16:43.320Z",
              "id": "97ea2654-fe8a-429f-8016-bc837138bdd0",
              "email": "luisfrpuente@gmail.com",
              "firstName": "Luis",
              "lastName": "Puente",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-17T01:19:05.438Z",
                "personalization_survey_n8n_version": "2.6.3"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "TDiINdgzi1YIiIZlwX0zG",
                "userActivatedAt": 1771294642757,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1773116056152
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-10T23:28:04.396Z",
    "createdAt": "2026-03-10T23:28:04.396Z",
    "versionId": "75169973-3fbf-46d8-bf16-c7a384b6ae40",
    "workflowId": "gfJm4JUoiUi7zZgaB2ob0",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1QFbTelTwH9M9_Sl-1F17KkiTgv9CqGl2",
            "mode": "list",
            "cachedResultName": "pruebakommo",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1QFbTelTwH9M9_Sl-1F17KkiTgv9CqGl2"
          },
          "event": "fileCreated",
          "options": {}
        },
        "name": "Google Drive Trigger",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          256,
          304
        ],
        "id": "22df3df8-5615-449c-814c-9fd147ce102e",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "p9Jf1xjKDCPCYy1s",
            "name": "Google Drive account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "name": "Descargar Excel",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          464,
          304
        ],
        "id": "e9bedc5e-50a0-4711-9b23-6caabe02d4e6",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "p9Jf1xjKDCPCYy1s",
            "name": "Google Drive account 2"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "name": "Leer Excel",
        "type": "n8n-nodes-base.spreadsheetFile",
        "typeVersion": 1,
        "position": [
          656,
          304
        ],
        "id": "0eeef03c-bb63-47ac-801d-ac1ee59139e5"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst output = [];\n\nfunction pad2(n) {\n  return String(n).padStart(2, \"0\");\n}\n\nfunction excelSerialToIso(serial) {\n  const num = Number(serial);\n  if (!Number.isFinite(num) || num < 1000) return \"\";\n  const utcDays = Math.floor(num - 25569);\n  const date = new Date(utcDays * 86400 * 1000);\n  const y = date.getUTCFullYear();\n  const m = pad2(date.getUTCMonth() + 1);\n  const d = pad2(date.getUTCDate());\n  return `${y}-${m}-${d}`;\n}\n\nfunction dateTextToIso(value) {\n  if (value === null || value === undefined) return \"\";\n  const str = String(value).trim();\n  if (!str) return \"\";\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(str)) return str;\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(str)) {\n    const [mm, dd, yyyy] = str.split(\"/\");\n    return `${yyyy}-${mm}-${dd}`;\n  }\n  const asNum = Number(str);\n  if (Number.isFinite(asNum)) return excelSerialToIso(asNum);\n  return \"\";\n}\n\nfunction dateTextToUS(value) {\n  if (value === null || value === undefined) return \"\";\n  const str = String(value).trim();\n  if (!str) return \"\";\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(str)) return str;\n  const iso = dateTextToIso(str);\n  if (!iso) return str;\n  const [y, m, d] = iso.split(\"-\");\n  return `${m}/${d}/${y}`;\n}\n\nfunction normalizeMxPhone(value) {\n  const digits = String(value || \"\").replace(/[^0-9]/g, \"\").trim();\n  if (!digits) return \"\";\n  if (digits.length === 10) return \"521\" + digits;\n  if (digits.length === 12 && digits.startsWith(\"52\")) return \"521\" + digits.slice(2);\n  if (digits.length === 13 && digits.startsWith(\"521\")) return digits;\n  return digits;\n}\n\nfor (const item of items) {\n  const row = item.json;\n  const documento = row[\"__EMPTY_5\"];\n  if (!documento) continue;\n  if (String(documento).trim().toUpperCase() === \"DOCUMENTO\") continue;\n\n  const docNum = parseInt(documento, 10);\n  if (Number.isNaN(docNum)) continue;\n\n  const telefono = normalizeMxPhone(row[\"__EMPTY_4\"]);\n  const razonSocial = String(row[\"__EMPTY_3\"] || \"Desconocido\").trim();\n  const vendedor = String(row[\"__EMPTY\"] || \"\").trim();\n\n  const saldoDoc = parseFloat(String(row[\"__EMPTY_17\"] || \"0\").replace(/,/g, \"\")) || 0;\n  const montoUsd = parseFloat(String(row[\"__EMPTY_16\"] || \"0\").replace(/,/g, \"\")) || 0;\n  const pago = parseFloat(String(row[\"__EMPTY_18\"] || \"0\").replace(/,/g, \"\")) || 0;\n  const diasVenc = parseInt(row[\"__EMPTY_13\"], 10) || 0;\n\n  const fechaVencUS = dateTextToUS(row[\"__EMPTY_12\"]);\n  const fechaVencISO = dateTextToIso(row[\"__EMPTY_12\"]);\n\n  output.push({\n    json: {\n      VENDEDOR: vendedor,\n      DOCUMENTO: String(docNum),\n      RAZON_SOCIAL: razonSocial,\n      TELEFONO: telefono,\n      SALDO_DOC: saldoDoc,\n      FECHA_VENC: fechaVencUS,\n      FECHA_VENC_ISO: fechaVencISO,\n      DIAS_VENCIDOS: diasVenc,\n      MONTO_USD: montoUsd,\n      PAGO: pago,\n      TITULO_TRATO: \"Factura \" + String(docNum) + \" - \" + razonSocial,\n    },\n  });\n}\n\nreturn output;\n"
        },
        "name": "Limpiar Datos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          864,
          304
        ],
        "id": "981059fe-ea42-4ae2-969b-df9802c36ed2"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const CFG = {\"baseUrl\": \"https://eduardonolasco18.kommo.com\", \"token\": \"__SET_KOMMO_TOKEN__\", \"pipelineId\": 13256923, \"initialStatusId\": 102372207, \"tag\": \"cobranza_n8n_excel\", \"fieldIds\": {\"documento\": 1858660, \"telefono\": 1858664, \"fecha_venc_text\": 1858666, \"saldo_pendiente\": 1858672, \"pago_realizado\": 1858674, \"razon_social\": 1858676, \"fecha_venc_date\": 1859896, \"aviso_3d\": 1860878, \"aviso_2d\": 1860880, \"aviso_1d\": 1860882, \"ultimo_hash\": 1860884, \"ultimo_abono\": 1860886}};\n\nfunction normalizePhone(v) {\n  const digits = String(v || \"\").replace(/[^0-9]/g, \"\");\n  if (!digits) return \"\";\n  if (digits.length === 10) return \"521\" + digits;\n  if (digits.length === 12 && digits.startsWith(\"52\")) return \"521\" + digits.slice(2);\n  if (digits.length === 13 && digits.startsWith(\"521\")) return digits;\n  return digits;\n}\n\nfunction toNumber(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction getFieldValue(entity, fieldId) {\n  const arr = Array.isArray(entity.custom_fields_values) ? entity.custom_fields_values : [];\n  const hit = arr.find((f) => Number(f.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return \"\";\n  const val = hit.values[0].value;\n  return val === null || val === undefined ? \"\" : String(val);\n}\n\nasync function req(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nfunction toKommoDateTime(value) {\n  const raw = String(value || \"\").trim();\n  if (!raw) return \"\";\n  if (/^\\d{4}-\\d{2}-\\d{2}T/.test(raw)) return raw;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(raw)) return raw + \"T06:00:00+00:00\";\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return d.toISOString();\n  return \"\";\n}\n\nfunction cfPayload(row) {\n  const fields = [];\n  fields.push({ field_id: CFG.fieldIds.documento, values: [{ value: String(row.DOCUMENTO || \"\") }] });\n  fields.push({ field_id: CFG.fieldIds.telefono, values: [{ value: String(row.TELEFONO || \"\") }] });\n  fields.push({ field_id: CFG.fieldIds.fecha_venc_text, values: [{ value: String(row.FECHA_VENC || \"\") }] });\n  fields.push({ field_id: CFG.fieldIds.saldo_pendiente, values: [{ value: Number(row.SALDO_DOC || 0) }] });\n  fields.push({ field_id: CFG.fieldIds.pago_realizado, values: [{ value: Number(row.PAGO || 0) }] });\n  fields.push({ field_id: CFG.fieldIds.razon_social, values: [{ value: String(row.RAZON_SOCIAL || \"\") }] });\n  const dueDateTime = toKommoDateTime(row.FECHA_VENC_ISO || row.FECHA_VENC);\n  if (dueDateTime) {\n    fields.push({ field_id: CFG.fieldIds.fecha_venc_date, values: [{ value: dueDateTime }] });\n  }\n  return fields;\n}\n\nconst row = $json;\nconst documento = String(row.DOCUMENTO || \"\").trim();\nconst telefono = normalizePhone(row.TELEFONO);\nif (!documento || !telefono) {\n  return {\n    json: {\n      ...row,\n      upsert_status: \"skipped\",\n      upsert_reason: \"missing_documento_or_telefono\",\n    },\n  };\n}\n\nconst leadBody = {\n  name: row.TITULO_TRATO || (\"Factura \" + documento + \" - \" + (row.RAZON_SOCIAL || \"Cliente\")),\n  price: Math.round(toNumber(row.SALDO_DOC)),\n  custom_fields_values: cfPayload(row),\n  _embedded: {\n    tags: [{ name: CFG.tag }],\n  },\n};\n\nconst leadSearch = await req(\"GET\", \"/api/v4/leads?query=\" + encodeURIComponent(documento) + \"&limit=250&with=custom_fields_values,tags\");\nif (leadSearch.statusCode >= 400) {\n  throw new Error(\"Lead search failed: \" + leadSearch.statusCode + \" \" + JSON.stringify(leadSearch.body || {}));\n}\n\nconst candidates = (((leadSearch.body || {})._embedded || {}).leads || []);\nconst existing = candidates.find((lead) => {\n  const doc = getFieldValue(lead, CFG.fieldIds.documento);\n  const ph = normalizePhone(getFieldValue(lead, CFG.fieldIds.telefono));\n  return String(doc).trim() === documento && ph === telefono;\n});\n\nlet leadId;\nlet action;\nif (existing) {\n  leadId = Number(existing.id);\n  action = \"updated\";\n  const patchLead = {\n    id: leadId,\n    ...leadBody,\n  };\n  if (Number(existing.pipeline_id) !== Number(CFG.pipelineId)) {\n    patchLead.pipeline_id = CFG.pipelineId;\n    if (Number(CFG.initialStatusId) > 0) {\n      patchLead.status_id = Number(CFG.initialStatusId);\n    }\n  }\n  const patchBody = [patchLead];\n  const patchRes = await req(\"PATCH\", \"/api/v4/leads\", patchBody);\n  if (patchRes.statusCode >= 400) {\n    throw new Error(\"Lead patch failed: \" + patchRes.statusCode + \" \" + JSON.stringify(patchRes.body || {}));\n  }\n} else {\n  action = \"created\";\n  const createLead = {\n    ...leadBody,\n    pipeline_id: CFG.pipelineId,\n  };\n  if (Number(CFG.initialStatusId) > 0) {\n    createLead.status_id = Number(CFG.initialStatusId);\n  }\n  let createRes = await req(\"POST\", \"/api/v4/leads\", [createLead]);\n  if (createRes.statusCode >= 400) {\n    const payload = JSON.stringify(createRes.body || {});\n    const statusChoiceErr = payload.includes(\"NotSupportedChoice\") && payload.includes(\"status_id\");\n    if (statusChoiceErr && Object.prototype.hasOwnProperty.call(createLead, \"status_id\")) {\n      delete createLead.status_id;\n      createRes = await req(\"POST\", \"/api/v4/leads\", [createLead]);\n    }\n  }\n  if (createRes.statusCode >= 400) {\n    throw new Error(\"Lead create failed: \" + createRes.statusCode + \" \" + JSON.stringify(createRes.body || {}));\n  }\n  const created = ((((createRes.body || {})._embedded || {}).leads || [])[0] || {});\n  leadId = Number(created.id);\n}\n\nif (!leadId) {\n  throw new Error(\"Lead ID not resolved for documento \" + documento);\n}\n\nconst contactSearch = await req(\"GET\", \"/api/v4/contacts?query=\" + encodeURIComponent(telefono) + \"&limit=250&with=custom_fields_values\");\nif (contactSearch.statusCode >= 400) {\n  throw new Error(\"Contact search failed: \" + contactSearch.statusCode + \" \" + JSON.stringify(contactSearch.body || {}));\n}\n\nconst contactCandidates = (((contactSearch.body || {})._embedded || {}).contacts || []);\nlet contact = contactCandidates.find((c) => {\n  const phoneField = (Array.isArray(c.custom_fields_values) ? c.custom_fields_values : []).find((f) => String(f.field_name || \"\").toLowerCase() === \"phone\" || Number(f.field_id) === 1792418);\n  if (!phoneField || !Array.isArray(phoneField.values)) return false;\n  const all = phoneField.values.map((x) => normalizePhone(x.value));\n  return all.includes(telefono);\n});\n\nif (!contact) {\n  const contactBody = [{\n    name: String(row.RAZON_SOCIAL || (\"Cliente \" + telefono)),\n    custom_fields_values: [\n      { field_id: 1792418, values: [{ value: \"+\" + telefono }] },\n    ],\n    _embedded: {\n      tags: [{ name: CFG.tag }],\n    },\n  }];\n  const cRes = await req(\"POST\", \"/api/v4/contacts\", contactBody);\n  if (cRes.statusCode >= 400) {\n    throw new Error(\"Contact create failed: \" + cRes.statusCode + \" \" + JSON.stringify(cRes.body || {}));\n  }\n  contact = ((((cRes.body || {})._embedded || {}).contacts || [])[0] || {});\n}\n\nlet linkStatus = \"linked_or_already\";\nif (contact && contact.id) {\n  const linkRes = await req(\"POST\", \"/api/v4/leads/\" + leadId + \"/link\", [\n    { to_entity_id: Number(contact.id), to_entity_type: \"contacts\" },\n  ]);\n  if (linkRes.statusCode >= 400) {\n    linkStatus = \"link_failed\";\n  }\n}\n\nreturn {\n  json: {\n    ...row,\n    lead_id: leadId,\n    contact_id: contact ? Number(contact.id) : null,\n    upsert_status: action,\n    link_status: linkStatus,\n    tag_applied: CFG.tag,\n  },\n};\n"
        },
        "id": "59319b11-ccb2-4120-8917-f6d2e9a38380",
        "name": "Upsert Lead+Contacto (Code)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1504,
          304
        ]
      },
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 9
              }
            ]
          }
        },
        "id": "9a28d0f2-0adf-45e3-bf35-eb647482d423",
        "name": "Cron Cobranza 09:00",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [
          272,
          560
        ]
      },
      {
        "parameters": {
          "jsCode": "const CFG = {\"baseUrl\": \"https://eduardonolasco18.kommo.com\", \"token\": \"__SET_KOMMO_TOKEN__\", \"pipelineId\": 13256923, \"paidStatusId\": 102225739, \"statusIds\": {\"leads_entrantes\": 102225711, \"entrada_inicial\": 102372207, \"recordatorio_enviado\": 102225715, \"pagado\": 102225739, \"pago_parcial\": 102226103, \"fecha_limite\": 102309531, \"atrasado\": 102308999}, \"tag\": \"cobranza_n8n_excel\", \"timezone\": \"America/Mexico_City\", \"fieldIds\": {\"documento\": 1858660, \"telefono\": 1858664, \"fecha_venc_text\": 1858666, \"saldo_pendiente\": 1858672, \"pago_realizado\": 1858674, \"razon_social\": 1858676, \"fecha_venc_date\": 1859896, \"aviso_3d\": 1860878, \"aviso_2d\": 1860880, \"aviso_1d\": 1860882, \"ultimo_hash\": 1860884, \"ultimo_abono\": 1860886}};\n\nfunction fieldVal(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return \"\";\n  const v = hit.values[0].value;\n  return v === null || v === undefined ? \"\" : String(v);\n}\n\nfunction parseDateAny(v) {\n  const s = String(v || \"\").trim();\n  if (!s) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(s)) return s;\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(s)) {\n    const [mm, dd, yyyy] = s.split(\"/\");\n    return `${yyyy}-${mm}-${dd}`;\n  }\n  if (/^\\d+$/.test(s)) {\n    const n = Number(s);\n    if (Number.isFinite(n)) {\n      const ms = n < 100000000000 ? n * 1000 : n;\n      const dNum = new Date(ms);\n      if (!Number.isNaN(dNum.getTime())) return dNum.toISOString().slice(0, 10);\n    }\n  }\n  const d = new Date(s);\n  if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  return null;\n}\n\nfunction todayIso(tz) {\n  const parts = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: tz,\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n  }).formatToParts(new Date());\n  const y = parts.find((p) => p.type === \"year\")?.value;\n  const m = parts.find((p) => p.type === \"month\")?.value;\n  const d = parts.find((p) => p.type === \"day\")?.value;\n  return `${y}-${m}-${d}`;\n}\n\nfunction kommoNowIso() {\n  const d = new Date();\n  const y = d.getUTCFullYear();\n  const m = String(d.getUTCMonth() + 1).padStart(2, \"0\");\n  const day = String(d.getUTCDate()).padStart(2, \"0\");\n  const h = String(d.getUTCHours()).padStart(2, \"0\");\n  const min = String(d.getUTCMinutes()).padStart(2, \"0\");\n  const s = String(d.getUTCSeconds()).padStart(2, \"0\");\n  return `${y}-${m}-${day}T${h}:${min}:${s}+00:00`;\n}\n\nfunction daysBetween(aIso, bIso) {\n  const a = new Date(aIso + \"T00:00:00Z\");\n  const b = new Date(bIso + \"T00:00:00Z\");\n  return Math.round((b.getTime() - a.getTime()) / 86400000);\n}\n\nasync function req(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nasync function note(leadId, text) {\n  await req(\"POST\", \"/api/v4/leads/\" + leadId + \"/notes\", [{ note_type: \"common\", params: { text } }]);\n}\n\nasync function task(leadId, responsibleId, text) {\n  const complete = Math.floor(Date.now() / 1000) + 86400;\n  await req(\"POST\", \"/api/v4/tasks\", [{\n    text,\n    complete_till: complete,\n    entity_id: Number(leadId),\n    entity_type: \"leads\",\n    responsible_user_id: Number(responsibleId || 14811623),\n  }]);\n}\n\nconst logs = [];\nconst today = todayIso(CFG.timezone);\nconst partialStatusId = Number((CFG.statusIds || {}).pago_parcial || 0);\nconst deadlineStatusId = Number((CFG.statusIds || {}).fecha_limite || 0);\nconst overdueStatusId = Number((CFG.statusIds || {}).atrasado || 0);\nconst reminderSentStatusId = Number((CFG.statusIds || {}).recordatorio_enviado || 0);\nconst inputRows = $input.all().map((x) => x.json || {});\nconst uploadDocs = new Set(\n  inputRows\n    .map((r) => String(r.DOCUMENTO || \"\").trim())\n    .filter((v) => v.length > 0)\n);\nconst uploadMode = uploadDocs.size > 0;\n\nasync function moveStatus(leadId, statusId) {\n  if (!(Number(statusId) > 0)) return { ok: true, skipped: true, statusCode: 0 };\n  const mv = await req(\"PATCH\", \"/api/v4/leads\", [{ id: Number(leadId), status_id: Number(statusId) }]);\n  return { ok: mv.statusCode < 400, skipped: false, statusCode: Number(mv.statusCode || 0), body: mv.body || {} };\n}\n\nasync function markReminder(leadId, fieldId) {\n  const nowIso = kommoNowIso();\n  const res = await req(\"PATCH\", \"/api/v4/leads\", [{\n    id: Number(leadId),\n    custom_fields_values: [{ field_id: fieldId, values: [{ value: nowIso }] }],\n  }]);\n  return { ok: res.statusCode < 400, statusCode: Number(res.statusCode || 0), body: res.body || {} };\n}\n\nconst leads = [];\nfor (let page = 1; page <= 100; page += 1) {\n  const listRes = await req(\"GET\", \"/api/v4/leads?limit=250&page=\" + page + \"&with=custom_fields_values,tags\");\n  if (listRes.statusCode >= 400) {\n    throw new Error(\"Lead list failed: \" + listRes.statusCode + \" \" + JSON.stringify(listRes.body || {}));\n  }\n  const chunk = ((((listRes.body || {})._embedded || {}).leads) || []);\n  if (!chunk.length) break;\n  leads.push(...chunk);\n  const hasNext = Boolean((((listRes.body || {})._links || {}).next || {}).href);\n  if (!hasNext) break;\n}\nfor (const lead of leads) {\n  const tags = ((((lead._embedded || {}).tags) || [])).map((t) => String(t.name || \"\").toLowerCase().trim());\n  if (!tags.includes(String(CFG.tag).toLowerCase())) continue;\n  if (Number(lead.pipeline_id) !== Number(CFG.pipelineId)) continue;\n  if (Number(lead.status_id) === Number(CFG.paidStatusId)) continue;\n\n  const documento = fieldVal(lead, CFG.fieldIds.documento);\n  if (uploadMode && !uploadDocs.has(String(documento || \"\").trim())) continue;\n  const saldo = Number(fieldVal(lead, CFG.fieldIds.saldo_pendiente) || 0);\n  const pagoRealizado = Number(fieldVal(lead, CFG.fieldIds.pago_realizado) || 0);\n  if (!(saldo > 0)) continue;\n\n  const dueIso = parseDateAny(fieldVal(lead, CFG.fieldIds.fecha_venc_date) || fieldVal(lead, CFG.fieldIds.fecha_venc_text));\n  if (!dueIso) continue;\n  const d = daysBetween(today, dueIso);\n\n  const firstSent = fieldVal(lead, CFG.fieldIds.aviso_3d);\n  const dueSent = fieldVal(lead, CFG.fieldIds.aviso_2d);\n  const finalSent = fieldVal(lead, CFG.fieldIds.aviso_1d);\n\n  let reminderType = \"\";\n  let stageTarget = Number(lead.status_id || 0);\n  let reminderFieldId = 0;\n\n  if (d === 5 && !firstSent) {\n    reminderType = \"5D\";\n    stageTarget = reminderSentStatusId > 0 ? reminderSentStatusId : Number(lead.status_id || 0);\n    reminderFieldId = Number(CFG.fieldIds.aviso_3d || 0);\n  } else if (!uploadMode && d === 0 && !dueSent) {\n    reminderType = \"DUE\";\n    if (pagoRealizado > 0 && partialStatusId > 0) {\n      stageTarget = partialStatusId;\n    } else if (deadlineStatusId > 0) {\n      stageTarget = deadlineStatusId;\n    }\n    reminderFieldId = Number(CFG.fieldIds.aviso_2d || 0);\n  } else if (!uploadMode && d <= -5 && !finalSent) {\n    reminderType = \"LATE_5D\";\n    if (overdueStatusId > 0) {\n      stageTarget = overdueStatusId;\n    }\n    reminderFieldId = Number(CFG.fieldIds.aviso_1d || 0);\n  } else if (!uploadMode && d < 0 && overdueStatusId > 0 && Number(lead.status_id) !== overdueStatusId) {\n    await moveStatus(lead.id, overdueStatusId);\n    continue;\n  } else {\n    continue;\n  }\n\n  const moveRes =\n    Number(stageTarget) > 0 && Number(stageTarget) !== Number(lead.status_id || 0)\n      ? await moveStatus(lead.id, stageTarget)\n      : { ok: true, skipped: true, statusCode: 0 };\n  const markRes = reminderFieldId > 0 ? await markReminder(lead.id, reminderFieldId) : { ok: true, statusCode: 0 };\n\n  if (!moveRes.ok || !markRes.ok) {\n    await note(\n      lead.id,\n      \"No se pudo preparar el recordatorio automatico en n8n. move_http=\" +\n        String(moveRes.statusCode || 0) +\n        \" mark_http=\" +\n        String(markRes.statusCode || 0)\n    );\n    await task(lead.id, lead.responsible_user_id, \"Cobranza manual: error preparando recordatorio \" + reminderType);\n  }\n\n  logs.push({\n    lead_id: Number(lead.id),\n    documento: documento,\n    days_to_due: d,\n    reminder_type: reminderType,\n    send_result: moveRes.ok && markRes.ok ? \"stage_prepared\" : \"failed\",\n    stage_target: Number(stageTarget || 0),\n    move_http: Number(moveRes.statusCode || 0),\n    mark_http: Number(markRes.statusCode || 0),\n    abono_detectado: null,\n    saldo_nuevo: saldo,\n  });\n}\n\nreturn [{ json: { run_at: new Date().toISOString(), upload_mode: uploadMode, upload_docs_count: uploadDocs.size, count: logs.length, logs } }];\n"
        },
        "id": "6eec061b-d206-4e17-a22e-ef9e0e82c8e1",
        "name": "Reminder Engine (Code)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          560
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "kommo-cobranza",
          "options": {}
        },
        "id": "2d775cb2-41e1-4ca6-9044-fee602f4ac20",
        "name": "Webhook Cobranza",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          272,
          832
        ],
        "webhookId": "dfc86f84-3364-4f3c-ba6c-4e75bc6678d6"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const p = $json.body ?? $json;\nlet data = p;\nif (typeof data === \"string\") {\n  data = Object.fromEntries(new URLSearchParams(data));\n}\nconst message_text = data[\"message[add][0][text]\"] || \"\";\nconst contact_name = data[\"message[add][0][author][name]\"] || \"\";\nconst lead_id = data[\"message[add][0][element_id]\"] || data[\"message[add][0][entity_id]\"] || \"\";\nconst talk_id = data[\"message[add][0][talk_id]\"] || \"\";\nconst chat_id = data[\"message[add][0][chat_id]\"] || \"\";\nconst origin = data[\"message[add][0][origin]\"] || \"\";\nconst attachment_type = data[\"message[add][0][attachment][type]\"] || \"\";\nconst media_url = data[\"message[add][0][attachment][link]\"] || \"\";\nconst media_filename = data[\"message[add][0][attachment][file_name]\"] || \"file\";\nconst is_audio = attachment_type === \"voice\";\nconst is_image = attachment_type === \"picture\";\nconst is_document = attachment_type === \"document\" || attachment_type === \"file\" || String(media_filename).toLowerCase().endsWith(\".pdf\");\nconst is_media = is_audio || is_image || is_document;\n\nif (!lead_id) throw new Error(\"No llego lead_id\");\nif (!message_text && !is_media) throw new Error(\"No llego mensaje de texto ni media\");\n\nreturn {\n  json: {\n    message_text, contact_name, lead_id, talk_id, chat_id, origin,\n    sessionId: talk_id, is_audio, is_image, is_document, is_media,\n    media_url, media_filename, attachment_type\n  }\n};\n"
        },
        "id": "d2e6320a-64a3-4b3d-9ec4-dc0a2a821a25",
        "name": "Parsear Chat Cobranza (Code)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          832
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const CFG = {\"baseUrl\": \"https://eduardonolasco18.kommo.com\", \"token\": \"__SET_KOMMO_TOKEN__\", \"tag\": \"cobranza_n8n_excel\", \"fieldIds\": {\"documento\": 1858660, \"telefono\": 1858664, \"fecha_venc_text\": 1858666, \"saldo_pendiente\": 1858672, \"pago_realizado\": 1858674, \"razon_social\": 1858676, \"fecha_venc_date\": 1859896, \"aviso_3d\": 1860878, \"aviso_2d\": 1860880, \"aviso_1d\": 1860882, \"ultimo_hash\": 1860884, \"ultimo_abono\": 1860886}, \"timezone\": \"America/Mexico_City\"};\n\nfunction normalizePhone(v) {\n  const digits = String(v || \"\").replace(/[^0-9]/g, \"\");\n  if (!digits) return \"\";\n  if (digits.length === 10) return \"521\" + digits;\n  if (digits.length === 12 && digits.startsWith(\"52\")) return \"521\" + digits.slice(2);\n  if (digits.length === 13 && digits.startsWith(\"521\")) return digits;\n  return digits;\n}\n\nfunction getFieldValue(lead, fieldId) {\n  const arr = Array.isArray(lead.custom_fields_values) ? lead.custom_fields_values : [];\n  const hit = arr.find((x) => Number(x.field_id) === Number(fieldId));\n  if (!hit || !Array.isArray(hit.values) || hit.values.length === 0) return \"\";\n  const val = hit.values[0].value;\n  return val === null || val === undefined ? \"\" : String(val);\n}\n\nfunction parseAnyDate(value) {\n  const raw = String(value || \"\").trim();\n  if (!raw) return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(raw)) return raw;\n  if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(raw)) {\n    const [mm, dd, yyyy] = raw.split(\"/\");\n    return `${yyyy}-${mm}-${dd}`;\n  }\n  if (/^\\d+$/.test(raw)) {\n    const n = Number(raw);\n    if (Number.isFinite(n)) {\n      const ms = n < 100000000000 ? n * 1000 : n;\n      const dNum = new Date(ms);\n      if (!Number.isNaN(dNum.getTime())) return dNum.toISOString().slice(0, 10);\n    }\n  }\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return d.toISOString().slice(0, 10);\n  return null;\n}\n\nfunction todayIso(timezoneName) {\n  const parts = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: timezoneName,\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n  }).formatToParts(new Date());\n  const y = parts.find((p) => p.type === \"year\")?.value;\n  const m = parts.find((p) => p.type === \"month\")?.value;\n  const d = parts.find((p) => p.type === \"day\")?.value;\n  return `${y}-${m}-${d}`;\n}\n\nasync function req(path) {\n  return await this.helpers.httpRequest({\n    method: \"GET\",\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nconst item = $json;\nconst leadId = Number(item.lead_id || 0);\nif (!leadId) return { json: { ...item, is_cobranza_lead: false, should_process_cobranza_receipt: false } };\n\nconst leadRes = await req(\"/api/v4/leads/\" + leadId + \"?with=custom_fields_values,tags\");\nif (leadRes.statusCode >= 400) {\n  return { json: { ...item, is_cobranza_lead: false, should_process_cobranza_receipt: false, cobranza_detect_error: \"lead_fetch_failed\" } };\n}\n\nconst lead = leadRes.body || {};\nconst tags = ((((lead._embedded || {}).tags) || [])).map((t) => String(t.name || \"\").toLowerCase().trim());\nconst hasTag = tags.includes(String(CFG.tag).toLowerCase());\nconst doc = getFieldValue(lead, CFG.fieldIds.documento);\nconst isCobranza = hasTag || Boolean(String(doc).trim());\n\nconst aviso3 = getFieldValue(lead, CFG.fieldIds.aviso_3d);\nconst vencDate = parseAnyDate(getFieldValue(lead, CFG.fieldIds.fecha_venc_date) || getFieldValue(lead, CFG.fieldIds.fecha_venc_text));\nconst today = todayIso(CFG.timezone);\nconst duePassed = Boolean(vencDate && today > vencDate);\nconst withinWindow = Boolean(isCobranza && (Boolean(aviso3) || duePassed || !vencDate));\n\nconst attachment = String(item.attachment_type || \"\").toLowerCase();\nconst fileName = String(item.media_filename || \"\").toLowerCase();\nconst isPdf = attachment === \"document\" || attachment === \"file\" || fileName.endsWith(\".pdf\");\nconst hasText = Boolean(String(item.message_text || \"\").trim());\nconst shouldProcess = Boolean(isCobranza && withinWindow && (item.is_image || isPdf || hasText));\n\nreturn {\n  json: {\n    ...item,\n    is_cobranza_lead: isCobranza,\n    cobranza_has_tag: hasTag,\n    cobranza_documento: doc,\n    cobranza_within_window: withinWindow,\n    cobranza_due_iso: vencDate || \"\",\n    cobranza_today_iso: today,\n    cobranza_due_passed: duePassed,\n    cobranza_aviso_3d_sent: Boolean(aviso3),\n    cobranza_saldo_actual: Number(getFieldValue(lead, CFG.fieldIds.saldo_pendiente) || 0),\n    cobranza_pago_actual: Number(getFieldValue(lead, CFG.fieldIds.pago_realizado) || 0),\n    cobranza_last_hash: getFieldValue(lead, CFG.fieldIds.ultimo_hash),\n    cobranza_is_pdf: isPdf,\n    should_process_cobranza_receipt: shouldProcess,\n  },\n};\n"
        },
        "id": "0c54b501-cac3-485e-9fd1-9b5f04609f80",
        "name": "Detectar Cobranza Lead",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          768,
          832
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cobranza-switch",
                "leftValue": "={{ $json.should_process_cobranza_receipt }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "0752f0a8-2b82-456a-b9f5-3a7b3400e5e3",
        "name": "Ruta Cobranza Recibo?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          992,
          832
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const CFG = {\"baseUrl\": \"https://eduardonolasco18.kommo.com\", \"token\": \"__SET_KOMMO_TOKEN__\", \"openAiApiKey\": \"__SET_OPENAI_API_KEY__\", \"openAiModel\": \"gpt-5-nano\", \"paidStatusId\": 102225739, \"partialStatusId\": 102226103, \"fieldIds\": {\"documento\": 1858660, \"telefono\": 1858664, \"fecha_venc_text\": 1858666, \"saldo_pendiente\": 1858672, \"pago_realizado\": 1858674, \"razon_social\": 1858676, \"fecha_venc_date\": 1859896, \"aviso_3d\": 1860878, \"aviso_2d\": 1860880, \"aviso_1d\": 1860882, \"ultimo_hash\": 1860884, \"ultimo_abono\": 1860886}};\n\nconst https = require(\"https\");\nconst http = require(\"http\");\n\nfunction nowUnixPlusDay() {\n  return Math.floor(Date.now() / 1000) + 86400;\n}\n\nfunction simpleHash(input) {\n  const str = String(input || \"\");\n  let h = 2166136261;\n  for (let i = 0; i < str.length; i += 1) {\n    h ^= str.charCodeAt(i);\n    h = Math.imul(h, 16777619);\n  }\n  return (h >>> 0).toString(16).padStart(8, \"0\");\n}\n\nfunction toNumberFlexible(value) {\n  const raw = String(value === null || value === undefined ? \"\" : value).trim();\n  if (!raw) return NaN;\n  if (/^-?\\d+(?:\\.\\d+)?$/.test(raw)) return Number(raw);\n  let t = raw.replace(/\\s+/g, \"\");\n  const hasDot = t.includes(\".\");\n  const hasComma = t.includes(\",\");\n  if (hasDot && hasComma) {\n    if (t.lastIndexOf(\",\") > t.lastIndexOf(\".\")) {\n      t = t.replace(/\\./g, \"\").replace(\",\", \".\");\n    } else {\n      t = t.replace(/,/g, \"\");\n    }\n    return Number(t);\n  }\n  if (hasComma) {\n    const commaCount = (t.match(/,/g) || []).length;\n    if (commaCount === 1 && t.split(\",\")[1].length <= 2) return Number(t.replace(\",\", \".\"));\n    return Number(t.replace(/,/g, \"\"));\n  }\n  if (hasDot) {\n    const dotCount = (t.match(/\\./g) || []).length;\n    if (dotCount === 1 && t.split(\".\")[1].length <= 2) return Number(t);\n    return Number(t.replace(/\\./g, \"\"));\n  }\n  return Number(t);\n}\n\nfunction detectMime(fileName, fallback) {\n  const lower = String(fileName || \"\").toLowerCase();\n  if (lower.endsWith(\".png\")) return \"image/png\";\n  if (lower.endsWith(\".jpg\") || lower.endsWith(\".jpeg\")) return \"image/jpeg\";\n  if (lower.endsWith(\".gif\")) return \"image/gif\";\n  if (lower.endsWith(\".webp\")) return \"image/webp\";\n  if (lower.endsWith(\".pdf\")) return \"application/pdf\";\n  return String(fallback || \"\").split(\";\")[0] || \"application/octet-stream\";\n}\n\nfunction compact(value, limit) {\n  const txt = typeof value === \"string\" ? value : JSON.stringify(value || {});\n  return txt.length > limit ? txt.slice(0, limit) + \"...(trunc)\" : txt;\n}\n\nfunction extractOpenAiText(body) {\n  const chunks = [];\n  for (const item of body.output || []) {\n    for (const part of item.content || []) {\n      if (part.type === \"output_text\" && part.text) chunks.push(String(part.text));\n    }\n  }\n  return chunks.join(\"\\n\").trim();\n}\n\nfunction parseJsonLoose(text) {\n  const raw = String(text || \"\").trim();\n  if (!raw) return null;\n  try {\n    return JSON.parse(raw);\n  } catch (e) {\n    const start = raw.indexOf(\"{\");\n    const end = raw.lastIndexOf(\"}\");\n    if (start >= 0 && end > start) {\n      try {\n        return JSON.parse(raw.slice(start, end + 1));\n      } catch (e2) {}\n    }\n  }\n  return null;\n}\n\nfunction extractAmountFromMessage(text) {\n  const src = String(text || \"\");\n  const candidates = src.match(/\\d{1,3}(?:[.,]\\d{3})*(?:[.,]\\d{1,2})|\\d+(?:[.,]\\d{1,2})?/g) || [];\n  let best = 0;\n  for (const token of candidates) {\n    const n = toNumberFlexible(token);\n    if (Number.isFinite(n) && n > best) best = n;\n  }\n  return best;\n}\n\nasync function request(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nasync function createNote(leadId, text) {\n  await request(\"POST\", \"/api/v4/leads/\" + leadId + \"/notes\", [{ note_type: \"common\", params: { text } }]);\n}\n\nasync function createTask(leadId, responsibleUserId, text) {\n  await request(\"POST\", \"/api/v4/tasks\", [{\n    text,\n    complete_till: nowUnixPlusDay(),\n    entity_id: Number(leadId),\n    entity_type: \"leads\",\n    responsible_user_id: Number(responsibleUserId || 14811623),\n  }]);\n}\n\nasync function downloadBinary(url, redirects) {\n  const maxRedirects = 5;\n  const seen = Number(redirects || 0);\n  if (seen > maxRedirects) throw new Error(\"Too many redirects downloading media\");\n  const target = String(url || \"\");\n  if (!target) throw new Error(\"Missing media URL\");\n  const lib = target.startsWith(\"https\") ? https : http;\n  return await new Promise((resolve, reject) => {\n    const req = lib.get(target, (res) => {\n      const code = Number(res.statusCode || 0);\n      if ([301, 302, 303, 307, 308].includes(code) && res.headers.location) {\n        res.resume();\n        resolve(downloadBinary(res.headers.location, seen + 1));\n        return;\n      }\n      if (code >= 400) {\n        reject(new Error(\"Download failed \" + code));\n        return;\n      }\n      const chunks = [];\n      res.on(\"data\", (chunk) => chunks.push(chunk));\n      res.on(\"end\", () => {\n        resolve({\n          buffer: Buffer.concat(chunks),\n          contentType: String(res.headers[\"content-type\"] || \"\"),\n        });\n      });\n    });\n    req.on(\"error\", reject);\n  });\n}\n\nasync function analyzeWithOpenAI(row) {\n  const content = [];\n  const prompt = [\n    \"Analiza evidencia de pago de una cobranza.\",\n    \"Responde SOLO JSON valido con esta forma exacta:\",\n    '{\"es_pago\":true|false,\"es_recibo\":true|false,\"tipo\":\"abono|pago_total|no_pago|desconocido\",\"monto\":number|null,\"moneda\":\"MXN|USD|UNKNOWN\",\"referencia\":\"texto corto\",\"confidence\":number,\"requiere_revision_manual\":true|false,\"motivo\":\"texto corto\"}',\n    \"Reglas:\",\n    \"- Marca es_pago=true solo si hay intencion clara de pago o abono.\",\n    \"- Si el cliente solo promete pagar o pregunta algo, es_pago=false.\",\n    \"- Si no hay monto claro, monto=null y requiere_revision_manual=true.\",\n    \"- confidence debe ser un numero entre 0 y 1.\",\n    \"- Usa el texto del chat y el adjunto juntos si ambos existen.\",\n    \"- NUNCA uses Saldo actual ni Pago actual como monto detectado; solo sirven como contexto.\",\n    \"- No inventes montos ni referencias.\",\n    \"\",\n    \"Contexto del lead:\",\n    \"Documento: \" + String(row.cobranza_documento || \"\"),\n    \"Saldo actual: \" + String(row.cobranza_saldo_actual || 0),\n    \"Pago actual: \" + String(row.cobranza_pago_actual || 0),\n    \"Mensaje del cliente: \" + String(row.message_text || \"\"),\n  ].join(\"\\n\");\n  content.push({ type: \"input_text\", text: prompt });\n\n  if (row.is_image || row.cobranza_is_pdf) {\n    const downloaded = await downloadBinary.call(this, row.media_url, 0);\n    const mime = detectMime(row.media_filename, downloaded.contentType);\n    const base64 = downloaded.buffer.toString(\"base64\");\n    if (row.is_image) {\n      content.push({ type: \"input_image\", image_url: \"data:\" + mime + \";base64,\" + base64 });\n    } else if (row.cobranza_is_pdf) {\n      content.push({\n        type: \"input_file\",\n        filename: String(row.media_filename || \"comprobante.pdf\"),\n        file_data: \"data:application/pdf;base64,\" + base64,\n      });\n    }\n  }\n\n  const payload = {\n    model: CFG.openAiModel,\n    reasoning: { effort: \"minimal\" },\n    max_output_tokens: 420,\n    input: [{ role: \"user\", content }],\n  };\n\n  const response = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://api.openai.com/v1/responses\",\n    headers: {\n      Authorization: \"Bearer \" + CFG.openAiApiKey,\n      \"Content-Type\": \"application/json\",\n    },\n    body: payload,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n\n  if (response.statusCode >= 400) {\n    throw new Error(\"OpenAI HTTP \" + response.statusCode + \" \" + compact(response.body, 600));\n  }\n\n  const rawText = extractOpenAiText(response.body || {});\n  const parsed = parseJsonLoose(rawText);\n  if (!parsed) {\n    throw new Error(\"OpenAI invalid JSON \" + compact(rawText, 600));\n  }\n  return {\n    rawText,\n    parsed,\n    responseId: String((response.body || {}).id || \"\"),\n  };\n}\n\nconst row = $json;\nconst leadId = Number(row.lead_id || 0);\nif (!leadId) {\n  return { json: { ...row, cobranza_reply: \"No pude identificar tu cuenta para registrar el pago.\" } };\n}\n\nif (!row.cobranza_within_window) {\n  return { json: { ...row, cobranza_reply: \"Recibimos tu comprobante, pero esta fuera de la ventana automatica de validacion. Te atendera un asesor.\" } };\n}\n\nconst evidenceKey = row.media_url || row.media_filename\n  ? String(row.media_url || row.media_filename || \"\")\n  : \"text:\" + String(row.message_text || \"\").trim().toLowerCase();\nconst dedupeKey = String(leadId) + \"|\" + evidenceKey;\nconst hash = simpleHash(dedupeKey);\nif (String(row.cobranza_last_hash || \"\") === hash) {\n  return { json: { ...row, cobranza_reply: \"Este comprobante ya estaba registrado previamente. Gracias.\" } };\n}\n\nlet amount = 0;\nlet source = \"\";\nlet analysis = null;\nlet rawAiText = \"\";\ntry {\n  const ai = await analyzeWithOpenAI.call(this, row);\n  analysis = ai.parsed || {};\n  rawAiText = String(ai.rawText || \"\");\n  amount = toNumberFlexible((analysis || {}).monto);\n  source =\n    row.is_image ? \"openai_image\" :\n    row.cobranza_is_pdf ? \"openai_pdf\" :\n    \"openai_text\";\n} catch (e) {\n  await createNote(leadId, \"Cobranza IA error: \" + String(e.message || e));\n  await createTask(leadId, 14811623, \"Validar comprobante manualmente (error IA) en lead \" + leadId);\n  return {\n    json: {\n      ...row,\n      cobranza_reply: \"Recibimos tu comprobante, pero hubo un error tecnico al analizarlo. Un asesor lo revisara.\",\n      cobranza_detected_amount: null,\n    },\n  };\n}\n\nconst confidence = Number(toNumberFlexible((analysis || {}).confidence) || 0);\nconst isPayment = Boolean((analysis || {}).es_pago);\nconst requiresManual = Boolean((analysis || {}).requiere_revision_manual);\nconst textAmount = extractAmountFromMessage(row.message_text || \"\");\nconst textSuggestsPayment = /(abon|pago|pagu|deposit|transfer|liquid|comprobante|recibo)/i.test(String(row.message_text || \"\"));\nconst explicitTextAmount = textSuggestsPayment && Number.isFinite(textAmount) && textAmount > 0;\nif (explicitTextAmount) {\n  amount = textAmount;\n  source = source ? source + \"+message_text\" : \"message_text_support\";\n}\nconst minConfidence = 0.6;\nconst effectiveIsPayment = isPayment || explicitTextAmount;\nconst canTrustExplicitText = explicitTextAmount && Number.isFinite(amount) && amount > 0;\n\nif (!effectiveIsPayment) {\n  return {\n    json: {\n      ...row,\n      cobranza_reply: \"Recibimos tu mensaje. Un asesor revisara tu respuesta.\",\n      cobranza_detected_amount: null,\n      cobranza_ai_result: analysis,\n    },\n  };\n}\n\nif (!(Number.isFinite(amount) && amount > 0) || (!canTrustExplicitText && confidence < minConfidence) || (requiresManual && !canTrustExplicitText)) {\n  await createNote(\n    leadId,\n    \"Evidencia de pago requiere revision manual. confidence=\" +\n      String(confidence) +\n      \" | AI=\" +\n      compact(rawAiText || analysis, 900) +\n      \" | URL: \" +\n      String(row.media_url || \"\")\n  );\n  await createTask(leadId, 14811623, \"Validar pago manualmente (analisis IA no concluyente) en lead \" + leadId);\n  return {\n    json: {\n      ...row,\n      cobranza_reply: \"Recibimos tu comprobante. Un asesor validara el monto antes de aplicarlo.\",\n      cobranza_detected_amount: null,\n      cobranza_ai_result: analysis,\n    },\n  };\n}\n\nconst saldoActual = Number(row.cobranza_saldo_actual || 0);\nconst pagoActual = Number(row.cobranza_pago_actual || 0);\nconst pagoNuevo = Math.max(0, pagoActual + amount);\nconst saldoNuevo = Math.max(0, saldoActual - amount);\nconst partialStatusId = Number(CFG.partialStatusId || 0);\n\nconst customFields = [\n  { field_id: CFG.fieldIds.pago_realizado, values: [{ value: Number(pagoNuevo.toFixed(2)) }] },\n  { field_id: CFG.fieldIds.saldo_pendiente, values: [{ value: Number(saldoNuevo.toFixed(2)) }] },\n  { field_id: CFG.fieldIds.ultimo_abono, values: [{ value: Number(amount.toFixed(2)) }] },\n  { field_id: CFG.fieldIds.ultimo_hash, values: [{ value: hash }] },\n];\n\nconst patchLead = [{ id: leadId, custom_fields_values: customFields }];\nif (saldoNuevo <= 0) {\n  patchLead[0].status_id = CFG.paidStatusId;\n} else if (partialStatusId > 0) {\n  patchLead[0].status_id = partialStatusId;\n}\n\nconst patchRes = await request(\"PATCH\", \"/api/v4/leads\", patchLead);\nif (patchRes.statusCode >= 400) {\n  await createNote(leadId, \"Error al actualizar pago automatico: \" + JSON.stringify(patchRes.body || {}));\n  await createTask(leadId, 14811623, \"Error tecnico actualizando pago automatico en lead \" + leadId);\n  return { json: { ...row, cobranza_reply: \"Recibimos tu comprobante, pero hubo un error tecnico al registrar el pago. Te contactaremos.\" } };\n}\n\nawait createNote(\n  leadId,\n  \"Pago detectado automaticamente. Monto: \" +\n    Number(amount.toFixed(2)) +\n    \" | Saldo nuevo: \" +\n    Number(saldoNuevo.toFixed(2)) +\n    \" | Fuente: \" +\n    source +\n    \" | Confidence: \" +\n    String(confidence) +\n    \" | AI: \" +\n    compact(rawAiText || analysis, 600) +\n    \" | URL: \" +\n    String(row.media_url || \"\")\n);\n\nconst msg =\n  saldoNuevo <= 0\n    ? \"Gracias. Tu pago fue registrado y tu saldo quedo en 0. Factura liquidada.\"\n    : \"Gracias. Registramos tu abono de $\" +\n      Number(amount.toFixed(2)).toLocaleString(\"en-US\", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) +\n      \". Tu saldo pendiente es $\" +\n      Number(saldoNuevo.toFixed(2)).toLocaleString(\"en-US\", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) +\n      \".\";\n\nreturn {\n  json: {\n    ...row,\n    cobranza_detected_amount: Number(amount.toFixed(2)),\n    cobranza_saldo_nuevo: Number(saldoNuevo.toFixed(2)),\n    cobranza_ai_result: analysis,\n    cobranza_reply: msg,\n  },\n};\n"
        },
        "id": "2128f249-5247-485e-9883-fdac3f4e10ba",
        "name": "Cobranza OCR + Abono",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1232,
          768
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const CFG = {\"baseUrl\": \"https://eduardonolasco18.kommo.com\", \"token\": \"__SET_KOMMO_TOKEN__\", \"salesbotId\": 71916};\nconst row = $json;\nconst leadId = Number(row.lead_id || 0);\nif (!leadId) return { json: { ...row, cobranza_send_status: \"skipped_no_lead\" } };\n\nasync function req(method, path, body) {\n  return await this.helpers.httpRequest({\n    method,\n    url: CFG.baseUrl + path,\n    headers: {\n      Authorization: \"Bearer \" + CFG.token,\n      \"Content-Type\": \"application/json\",\n    },\n    body,\n    json: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true,\n  });\n}\n\nfunction sleep(ms) {\n  return new Promise((resolve) => setTimeout(resolve, ms));\n}\n\nasync function latestOutgoingMarker(leadId) {\n  const evRes = await req(\n    \"GET\",\n    \"/api/v4/events?limit=20&filter[entity]=leads&filter[entity_id]=\" +\n      Number(leadId) +\n      \"&filter[type][]=outgoing_chat_message\"\n  );\n  if (evRes.statusCode >= 400) {\n    return { marker: \"\", http: Number(evRes.statusCode || 0), createdAt: 0 };\n  }\n  const ev = ((((evRes.body || {})._embedded || {}).events || [])[0] || {});\n  return {\n    marker: String(ev.id || \"\"),\n    http: Number(evRes.statusCode || 0),\n    createdAt: Number(ev.created_at || 0),\n  };\n}\n\nconst before = await latestOutgoingMarker(leadId);\nconst sendRes = await req(\"POST\", \"/api/v2/salesbot/run\", [{\n  bot_id: Number(CFG.salesbotId),\n  entity_id: leadId,\n  entity_type: 2,\n}]);\nlet after = before;\nif (sendRes.statusCode < 400) {\n  for (let i = 0; i < 5; i += 1) {\n    await sleep(1200);\n    after = await latestOutgoingMarker(leadId);\n    if (String(after.marker || \"\") && String(after.marker || \"\") !== String(before.marker || \"\")) break;\n  }\n}\nconst bodyTxt = (() => {\n  try {\n    const s = JSON.stringify(sendRes.body || {});\n    return s.length > 600 ? s.slice(0, 600) + \"...(trunc)\" : s;\n  } catch (e) {\n    return String(sendRes.body || \"\");\n  }\n})();\nconst delivered = String(after.marker || \"\") !== String(before.marker || \"\") && String(after.marker || \"\") !== \"\";\nconst ok = sendRes.statusCode < 400 && delivered;\n\nreturn {\n  json: {\n    ...row,\n    cobranza_send_status: ok ? \"sent\" : \"failed_no_outgoing_chat\",\n    cobranza_send_http: sendRes.statusCode,\n    cobranza_send_body: bodyTxt,\n    cobranza_send_mode: \"salesbot_run\",\n    cobranza_outgoing_before: before.marker || \"\",\n    cobranza_outgoing_after: after.marker || \"\",\n  },\n};\n"
        },
        "id": "ccfa52c3-533a-49b6-ae23-1813f55a41e0",
        "name": "Enviar Mensaje Cobranza (Code)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1472,
          768
        ]
      }
    ],
    "connections": {
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Descargar Excel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Descargar Excel": {
        "main": [
          [
            {
              "node": "Leer Excel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Excel": {
        "main": [
          [
            {
              "node": "Limpiar Datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpiar Datos": {
        "main": [
          [
            {
              "node": "Upsert Lead+Contacto (Code)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Lead+Contacto (Code)": {
        "main": [
          [
            {
              "node": "Reminder Engine (Code)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cron Cobranza 09:00": {
        "main": [
          [
            {
              "node": "Reminder Engine (Code)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Cobranza": {
        "main": [
          [
            {
              "node": "Parsear Chat Cobranza (Code)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parsear Chat Cobranza (Code)": {
        "main": [
          [
            {
              "node": "Detectar Cobranza Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detectar Cobranza Lead": {
        "main": [
          [
            {
              "node": "Ruta Cobranza Recibo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ruta Cobranza Recibo?": {
        "main": [
          [
            {
              "node": "Cobranza OCR + Abono",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Cobranza OCR + Abono": {
        "main": [
          [
            {
              "node": "Enviar Mensaje Cobranza (Code)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Luis Puente",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-10T23:28:04.755Z",
        "id": 233,
        "workflowId": "gfJm4JUoiUi7zZgaB2ob0",
        "versionId": "75169973-3fbf-46d8-bf16-c7a384b6ae40",
        "event": "activated",
        "userId": "97ea2654-fe8a-429f-8016-bc837138bdd0"
      }
    ]
  }
}